openapi: 3.2.0
info:
  title: Sigma Computing Public REST API Connectors API
  version: 2.0.0
  summary: The Sigma REST API provides developers access to resources programmatically, using HTTP.
  description: 'The Sigma REST API provides developers access to resources programmatically,

    using HTTP.'
  termsOfService: Contact Sigma
  contact:
    email: support@sigmacomputing.com
servers:
- url: https://api.sigmacomputing.com
  description: Server for GCP (US) hosted organizations
- url: https://api.sa.gcp.sigmacomputing.com
  description: Server for GCP (KSA) hosted organizations
- url: https://aws-api.sigmacomputing.com
  description: Server for AWS US (West) hosted organizations
- url: https://api.us-a.aws.sigmacomputing.com
  description: Server for AWS US (East) hosted organizations
- url: https://api.ca.aws.sigmacomputing.com
  description: Server for AWS Canada hosted organizations
- url: https://api.eu.aws.sigmacomputing.com
  description: Server for AWS Europe hosted organizations
- url: https://api.au.aws.sigmacomputing.com
  description: Server for AWS Australia and APAC hosted organizations
- url: https://api.uk.aws.sigmacomputing.com
  description: Server for AWS UK hosted organizations
- url: https://api.us.azure.sigmacomputing.com
  description: Server for Azure US hosted organizations
- url: https://api.eu.azure.sigmacomputing.com
  description: Server for Azure Europe hosted organizations
- url: https://api.ca.azure.sigmacomputing.com
  description: Server for Azure Canada hosted organizations
- url: https://api.uk.azure.sigmacomputing.com
  description: Server for Azure United Kingdom hosted organizations
- url: https://api.au.azure.sigmacomputing.com
  description: Server for Azure Australia hosted organizations
security:
- oauth2: []
tags:
- name: api Connectors
paths:
  /v2/api-connectors:
    get:
      summary: List API connectors
      description: 'This endpoint returns a paginated list of API connectors. For more information on API connectors, see Configure API credentials and connectors in Sigma.


        ### Usage notes

        - Only returns API connectors that the user making this request has at least **Can view** access to.

        - Use the `name` query parameter to filter by connector name.

        - Use the `orderBy` query parameter to set sort order.


        ### Usage scenarios

        - **Connector discovery:** Retrieve a list of available API connectors available to users configuring **Call API** actions.

        - **Connector management:** View and audit the organization''s API connectors.'
      parameters:
      - name: pageToken
        schema:
          type: string
          description: Use to specify the next set of results with the string returned in the `nextPageToken` field of the previous response.
          title: Page token
        in: query
      - name: pageSize
        schema:
          type: integer
          description: Number of results to return per page, with a maximum of 1000. Defaults to 50.
          title: Page size
        in: query
      - name: orderBy
        schema:
          type: string
          description: 'Sort order. Supported fields: `name`, `description`. Append ` desc` for descending (e.g. `name desc`). Defaults to `name` ascending.'
          title: Order by
        in: query
      - name: name
        schema:
          type: string
          description: Filter results to connectors whose name contains this substring.
        in: query
      operationId: listApiConnectors
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  properties:
                    entries:
                      type: array
                      items:
                        type: object
                        required:
                        - apiConnectorId
                        - name
                        - description
                        properties:
                          apiConnectorId:
                            type: string
                          name:
                            type: string
                          description:
                            type: string
                      description: Array of results returned by the endpoint
                      title: Result entries
                - type: object
                  properties:
                    nextPageToken:
                      type: string
                      description: 'A string that can be passed to the `pageToken` parameter in the next request to fetch the next page of results. Not present in the last page of results.

                        **Must be treated as an opaque string.**'
                      title: Next page token
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - api Connectors
    post:
      summary: Create an API connector
      description: 'This endpoint creates a new API connector that defines how to call an external HTTP endpoint from within Sigma. For more information on API connectors, see Configure API credentials and connectors in Sigma.


        ### Usage notes

        - The user making this request must be assigned an account type with the **Manage API connectors** permission enabled.

        - If a credential is provided using the `authId` parameter, the user making this request must have at least **Can view** permission on the credential and the request URL must match the credential''s allowlist.

        - Retrieve the **apiCredentialId** (used as `authId`) by calling the /v2/api-credentials endpoint.


        ### Usage scenarios

        - **Programmatic connector setup:** Automate creation of API connectors as part of an environment provisioning workflow.

        - **Integration onboarding:** Create connectors for each external service your workbooks need to interact with.'
      parameters: []
      operationId: createApiConnector
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - name
                - params
                properties:
                  name:
                    type: string
                    description: Display name of the connector.
                  params:
                    type: object
                    required:
                    - method
                    - url
                    - headers
                    - pathParams
                    - queryParams
                    - body
                    properties:
                      method:
                        type: string
                        enum:
                        - GET
                        - POST
                        - DELETE
                        - PATCH
                        - PUT
                        - OPTIONS
                        - HEAD
                        description: HTTP method to invoke.
                      url:
                        type: string
                        description: Request URL. Must resolve to a hostname matching the associated credential's allowlist.
                      headers:
                        type: array
                        items:
                          allOf:
                          - type: object
                            required:
                            - key
                            - mode
                            properties:
                              key:
                                type: string
                              mode:
                                type: string
                                enum:
                                - static
                                - dynamic
                          - type: object
                            properties:
                              value:
                                type:
                                - string
                                - 'null'
                              type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - array
                                - boolean
                                - number
                                - object
                                - raw
                                - string
                              shape:
                                oneOf:
                                - $ref: '#/components/schemas/ParamShapeNode'
                                - type: 'null'
                        description: Static or dynamic request headers.
                      pathParams:
                        type: array
                        items:
                          allOf:
                          - type: object
                            required:
                            - key
                            - mode
                            properties:
                              key:
                                type: string
                              mode:
                                type: string
                                enum:
                                - static
                                - dynamic
                          - type: object
                            properties:
                              value:
                                type:
                                - string
                                - 'null'
                              type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - array
                                - boolean
                                - number
                                - object
                                - raw
                                - string
                              shape:
                                oneOf:
                                - $ref: '#/components/schemas/ParamShapeNode'
                                - type: 'null'
                        description: Path parameter placeholders resolved into the URL.
                      queryParams:
                        type: array
                        items:
                          allOf:
                          - type: object
                            required:
                            - key
                            - mode
                            properties:
                              key:
                                type: string
                              mode:
                                type: string
                                enum:
                                - static
                                - dynamic
                          - type: object
                            properties:
                              value:
                                type:
                                - string
                                - 'null'
                              type:
                                type:
                                - string
                                - 'null'
                                enum:
                                - array
                                - boolean
                                - number
                                - object
                                - raw
                                - string
                              shape:
                                oneOf:
                                - $ref: '#/components/schemas/ParamShapeNode'
                                - type: 'null'
                        description: Query string parameters.
                      body:
                        type: string
                        description: Raw request body template.
              - type: object
                properties:
                  description:
                    type: string
                    description: Human-readable description.
                  config:
                    type: object
                    properties:
                      timeout:
                        type: object
                        required:
                        - requestSec
                        properties:
                          requestSec:
                            type: number
                        description: Per-request timeout configuration.
                      retry:
                        type: object
                        required:
                        - maxRetries
                        - retryableStatusCodes
                        properties:
                          maxRetries:
                            type: number
                          retryableStatusCodes:
                            type: array
                            items:
                              type: number
                        description: Retry policy. `retryableStatusCodes` are HTTP codes that should trigger a retry.
                      redirects:
                        type: object
                        required:
                        - maxRedirects
                        properties:
                          maxRedirects:
                            type: number
                        description: HTTP redirect handling.
                      rateLimit:
                        type: object
                        required:
                        - maxRequestsPerWindow
                        properties:
                          maxRequestsPerWindow:
                            type: number
                        description: Rate limit applied to outbound requests from this connector.
                  authId:
                    type: string
                    description: Identifier of the API credential (`apiCredentialId`) used to authenticate requests.
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - apiConnectorId
                  - name
                  - params
                  - config
                  properties:
                    apiConnectorId:
                      type: string
                      description: Unique identifier of the API connector.
                    name:
                      type: string
                      description: Display name of the connector.
                    params:
                      allOf:
                      - type: object
                        required:
                        - method
                        - url
                        - headers
                        - pathParams
                        - queryParams
                        - body
                        properties:
                          method:
                            type: string
                            enum:
                            - GET
                            - POST
                            - DELETE
                            - PATCH
                            - PUT
                            - OPTIONS
                            - HEAD
                            description: HTTP method to invoke.
                          url:
                            type: string
                            description: Request URL. Must resolve to a hostname matching the associated credential's allowlist.
                          headers:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - key
                                - mode
                                properties:
                                  key:
                                    type: string
                                  mode:
                                    type: string
                                    enum:
                                    - static
                                    - dynamic
                              - type: object
                                properties:
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    type:
                                    - string
                                    - 'null'
                                    enum:
                                    - array
                                    - boolean
                                    - number
                                    - object
                                    - raw
                                    - string
                                  shape:
                                    oneOf:
                                    - $ref: '#/components/schemas/ParamShapeNode'
                                    - type: 'null'
                            description: Static or dynamic request headers.
                          pathParams:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - key
                                - mode
                                properties:
                                  key:
                                    type: string
                                  mode:
                                    type: string
                                    enum:
                                    - static
                                    - dynamic
                              - type: object
                                properties:
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    type:
                                    - string
                                    - 'null'
                                    enum:
                                    - array
                                    - boolean
                                    - number
                                    - object
                                    - raw
                                    - string
                                  shape:
                                    oneOf:
                                    - $ref: '#/components/schemas/ParamShapeNode'
                                    - type: 'null'
                            description: Path parameter placeholders resolved into the URL.
                          queryParams:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - key
                                - mode
                                properties:
                                  key:
                                    type: string
                                  mode:
                                    type: string
                                    enum:
                                    - static
                                    - dynamic
                              - type: object
                                properties:
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    type:
                                    - string
                                    - 'null'
                                    enum:
                                    - array
                                    - boolean
                                    - number
                                    - object
                                    - raw
                                    - string
                                  shape:
                                    oneOf:
                                    - $ref: '#/components/schemas/ParamShapeNode'
                                    - type: 'null'
                            description: Query string parameters.
                          body:
                            type: string
                            description: Raw request body template.
                      - type: object
                        required:
                        - bodyParams
                        properties:
                          bodyParams:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - key
                                - mode
                                properties:
                                  key:
                                    type: string
                                  mode:
                                    type: string
                                    enum:
                                    - static
                                    - dynamic
                              - type: object
                                properties:
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    type:
                                    - string
                                    - 'null'
                                    enum:
                                    - array
                                    - boolean
                                    - number
                                    - object
                                    - raw
                                    - string
                                  shape:
                                    oneOf:
                                    - $ref: '#/components/schemas/ParamShapeNode'
                                    - type: 'null'
                            description: Dynamic parameters extracted from `body`.
                    config:
                      type: object
                      required:
                      - timeout
                      - retry
                      - redirects
                      - rateLimit
                      properties:
                        timeout:
                          type: object
                          required:
                          - requestSec
                          properties:
                            requestSec:
                              type: number
                          description: Per-request timeout configuration.
                        retry:
                          type: object
                          required:
                          - maxRetries
                          - retryableStatusCodes
                          properties:
                            maxRetries:
                              type: number
                            retryableStatusCodes:
                              type: array
                              items:
                                type: number
                          description: Retry policy. `retryableStatusCodes` are HTTP codes that should trigger a retry.
                        redirects:
                          type: object
                          required:
                          - maxRedirects
                          properties:
                            maxRedirects:
                              type: number
                          description: HTTP redirect handling.
                        rateLimit:
                          type: object
                          required:
                          - maxRequestsPerWindow
                          properties:
                            maxRequestsPerWindow:
                              type: number
                          description: Rate limit applied to outbound requests from this connector.
                - type: object
                  required:
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  properties:
                    createdBy:
                      type: string
                      description: The identifier of the user who created this object.
                    updatedBy:
                      type: string
                      description: The identifier of the user or process that last updated this object.
                    createdAt:
                      type: string
                      format: date-time
                      description: When the object was created.
                    updatedAt:
                      type: string
                      format: date-time
                      description: When the object was last updated.
                - type: object
                  properties:
                    description:
                      type: string
                      description: Human-readable description.
                    authId:
                      type:
                      - string
                      - 'null'
                      description: Identifier of the API credential (`apiCredentialId`) used to authenticate requests. `null` if unauthenticated.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - api Connectors
  /v2/api-connectors/{apiConnectorId}:
    get:
      summary: Get an API connector
      description: 'This endpoint returns full details for a single API connector, including its request parameters and configuration. For more information on API connectors, see Configure API credentials and connectors in Sigma.


        ### Usage notes

        - Only returns API connectors that the user making this request has at least **Can view** access to.

        - Retrieve the **apiConnectorId** by calling the /v2/api-connectors endpoint.


        ### Usage scenarios

        - **Connector inspection:** Retrieve the full configuration of a connector for display or validation before use.

        - **Connector duplication:** Read an existing connector''s configuration to use as the basis for a new one.'
      parameters:
      - name: apiConnectorId
        schema:
          type: string
        in: path
        required: true
      operationId: getApiConnector
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - apiConnectorId
                  - name
                  - params
                  - config
                  properties:
                    apiConnectorId:
                      type: string
                      description: Unique identifier of the API connector.
                    name:
                      type: string
                      description: Display name of the connector.
                    params:
                      allOf:
                      - type: object
                        required:
                        - method
                        - url
                        - headers
                        - pathParams
                        - queryParams
                        - body
                        properties:
                          method:
                            type: string
                            enum:
                            - GET
                            - POST
                            - DELETE
                            - PATCH
                            - PUT
                            - OPTIONS
                            - HEAD
                            description: HTTP method to invoke.
                          url:
                            type: string
                            description: Request URL. Must resolve to a hostname matching the associated credential's allowlist.
                          headers:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - key
                                - mode
                                properties:
                                  key:
                                    type: string
                                  mode:
                                    type: string
                                    enum:
                                    - static
                                    - dynamic
                              - type: object
                                properties:
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    type:
                                    - string
                                    - 'null'
                                    enum:
                                    - array
                                    - boolean
                                    - number
                                    - object
                                    - raw
                                    - string
                                  shape:
                                    oneOf:
                                    - $ref: '#/components/schemas/ParamShapeNode'
                                    - type: 'null'
                            description: Static or dynamic request headers.
                          pathParams:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - key
                                - mode
                                properties:
                                  key:
                                    type: string
                                  mode:
                                    type: string
                                    enum:
                                    - static
                                    - dynamic
                              - type: object
                                properties:
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    type:
                                    - string
                                    - 'null'
                                    enum:
                                    - array
                                    - boolean
                                    - number
                                    - object
                                    - raw
                                    - string
                                  shape:
                                    oneOf:
                                    - $ref: '#/components/schemas/ParamShapeNode'
                                    - type: 'null'
                            description: Path parameter placeholders resolved into the URL.
                          queryParams:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - key
                                - mode
                                properties:
                                  key:
                                    type: string
                                  mode:
                                    type: string
                                    enum:
                                    - static
                                    - dynamic
                              - type: object
                                properties:
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    type:
                                    - string
                                    - 'null'
                                    enum:
                                    - array
                                    - boolean
                                    - number
                                    - object
                                    - raw
                                    - string
                                  shape:
                                    oneOf:
                                    - $ref: '#/components/schemas/ParamShapeNode'
                                    - type: 'null'
                            description: Query string parameters.
                          body:
                            type: string
                            description: Raw request body template.
                      - type: object
                        required:
                        - bodyParams
                        properties:
                          bodyParams:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - key
                                - mode
                                properties:
                                  key:
                                    type: string
                                  mode:
                                    type: string
                                    enum:
                                    - static
                                    - dynamic
                              - type: object
                                properties:
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    type:
                                    - string
                                    - 'null'
                                    enum:
                                    - array
                                    - boolean
                                    - number
                                    - object
                                    - raw
                                    - string
                                  shape:
                                    oneOf:
                                    - $ref: '#/components/schemas/ParamShapeNode'
                                    - type: 'null'
                            description: Dynamic parameters extracted from `body`.
                    config:
                      type: object
                      required:
                      - timeout
                      - retry
                      - redirects
                      - rateLimit
                      properties:
                        timeout:
                          type: object
                          required:
                          - requestSec
                          properties:
                            requestSec:
                              type: number
                          description: Per-request timeout configuration.
                        retry:
                          type: object
                          required:
                          - maxRetries
                          - retryableStatusCodes
                          properties:
                            maxRetries:
                              type: number
                            retryableStatusCodes:
                              type: array
                              items:
                                type: number
                          description: Retry policy. `retryableStatusCodes` are HTTP codes that should trigger a retry.
                        redirects:
                          type: object
                          required:
                          - maxRedirects
                          properties:
                            maxRedirects:
                              type: number
                          description: HTTP redirect handling.
                        rateLimit:
                          type: object
                          required:
                          - maxRequestsPerWindow
                          properties:
                            maxRequestsPerWindow:
                              type: number
                          description: Rate limit applied to outbound requests from this connector.
                - type: object
                  required:
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  properties:
                    createdBy:
                      type: string
                      description: The identifier of the user who created this object.
                    updatedBy:
                      type: string
                      description: The identifier of the user or process that last updated this object.
                    createdAt:
                      type: string
                      format: date-time
                      description: When the object was created.
                    updatedAt:
                      type: string
                      format: date-time
                      description: When the object was last updated.
                - type: object
                  properties:
                    description:
                      type: string
                      description: Human-readable description.
                    authId:
                      type:
                      - string
                      - 'null'
                      description: Identifier of the API credential (`apiCredentialId`) used to authenticate requests. `null` if unauthenticated.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - api Connectors
    patch:
      summary: Update an API connector
      description: 'This endpoint updates one or more fields on an existing API connector. For more information on API connectors, see Configure API credentials and connectors in Sigma.


        ### Usage notes

        - Retrieve the **apiConnectorId** by calling the /v2/api-connectors endpoint.

        - The user making this request must be assigned an account type with the **Manage API connectors** permission enabled and must have **Can edit** access to the connector.

        - Omitted fields are left unchanged. Pass `null` for `authId` to remove the credential association.


        ### Usage scenarios

        - **Endpoint migration:** Update the connector URL or parameters when an external API changes its interface.

        - **Credential rotation:** Rebind the connector to a new credential after rotating secrets.'
      parameters:
      - name: apiConnectorId
        schema:
          type: string
        in: path
        required: true
      operationId: updateApiConnector
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New display name.
                description:
                  type:
                  - string
                  - 'null'
                  description: New description. Pass `null` to clear.
                params:
                  type: object
                  required:
                  - method
                  - url
                  - headers
                  - pathParams
                  - queryParams
                  - body
                  properties:
                    method:
                      type: string
                      enum:
                      - GET
                      - POST
                      - DELETE
                      - PATCH
                      - PUT
                      - OPTIONS
                      - HEAD
                      description: HTTP method to invoke.
                    url:
                      type: string
                      description: Request URL. Must resolve to a hostname matching the associated credential's allowlist.
                    headers:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - key
                          - mode
                          properties:
                            key:
                              type: string
                            mode:
                              type: string
                              enum:
                              - static
                              - dynamic
                        - type: object
                          properties:
                            value:
                              type:
                              - string
                              - 'null'
                            type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - array
                              - boolean
                              - number
                              - object
                              - raw
                              - string
                            shape:
                              oneOf:
                              - $ref: '#/components/schemas/ParamShapeNode'
                              - type: 'null'
                      description: Static or dynamic request headers.
                    pathParams:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - key
                          - mode
                          properties:
                            key:
                              type: string
                            mode:
                              type: string
                              enum:
                              - static
                              - dynamic
                        - type: object
                          properties:
                            value:
                              type:
                              - string
                              - 'null'
                            type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - array
                              - boolean
                              - number
                              - object
                              - raw
                              - string
                            shape:
                              oneOf:
                              - $ref: '#/components/schemas/ParamShapeNode'
                              - type: 'null'
                      description: Path parameter placeholders resolved into the URL.
                    queryParams:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - key
                          - mode
                          properties:
                            key:
                              type: string
                            mode:
                              type: string
                              enum:
                              - static
                              - dynamic
                        - type: object
                          properties:
                            value:
                              type:
                              - string
                              - 'null'
                            type:
                              type:
                              - string
                              - 'null'
                              enum:
                              - array
                              - boolean
                              - number
                              - object
                              - raw
                              - string
                            shape:
                              oneOf:
                              - $ref: '#/components/schemas/ParamShapeNode'
                              - type: 'null'
                      description: Query string parameters.
                    body:
                      type: string
                      description: Raw request body template.
                config:
                  type: object
                  properties:
                    timeout:
                      type: object
                      required:
                      - requestSec
                      properties:
                        requestSec:
                          type: number
                      description: Per-request timeout configuration.
                    retry:
                      type: object
                      required:
                      - maxRetries
                      - retryableStatusCodes
                      properties:
                        maxRetries:
                          type: number
                        retryableStatusCodes:
                          type: array
                          items:
                            type: number
                      description: Retry policy. `retryableStatusCodes` are HTTP codes that should trigger a retry.
                    redirects:
                      type: object
                      required:
                      - maxRedirects
                      properties:
                        maxRedirects:
                          type: number
                      description: HTTP redirect handling.
                    rateLimit:
                      type: object
                      required:
                      - maxRequestsPerWindow
                      properties:
                        maxRequestsPerWindow:
                          type: number
                      description: Rate limit applied to outbound requests from this connector.
                authId:
                  type:
                  - string
                  - 'null'
                  description: New credential binding. Pass `null` to remove the credential.
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - apiConnectorId
                  - name
                  - params
                  - config
                  properties:
                    apiConnectorId:
                      type: string
                      description: Unique identifier of the API connector.
                    name:
                      type: string
                      description: Display name of the connector.
                    params:
                      allOf:
                      - type: object
                        required:
                        - method
                        - url
                        - headers
                        - pathParams
                        - queryParams
                        - body
                        properties:
                          method:
                            type: string
                            enum:
                            - GET
                            - POST
                            - DELETE
                            - PATCH
                            - PUT
                            - OPTIONS
                            - HEAD
                            description: HTTP method to invoke.
                          url:
                            type: string
                            description: Request URL. Must resolve to a hostname matching the associated credential's allowlist.
                          headers:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - key
                                - mode
                                properties:
                                  key:
                                    type: string
                                  mode:
                                    type: string
                                    enum:
                                    - static
                                    - dynamic
                              - type: object
                                properties:
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    type:
                                    - string
                                    - 'null'
                                    enum:
                                    - array
                                    - boolean
                                    - number
                                    - object
                                    - raw
                                    - string
                                  shape:
                                    oneOf:
                                    - $ref: '#/components/schemas/ParamShapeNode'
                                    - type: 'null'
                            description: Static or dynamic request headers.
                          pathParams:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - key
                                - mode
                                properties:
                                  key:
                                    type: string
                                  mode:
                                    type: string
                                    enum:
                                    - static
                                    - dynamic
                              - type: object
                                properties:
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    type:
                                    - string
                                    - 'null'
                                    enum:
                                    - array
                                    - boolean
                                    - number
                                    - object
                                    - raw
                                    - string
                                  shape:
                                    oneOf:
                                    - $ref: '#/components/schemas/ParamShapeNode'
                                    - type: 'null'
                            description: Path parameter placeholders resolved into the URL.
                          queryParams:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - key
                                - mode
                                properties:
                                  key:
                                    type: string
                                  mode:
                                    type: string
                                    enum:
                                    - static
                                    - dynamic
                              - type: object
                                properties:
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    type:
                                    - string
                                    - 'null'
                                    enum:
                                    - array
                                    - boolean
                                    - number
                                    - object
                                    - raw
                                    - string
                                  shape:
                                    oneOf:
                                    - $ref: '#/components/schemas/ParamShapeNode'
                                    - type: 'null'
                            description: Query string parameters.
                          body:
                            type: string
                            description: Raw request body template.
                      - type: object
                        required:
                        - bodyParams
                        properties:
                          bodyParams:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - key
                                - mode
                                properties:
                                  key:
                                    type: string
                                  mode:
                                    type: string
                                    enum:
                                    - static
                                    - dynamic
                              - type: object
                                properties:
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  type:
                                    type:
                                    - string
                                    - 'null'
                                    enum:
                                    - array
                                    - boolean
                                    - number
                                    - object
                                    - raw
                                    - string
                                  shape:
                                    oneOf:
                                    - $ref: '#/components/schemas/ParamShapeNode'
                                    - type: 'null'
                            description: Dynamic parameters extracted from `body`.
                    config:
                      type: object
                      required:
                      - timeout
                      - retry
                      - redirects
                      - rateLimit
                      properties:
                        timeout:
                          type: object
                          required:
                          - requestSec
                          properties:
                            requestSec:
                              type: number
                          description: Per-request timeout configuration.
                        retry:
                          type: object
                          required:
                          - maxRetries
                          - retryableStatusCodes
                          properties:
                            maxRetries:
                              type: number
                            retryableStatusCodes:
                              type: array
                              items:
                                type: number
                          description: Retry policy. `retryableStatusCodes` are HTTP codes that should trigger a retry.
                        redirects:
                          type: object
                          required:
                          - maxRedirects
                          properties:
                            maxRedirects:
                              type: number
                          description: HTTP redirect handling.
                        rateLimit:
                          type: object
                          required:
                          - maxRequestsPerWindow
                          properties:
                            maxRequestsPerWindow:
                              type: number
                          description: Rate limit applied to outbound requests from this connector.
                - type: object
                  required:
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  properties:
                    createdBy:
                      type: string
                      description: The identifier of the user who created this object.
                    updatedBy:
                      type: string
                      description: The identifier of the user or process that last updated this object.
                    createdAt:
                      type: string
                      format: date-time
                      description: When the object was created.
                    updatedAt:
                      type: string
                      format: date-time
                      description: When the object was last updated.
                - type: object
                  properties:
                    description:
                      type: string
                      description: Human-readable description.
                    authId:
                      type:
                      - string
                      - 'null'
                      description: Identifier of the API credential (`apiCredentialId`) used to authenticate requests. `null` if unauthenticated.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - api Connectors
    delete:
      summary: Delete an API connector
      description: 'This endpoint archives an API connector, preventing it from being used in new workbook actions. For more information on API connectors, see Configure API credentials and connectors in Sigma.


        ### Usage notes

        - Retrieve the **apiConnectorId** by calling the /v2/api-connectors endpoint.

        - The user making this request must be assigned an account type with the **Manage API connectors** permission enabled and must have **Can edit** access to the connector.


        ### Usage scenarios

        - **Cleanup:** Remove connectors that are no longer in use to keep the organization''s connector list tidy.

        - **Decommissioning:** Archive connectors associated with deprecated or retired external services.'
      parameters:
      - name: apiConnectorId
        schema:
          type: string
        in: path
        required: true
      operationId: deleteApiConnector
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - api Connectors
components:
  responses:
    ApiError:
      description: Sigma API Error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              code:
                type: string
              requestId:
                type: string
  schemas:
    ParamShapeNode:
      oneOf:
      - type: object
        required:
        - type
        properties:
          type:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: string
              enum:
              - string
      - type: object
        required:
        - type
        properties:
          type:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: string
              enum:
              - number
      - type: object
        required:
        - type
        properties:
          type:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: string
              enum:
              - boolean
      - type: object
        required:
        - type
        - properties
        properties:
          type:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: string
              enum:
              - object
          properties:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/ParamShapeNode'
      - type: object
        required:
        - type
        - items
        properties:
          type:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: string
              enum:
              - array
          items:
            $ref: '#/components/schemas/ParamShapeNode'
      - type: object
        required: []
        properties: {}
    V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsQueryParamsItemsType:
      type: string
      enum:
      - array
      - boolean
      - number
      - object
      - raw
      - string
      title: V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsQueryParamsItemsType
    V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsHeadersItemsType:
      type: string
      enum:
      - array
      - boolean
      - number
      - object
      - raw
      - string
      title: V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsHeadersItemsType
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfigRetry:
      type: object
      properties:
        maxRetries:
          type: number
          format: double
        retryableStatusCodes:
          type: array
          items:
            type: number
            format: double
      required:
      - maxRetries
      - retryableStatusCodes
      description: Retry policy. `retryableStatusCodes` are HTTP codes that should trigger a retry.
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfigRetry
    V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaConfigRedirects:
      type: object
      properties:
        maxRedirects:
          type: number
          format: double
      required:
      - maxRedirects
      description: HTTP redirect handling.
      title: V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaConfigRedirects
    V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsHeadersItems:
      type: object
      properties:
        key:
          type: string
        mode:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsHeadersItemsMode'
        value:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsHeadersItemsType'
        shape:
          oneOf:
          - $ref: '#/components/schemas/ParamShapeNode'
          - type: 'null'
      required:
      - key
      - mode
      title: V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsHeadersItems
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsHeadersItemsMode:
      type: string
      enum:
      - static
      - dynamic
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsHeadersItemsMode
    V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsQueryParamsItemsMode:
      type: string
      enum:
      - static
      - dynamic
      title: V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsQueryParamsItemsMode
    V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaConfigTimeout:
      type: object
      properties:
        requestSec:
          type: number
          format: double
      required:
      - requestSec
      description: Per-request timeout configuration.
      title: V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaConfigTimeout
    api-connectors_getApiConnector_Response_200:
      type: object
      properties:
        apiConnectorId:
          type: string
          description: Unique identifier of the API connector.
        name:
          type: string
          description: Display name of the connector.
        params:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParams'
        config:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfig'
        createdBy:
          type: string
          description: The identifier of the user who created this object.
        updatedBy:
          type: string
          description: The identifier of the user or process that last updated this object.
        createdAt:
          type: string
          format: date-time
          description: When the object was created.
        updatedAt:
          type: string
          format: date-time
          description: When the object was last updated.
        description:
          type: string
          description: Human-readable description.
        authId:
          type:
          - string
          - 'null'
          description: Identifier of the API credential (`apiCredentialId`) used to authenticate requests. `null` if unauthenticated.
      required:
      - apiConnectorId
      - name
      - params
      - config
      - createdBy
      - updatedBy
      - createdAt
      - updatedAt
      title: api-connectors_getApiConnector_Response_200
    V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsQueryParamsItems:
      type: object
      properties:
        key:
          type: string
        mode:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsQueryParamsItemsMode'
        value:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsQueryParamsItemsType'
        shape:
          oneOf:
          - $ref: '#/components/schemas/ParamShapeNode'
          - type: 'null'
      required:
      - key
      - mode
      title: V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsQueryParamsItems
    ParamShapeNodeOneOf0TypeItems:
      type: string
      enum:
      - string
      title: ParamShapeNodeOneOf0TypeItems
    V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsQueryParamsItemsType:
      type: string
      enum:
      - array
      - boolean
      - number
      - object
      - raw
      - string
      title: V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsQueryParamsItemsType
    V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsPathParamsItems:
      type: object
      properties:
        key:
          type: string
        mode:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsPathParamsItemsMode'
        value:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsPathParamsItemsType'
        shape:
          oneOf:
          - $ref: '#/components/schemas/ParamShapeNode'
          - type: 'null'
      required:
      - key
      - mode
      title: V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsPathParamsItems
    V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsBodyParamsItemsType:
      type: string
      enum:
      - array
      - boolean
      - number
      - object
      - raw
      - string
      title: V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsBodyParamsItemsType
    ParamShapeNode1:
      type: object
      properties:
        type:
          type: array
          items:
            $ref: '#/components/schemas/ParamShapeNodeOneOf1TypeItems'
      required:
      - type
      title: ParamShapeNode1
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsBodyParamsItems:
      type: object
      properties:
        key:
          type: string
        mode:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsBodyParamsItemsMode'
        value:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsBodyParamsItemsType'
        shape:
          oneOf:
          - $ref: '#/components/schemas/ParamShapeNode'
          - type: 'null'
      required:
      - key
      - mode
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsBodyParamsItems
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParams:
      type: object
      properties:
        method:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsMethod'
          description: HTTP method to invoke.
        url:
          type: string
          description: Request URL. Must resolve to a hostname matching the associated credential's allowlist.
        headers:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsHeadersItems'
          description: Static or dynamic request headers.
        pathParams:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsPathParamsItems'
          description: Path parameter placeholders resolved into the URL.
        queryParams:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsQueryParamsItems'
          description: Query string parameters.
        body:
          type: string
          description: Raw request body template.
        bodyParams:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsBodyParamsItems'
          description: Dynamic parameters extracted from `body`.
      required:
      - method
      - url
      - headers
      - pathParams
      - queryParams
      - body
      - bodyParams
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParams
    V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsPathParamsItemsMode:
      type: string
      enum:
      - static
      - dynamic
      title: V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsPathParamsItemsMode
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfig:
      type: object
      properties:
        timeout:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfigTimeout'
          description: Per-request timeout configuration.
        retry:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfigRetry'
          description: Retry policy. `retryableStatusCodes` are HTTP codes that should trigger a retry.
        redirects:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfigRedirects'
          description: HTTP redirect handling.
        rateLimit:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfigRateLimit'
          description: Rate limit applied to outbound requests from this connector.
      required:
      - timeout
      - retry
      - redirects
      - rateLimit
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfig
    V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsHeadersItemsMode:
      type: string
      enum:
      - static
      - dynamic
      title: V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsHeadersItemsMode
    ParamShapeNode0:
      type: object
      properties:
        type:
          type: array
          items:
            $ref: '#/components/schemas/ParamShapeNodeOneOf0TypeItems'
      required:
      - type
      title: ParamShapeNode0
    V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsQueryParamsItemsType:
      type: string
      enum:
      - array
      - boolean
      - number
      - object
      - raw
      - string
      title: V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsQueryParamsItemsType
    V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsPathParamsItemsMode:
      type: string
      enum:
      - static
      - dynamic
      title: V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsPathParamsItemsMode
    api-connectors_deleteApiConnector_Response_200:
      type: object
      properties: {}
      title: api-connectors_deleteApiConnector_Response_200
    V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsPathParamsItemsType:
      type: string
      enum:
      - array
      - boolean
      - number
      - object
      - raw
      - string
      title: V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsPathParamsItemsType
    V2ApiConnectorsPostResponsesContentApplicationJsonSchemaConfig:
      type: object
      properties:
        timeout:
          $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaConfigTimeout'
          description: Per-request timeout configuration.
        retry:
          $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaConfigRetry'
          description: Retry policy. `retryableStatusCodes` are HTTP codes that should trigger a retry.
        redirects:
          $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaConfigRedirects'
          description: HTTP redirect handling.
        rateLimit:
          $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaConfigRateLimit'
          description: Rate limit applied to outbound requests from this connector.
      required:
      - timeout
      - retry
      - redirects
      - rateLimit
      title: V2ApiConnectorsPostResponsesContentApplicationJsonSchemaConfig
    ParamShapeNode4:
      type: object
      properties:
        type:
          type: array
          items:
            $ref: '#/components/schemas/ParamShapeNodeOneOf4TypeItems'
        items:
          $ref: '#/components/schemas/ParamShapeNode'
      required:
      - type
      - items
      title: ParamShapeNode4
    V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsPathParamsItemsType:
      type: string
      enum:
      - array
      - boolean
      - number
      - object
      - raw
      - string
      title: V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaParamsPathParamsItemsType
    V2ApiConnectorsPostResponsesContentApplicationJsonSchemaConfigRateLimit:
      type: object
      properties:
        maxRequestsPerWindow:
          type: number
          format: double
      required:
      - maxRequestsPerWindow
      description: Rate limit applied to outbound requests from this connector.
      title: V2ApiConnectorsPostResponsesContentApplicationJsonSchemaConfigRateLimit
    V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaConfigRateLimit:
      type: object
      properties:
        maxRequestsPerWindow:
          type: number
          format: double
      required:
      - maxRequestsPerWindow
      description: Rate limit applied to outbound requests from this connector.
      title: V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaConfigRateLimit
    V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaConfigRetry:
      type: object
      properties:
        maxRetries:
          type: number
          format: double
        retryableStatusCodes:
          type: array
          items:
            type: number
            format: double
      required:
      - maxRetries
      - retryableStatusCodes
      description: Retry policy. `retryableStatusCodes` are HTTP codes that should trigger a retry.
      title: V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaConfigRetry
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsQueryParamsItemsMode:
      type: string
      enum:
      - static
      - dynamic
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsQueryParamsItemsMode
    V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsBodyParamsItems:
      type: object
      properties:
        key:
          type: string
        mode:
          $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsBodyParamsItemsMode'
        value:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsBodyParamsItemsType'
        shape:
          oneOf:
          - $ref: '#/components/schemas/ParamShapeNode'
          - type: 'null'
      required:
      - key
      - mode
      title: V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsBodyParamsItems
    V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsHeadersItems:
      type: object
      properties:
        key:
          type: string
        mode:
          $ref: '#/components/schemas/V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsHeadersItemsMode'
        value:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsHeadersItemsType'
        shape:
          oneOf:
          - $ref: '#/components/schemas/ParamShapeNode'
          - type: 'null'
      required:
      - key
      - mode
      title: V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsHeadersItems
    V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsPathParamsItems:
      type: object
      properties:
        key:
          type: string
        mode:
          $ref: '#/components/schemas/V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsPathParamsItemsMode'
        value:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsPathParamsItemsType'
        shape:
          oneOf:
          - $ref: '#/components/schemas/ParamShapeNode'
          - type: 'null'
      required:
      - key
      - mode
      title: V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsPathParamsItems
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsMethod:
      type: string
      enum:
      - GET
      - POST
      - DELETE
      - PATCH
      - PUT
      - OPTIONS
      - HEAD
      description: HTTP method to invoke.
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsMethod
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsQueryParamsItems:
      type: object
      properties:
        key:
          type: string
        mode:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsQueryParamsItemsMode'
        value:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsQueryParamsItemsType'
        shape:
          oneOf:
          - $ref: '#/components/schemas/ParamShapeNode'
          - type: 'null'
      required:
      - key
      - mode
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsQueryParamsItems
    V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsQueryParamsItems:
      type: object
      properties:
        key:
          type: string
        mode:
          $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsQueryParamsItemsMode'
        value:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsQueryParamsItemsType'
        shape:
          oneOf:
          - $ref: '#/components/schemas/ParamShapeNode'
          - type: 'null'
      required:
      - key
      - mode
      title: V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsQueryParamsItems
    V2ApiConnectorsGetResponsesContentApplicationJsonSchemaEntriesItems:
      type: object
      properties:
        apiConnectorId:
          type: string
        name:
          type: string
        description:
          type: string
      required:
      - apiConnectorId
      - name
      - description
      title: V2ApiConnectorsGetResponsesContentApplicationJsonSchemaEntriesItems
    V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsMethod:
      type: string
      enum:
      - GET
      - POST
      - DELETE
      - PATCH
      - PUT
      - OPTIONS
      - HEAD
      description: HTTP method to invoke.
      title: V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsMethod
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsBodyParamsItemsType:
      type: string
      enum:
      - array
      - boolean
      - number
      - object
      - raw
      - string
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsBodyParamsItemsType
    V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsPathParamsItemsMode:
      type: string
      enum:
      - static
      - dynamic
      title: V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsPathParamsItemsMode
    ParamShapeNode2:
      type: object
      properties:
        type:
          type: array
          items:
            $ref: '#/components/schemas/ParamShapeNodeOneOf2TypeItems'
      required:
      - type
      title: ParamShapeNode2
    V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaConfigRetry:
      type: object
      properties:
        maxRetries:
          type: number
          format: double
        retryableStatusCodes:
          type: array
          items:
            type: number
            format: double
      required:
      - maxRetries
      - retryableStatusCodes
      description: Retry policy. `retryableStatusCodes` are HTTP codes that should trigger a retry.
      title: V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaConfigRetry
    V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsHeadersItemsMode:
      type: string
      enum:
      - static
      - dynamic
      title: V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsHeadersItemsMode
    V2ApiConnectorsPostResponsesContentApplicationJsonSchemaConfigTimeout:
      type: object
      properties:
        requestSec:
          type: number
          format: double
      required:
      - requestSec
      description: Per-request timeout configuration.
      title: V2ApiConnectorsPostResponsesContentApplicationJsonSchemaConfigTimeout
    V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaConfigRetry:
      type: object
      properties:
        maxRetries:
          type: number
          format: double
        retryableStatusCodes:
          type: array
          items:
            type: number
            format: double
      required:
      - maxRetries
      - retryableStatusCodes
      description: Retry policy. `retryableStatusCodes` are HTTP codes that should trigger a retry.
      title: V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaConfigRetry
    V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParams:
      type: object
      properties:
        method:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsMethod'
          description: HTTP method to invoke.
        url:
          type: string
          description: Request URL. Must resolve to a hostname matching the associated credential's allowlist.
        headers:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsHeadersItems'
          description: Static or dynamic request headers.
        pathParams:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsPathParamsItems'
          description: Path parameter placeholders resolved into the URL.
        queryParams:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsQueryParamsItems'
          description: Query string parameters.
        body:
          type: string
          description: Raw request body template.
        bodyParams:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsBodyParamsItems'
          description: Dynamic parameters extracted from `body`.
      required:
      - method
      - url
      - headers
      - pathParams
      - queryParams
      - body
      - bodyParams
      title: V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParams
    api-connectors_updateApiConnector_Response_200:
      type: object
      properties:
        apiConnectorId:
          type: string
          description: Unique identifier of the API connector.
        name:
          type: string
          description: Display name of the connector.
        params:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParams'
        config:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaConfig'
        createdBy:
          type: string
          description: The identifier of the user who created this object.
        updatedBy:
          type: string
          description: The identifier of the user or process that last updated this object.
        createdAt:
          type: string
          format: date-time
          description: When the object was created.
        updatedAt:
          type: string
          format: date-time
          description: When the object was last updated.
        description:
          type: string
          description: Human-readable description.
        authId:
          type:
          - string
          - 'null'
          description: Identifier of the API credential (`apiCredentialId`) used to authenticate requests. `null` if unauthenticated.
      required:
      - apiConnectorId
      - name
      - params
      - config
      - createdBy
      - updatedBy
      - createdAt
      - updatedAt
      title: api-connectors_updateApiConnector_Response_200
    V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsBodyParamsItemsMode:
      type: string
      enum:
      - static
      - dynamic
      title: V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsBodyParamsItemsMode
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsPathParamsItemsType:
      type: string
      enum:
      - array
      - boolean
      - number
      - object
      - raw
      - string
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsPathParamsItemsType
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfigRedirects:
      type: object
      properties:
        maxRedirects:
          type: number
          format: double
      required:
      - maxRedirects
      description: HTTP redirect handling.
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfigRedirects
    V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsPathParamsItemsMode:
      type: string
      enum:
      - static
      - dynamic
      title: V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsPathParamsItemsMode
    V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsHeadersItemsType:
      type: string
      enum:
      - array
      - boolean
      - number
      - object
      - raw
      - string
      title: V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsHeadersItemsType
    V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaConfigRedirects:
      type: object
      properties:
        maxRedirects:
          type: number
          format: double
      required:
      - maxRedirects
      description: HTTP redirect handling.
      title: V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaConfigRedirects
    V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParams:
      type: object
      properties:
        method:
          $ref: '#/components/schemas/V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsMethod'
          description: HTTP method to invoke.
        url:
          type: string
          description: Request URL. Must resolve to a hostname matching the associated credential's allowlist.
        headers:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsHeadersItems'
          description: Static or dynamic request headers.
        pathParams:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsPathParamsItems'
          description: Path parameter placeholders resolved into the URL.
        queryParams:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsQueryParamsItems'
          description: Query string parameters.
        body:
          type: string
          description: Raw request body template.
      required:
      - method
      - url
      - headers
      - pathParams
      - queryParams
      - body
      title: V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParams
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsPathParamsItemsMode:
      type: string
      enum:
      - static
      - dynamic
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsPathParamsItemsMode
    V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsHeadersItemsType:
      type: string
      enum:
      - array
      - boolean
      - number
      - object
      - raw
      - string
      title: V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsHeadersItemsType
    ParamShapeNodeOneOf3TypeItems:
      type: string
      enum:
      - object
      title: ParamShapeNodeOneOf3TypeItems
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfigTimeout:
      type: object
      properties:
        requestSec:
          type: number
          format: double
      required:
      - requestSec
      description: Per-request timeout configuration.
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaConfigTimeout
    V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsQueryParamsItems:
      type: object
      properties:
        key:
          type: string
        mode:
          $ref: '#/components/schemas/V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsQueryParamsItemsMode'
        value:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsQueryParamsItemsType'
        shape:
          oneOf:
          - $ref: '#/components/schemas/ParamShapeNode'
          - type: 'null'
      required:
      - key
      - mode
      title: V2ApiConnectorsPostRequestBodyContentApplicationJsonSchemaParamsQueryParamsItems
    V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaConfigRateLimit:
      type: object
      properties:
        maxRequestsPerWindow:
          type: number
          format: double
      required:
      - maxRequestsPerWindow
      description: Rate limit applied to outbound requests from this connector.
      title: V2ApiConnectorsApiConnectorIdPatchRequestBodyContentApplicationJsonSchemaConfigRateLimit
    V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsPathParamsItems:
      type: object
      properties:
        key:
          type: string
        mode:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsPathParamsItemsMode'
        value:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsPathParamsItemsType'
        shape:
          oneOf:
          - $ref: '#/components/schemas/ParamShapeNode'
          - type: 'null'
      required:
      - key
      - mode
      title: V2ApiConnectorsApiConnectorIdGetResponsesContentApplicationJsonSchemaParamsPathParamsItems
    V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsQueryParamsItemsMode:
      type: string
      enum:
      - static
      - dynamic
      title: V2ApiConnectorsApiConnectorIdPatchResponsesContentApplicationJsonSchemaParamsQueryParamsItemsMode
    api-connectors_listApiConnectors_Response_200:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsGetResponsesContentApplicationJsonSchemaEntriesItems'
          description: Array of results returned by the endpoint
        nextPageToken:
          type: string
          description: 'A string that can be passed to the `pageToken` parameter in the next request to fetch the next page of results. Not present in the last page of results.

            **Must be treated as an opaque string.**'
      required:
      - entries
      title: api-connectors_listApiConnectors_Response_200
    V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParams:
      type: object
      properties:
        method:
          $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsMethod'
          description: HTTP method to invoke.
        url:
          type: string
          description: Request URL. Must resolve to a hostname matching the associated credential's allowlist.
        headers:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsHeadersItems'
          description: Static or dynamic request headers.
        pathParams:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsPathParamsItems'
          description: Path parameter placeholders resolved into the URL.
        queryParams:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsQueryParamsItems'
          description: Query string parameters.
        body:
          type: string
          description: Raw request body template.
        bodyParams:
          type: array
          items:
            $ref: '#/components/schemas/V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParamsBodyParamsItems'
          description: Dynamic parameters extracted from `body`.
      required:
      - method
      - url
      - headers
      - pathParams
      - queryParams
      - body
      - bodyParams
      title: V2ApiConnectorsPostResponsesContentApplicationJsonSchemaParams
[...]
