openapi: 3.2.0
info:
  title: Sigma Computing Public REST Allowed Ips\:batch Delete API
  version: 2.0.0
  summary: The Sigma REST API provides developers access to resources programmatically, using HTTP.
  description: 'The Sigma REST API provides developers access to resources programmatically,

    using HTTP.'
  termsOfService: Contact Sigma
  contact:
    email: support@sigmacomputing.com
servers:
- url: https://api.sigmacomputing.com
  description: Server for GCP (US) hosted organizations
- url: https://api.sa.gcp.sigmacomputing.com
  description: Server for GCP (KSA) hosted organizations
- url: https://aws-api.sigmacomputing.com
  description: Server for AWS US (West) hosted organizations
- url: https://api.us-a.aws.sigmacomputing.com
  description: Server for AWS US (East) hosted organizations
- url: https://api.ca.aws.sigmacomputing.com
  description: Server for AWS Canada hosted organizations
- url: https://api.eu.aws.sigmacomputing.com
  description: Server for AWS Europe hosted organizations
- url: https://api.au.aws.sigmacomputing.com
  description: Server for AWS Australia and APAC hosted organizations
- url: https://api.uk.aws.sigmacomputing.com
  description: Server for AWS UK hosted organizations
- url: https://api.us.azure.sigmacomputing.com
  description: Server for Azure US hosted organizations
- url: https://api.eu.azure.sigmacomputing.com
  description: Server for Azure Europe hosted organizations
- url: https://api.ca.azure.sigmacomputing.com
  description: Server for Azure Canada hosted organizations
- url: https://api.uk.azure.sigmacomputing.com
  description: Server for Azure United Kingdom hosted organizations
- url: https://api.au.azure.sigmacomputing.com
  description: Server for Azure Australia hosted organizations
security:
- oauth2: []
tags:
- name: allowedIps\:batchDelete
paths:
  /v3alpha/allowedIps:batchDelete:
    post:
      summary: Delete IP allowlist entries (Beta)
      description: 'Remove existing IP address entries from your organization''s IP allowlist.


        **Beta**: This documentation describes a private beta feature and is subject to the Beta features disclaimer.


        ### Usage notes

        - Retrieve the `ipAllowlistEntryId` values with the /v3alpha/allowedIps endpoint or from the response of the /v3alpha/allowedIps:batchCreate endpoint.

        - Entries are identified by their unique IDs, not by IP addresses.


        ### Usage scenarios

        - Remove compromised or outdated IP addresses from access.

        - Clean up unused IP allowlist entries.'
      parameters: []
      operationId: v3alpha_deleteIpAllowlistEntries
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - ipAllowlistEntryIds
              properties:
                ipAllowlistEntryIds:
                  type: array
                  items:
                    type: string
                  description: Array of IP allowlist entry IDs to remove
      responses:
        '204':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - allowedIps\:batchDelete
components:
  responses:
    ApiError:
      description: Sigma API Error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              code:
                type: string
              requestId:
                type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v2/auth/token
          refreshUrl: /v2/auth/token
          scopes: {}
