openapi: 3.2.0
info:
  title: Sigma Computing Reports API
  version: '1.0'
  description: 'Operations tagged reports across 2 of this provider''s published API definitions: sigma-computing-public-rest-api-openapi.json, sigma-computing-rest-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sigmacomputing.com
  description: Server for GCP (US) hosted organizations
- url: https://api.sa.gcp.sigmacomputing.com
  description: Server for GCP (KSA) hosted organizations
- url: https://aws-api.sigmacomputing.com
  description: Server for AWS US (West) hosted organizations
- url: https://api.us-a.aws.sigmacomputing.com
  description: Server for AWS US (East) hosted organizations
- url: https://api.ca.aws.sigmacomputing.com
  description: Server for AWS Canada hosted organizations
- url: https://api.eu.aws.sigmacomputing.com
  description: Server for AWS Europe hosted organizations
- url: https://api.au.aws.sigmacomputing.com
  description: Server for AWS Australia and APAC hosted organizations
- url: https://api.uk.aws.sigmacomputing.com
  description: Server for AWS UK hosted organizations
- url: https://api.us.azure.sigmacomputing.com
  description: Server for Azure US hosted organizations
- url: https://api.eu.azure.sigmacomputing.com
  description: Server for Azure Europe hosted organizations
- url: https://api.ca.azure.sigmacomputing.com
  description: Server for Azure Canada hosted organizations
- url: https://api.uk.azure.sigmacomputing.com
  description: Server for Azure United Kingdom hosted organizations
- url: https://api.au.azure.sigmacomputing.com
  description: Server for Azure Australia hosted organizations
tags:
- name: reports
paths:
  /v2/reports:
    get:
      summary: List reports
      description: "This endpoint retrieves a list of all available reports.\n\nAvailable reports include any reports in your My Documents folder and any reports you have access to.\n\nUsers with the Admin account type can optionally retrieve all reports in the organization.\n\n### Usage notes\nThis endpoint requires no parameters for basic requests, but supports query parameters for pagination and response limit.\n\n### Pagination\n\nThis endpoint supports pagination, which lets you retrieve large sets of data in manageable segments. The response includes pagination details as follows:\n\n- hasMore: A boolean value indicating whether there are more pages of data available beyond the current page.\n- total: The total number of entries available across all pages.\n- nextPage: An identifier or token that you can use in a subsequent request to retrieve the next page of data.\n\n#### Example response for pagination\n```json\n{\n  \"hasMore\": true,\n  \"total\": 104,\n  \"nextPage\": \"50\"\n}\n```\n\nTo request additional pages, include the `nextPage` option in your next request as the value of the `page` option. Repeat this process until `nextPage` returns `null`, indicating that there are no more pages to return.\n\n### Usage scenarios\n- **Report navigation**: Allows users to view their collection of reports and locate ones they need.\n- **Integration points**: Useful for building integrations that need to present users with a list of their available reports, such as in custom applications using embeds."
      parameters:
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      - name: excludeTags
        schema:
          type: boolean
        in: query
      - name: skipPermissionCheck
        schema:
          type: boolean
          description: Only available to Sigma admins. Return all reports regardless of whether the user has access.
        in: query
      - name: isArchived
        schema:
          type: boolean
          description: Return archived reports.
        in: query
      operationId: listReports
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - reportId
                          - reportUrlId
                          - name
                          - url
                          - path
                          - latestVersion
                          - ownerId
                          properties:
                            reportId:
                              type: string
                              description: Unique identifier of the report.
                              title: Report ID
                            reportUrlId:
                              type: string
                            name:
                              type: string
                            url:
                              type: string
                            path:
                              type: string
                            latestVersion:
                              type: number
                            ownerId:
                              type: string
                        - type: object
                          required:
                          - createdBy
                          - updatedBy
                          - createdAt
                          - updatedAt
                          properties:
                            createdBy:
                              type: string
                              description: The identifier of the user who created this object.
                            updatedBy:
                              type: string
                              description: The identifier of the user or process that last updated this object.
                            createdAt:
                              type: string
                              format: date-time
                              description: When the object was created.
                            updatedAt:
                              type: string
                              format: date-time
                              description: When the object was last updated.
                        - type: object
                          properties:
                            isArchived:
                              type: boolean
                            tags:
                              type: array
                              items:
                                allOf:
                                - type: object
                                  required:
                                  - versionTagId
                                  - tagName
                                  - sourceVersion
                                  - taggedAt
                                  properties:
                                    versionTagId:
                                      type: string
                                      description: Unique identifier of the tag.
                                      title: Tag ID
                                    tagName:
                                      type: string
                                    sourceVersion:
                                      type: number
                                    taggedAt:
                                      type: string
                                      format: date-time
                                - type: object
                                  required:
                                  - taggedReportId
                                  properties:
                                    taggedReportId:
                                      type: string
                                      description: Unique identifier of the tagged report.
                                      title: Report ID
                            description:
                              type: string
                      description: Array of results returned by the endpoint
                    nextPage:
                      type:
                      - string
                      - 'null'
                      description: Returns a string that can be used as the `page` parameter in the next request to fetch the next page of results. The last page of results returns `null`.
                - type: object
                  properties:
                    total:
                      type: number
                      description: Total number of results. Useful to determine if there is a need to paginate.
                    hasMore:
                      type: boolean
                      description: '**[Deprecated]** Indicates whether more results are available.'
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    post:
      summary: Create a report
      description: 'This endpoint lets you create an empty report in Sigma, enabling you to build presentation-ready documents for sharing insights with stakeholders.


        ### Usage notes

        - The **name** parameter is required to provide a name for the new report.

        - Use the **folderId** to specify the folder in which to save the report. Retrieve the **folderId** by calling the [/v2/files](https://help.sigmacomputing.com/reference/list-files) endpoint and reviewing the `id` field in the response for files with a `type` of `folder`.


        ### Usage scenarios

        - **Reliable export formatting**: Users can quickly generate a new blank report to create predictable, paginated exports.


        ### Best practices

        - **Naming conventions**: Establish and follow consistent naming conventions for reports to make it easier to manage and identify them within larger projects.

        - **Folder organization**: Use the **folderId** to organize reports into relevant folders, which helps in maintaining a tidy workspace, especially in environments with multiple users or teams.

        - **Access control**: Regularly review and manage access permissions for new reports, ensuring that only the appropriate personnel can view or edit sensitive data.'
      parameters: []
      operationId: createReport
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - folderId
                - name
                properties:
                  folderId:
                    type: string
                    description: ID of the folder where the new report is created.
                    title: Folder ID
                  name:
                    type: string
                    description: Name of the new report.
                    title: Report Name
              - type: object
                properties:
                  description:
                    type: string
                    description: Description of the report.
                    title: Description
            examples:
              Create a blank report:
                value:
                  folderId: 88889999-aaaa-bbbb-cccc-ddddeeeeffff
                  name: My new blank Report
                  description: This is a description
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - reportId
                  - reportUrlId
                  - name
                  - url
                  - path
                  - latestVersion
                  - ownerId
                  properties:
                    reportId:
                      type: string
                      description: Unique identifier of the report.
                      title: Report ID
                    reportUrlId:
                      type: string
                    name:
                      type: string
                    url:
                      type: string
                    path:
                      type: string
                    latestVersion:
                      type: number
                    ownerId:
                      type: string
                - type: object
                  required:
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  properties:
                    createdBy:
                      type: string
                      description: The identifier of the user who created this object.
                    updatedBy:
                      type: string
                      description: The identifier of the user or process that last updated this object.
                    createdAt:
                      type: string
                      format: date-time
                      description: When the object was created.
                    updatedAt:
                      type: string
                      format: date-time
                      description: When the object was last updated.
                - type: object
                  properties:
                    isArchived:
                      type: boolean
                    tags:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - versionTagId
                          - tagName
                          - sourceVersion
                          - taggedAt
                          properties:
                            versionTagId:
                              type: string
                              description: Unique identifier of the tag.
                              title: Tag ID
                            tagName:
                              type: string
                            sourceVersion:
                              type: number
                            taggedAt:
                              type: string
                              format: date-time
                        - type: object
                          required:
                          - taggedReportId
                          properties:
                            taggedReportId:
                              type: string
                              description: Unique identifier of the tagged report.
                              title: Report ID
                    description:
                      type: string
              examples:
                Response Example:
                  value:
                    reportId: 88889999-aaaa-bbbb-cccc-ddddeeeeffff
                    reportUrlId: 57a96EMo3GVJG73179MV2l
                    name: My new blank Report
                    url: https://example.com/reports/88889999-aaaa-bbbb-cccc-ddddeeeeffff
                    path: folder1
                    latestVersion: 1
                    isArchived: false
                    createdAt: '2022-01-01T00:00:00.000Z'
                    createdBy: user1
                    updatedAt: '2022-01-01T00:00:00.000Z'
                    updatedBy: user1
                    ownerId: user1
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/reports/{reportId}:
    get:
      summary: Get a report
      description: 'This endpoint retrieves a report by its unique identifier (`reportId`). It provides detailed information about the report, including its name, URL, path, and other metadata.


        ### Usage notes

        - The **reportId** parameter must be a valid UUID that uniquely identifies the report. Invalid or nonexistent IDs return an error. Retrieve the **reportId** by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint.


        ### Usage scenarios

        - **Report search**: Allows users to view all of their reports and locate a specific one, as well as filter by criteria such as if it is archived.

        - **Data retrieval**: Developers can use this endpoint to programmatically retrieve details about a specific report to display its content or metadata in a custom user interface.

        - **Integration**: Use this endpoint for integrations where other systems need to fetch report details based on an ID provided through another interface or workflow.


        ### Best practices

        - Validate the **reportId** on the client side before making a request to avoid unnecessary server load caused by invalid requests.'
      parameters:
      - name: reportId
        schema:
          type: string
          description: Unique identifier of the report.
          title: Report ID
        in: path
        required: true
      operationId: getReport
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - reportId
                  - reportUrlId
                  - name
                  - url
                  - path
                  - latestVersion
                  - ownerId
                  properties:
                    reportId:
                      type: string
                      description: Unique identifier of the report.
                      title: Report ID
                    reportUrlId:
                      type: string
                    name:
                      type: string
                    url:
                      type: string
                    path:
                      type: string
                    latestVersion:
                      type: number
                    ownerId:
                      type: string
                - type: object
                  required:
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  properties:
                    createdBy:
                      type: string
                      description: The identifier of the user who created this object.
                    updatedBy:
                      type: string
                      description: The identifier of the user or process that last updated this object.
                    createdAt:
                      type: string
                      format: date-time
                      description: When the object was created.
                    updatedAt:
                      type: string
                      format: date-time
                      description: When the object was last updated.
                - type: object
                  properties:
                    isArchived:
                      type: boolean
                    tags:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - versionTagId
                          - tagName
                          - sourceVersion
                          - taggedAt
                          properties:
                            versionTagId:
                              type: string
                              description: Unique identifier of the tag.
                              title: Tag ID
                            tagName:
                              type: string
                            sourceVersion:
                              type: number
                            taggedAt:
                              type: string
                              format: date-time
                        - type: object
                          required:
                          - taggedReportId
                          properties:
                            taggedReportId:
                              type: string
                              description: Unique identifier of the tagged report.
                              title: Report ID
                    description:
                      type: string
              examples:
                Response Example:
                  value:
                    reportId: 88889999-aaaa-bbbb-cccc-ddddeeeeffff
                    reportUrlId: 57a96EMo3GVJG73179MV2l
                    name: My report
                    url: https://example.com/reports/88889999-aaaa-bbbb-cccc-ddddeeeeffff
                    path: folder1
                    latestVersion: 1
                    createdAt: '2022-01-01T00:00:00.000Z'
                    createdBy: user1
                    updatedAt: '2023-01-01T00:00:00.000Z'
                    updatedBy: user2
                    ownerId: user1
                    isArchived: false
                    tags:
                    - versionTagId: 11112222-3333-4444-5555-666677778888
                      tagName: Production
                      sourceVersion: 3
                      taggedReportId: aaaabbbb-cccc-dddd-eeee-ffff00001111
                      taggedAt: '2024-06-15T12:00:00.000Z'
                    description: Describe my report
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/reports/{reportId}/columns:
    get:
      summary: List columns for all elements in a report
      description: 'This endpoint retrieves all columns in a report for all data elements in the report.


        ### Usage notes

        - Retrieve the **reportId** by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint.


        ### Usage scenarios

        - **Data exploration:** Enable users to explore the data structure of a report element, facilitating deeper analysis and understanding.

        - **Integration tasks:** Useful for developers integrating Sigma with other tools that need to know the data structure to map data accurately.


        ### Best practices

        - Use this endpoint when setting up interfaces that require specific knowledge about the data structure.'
      parameters:
      - name: reportId
        schema:
          type: string
          description: Unique identifier of the report.
          title: Report ID
        in: path
        required: true
      - name: pageToken
        schema:
          type: string
          description: Use to specify the next set of results with the string returned in the `nextPageToken` field of the previous response.
          title: Page token
        in: query
      - name: pageSize
        schema:
          type: integer
          description: Number of results to return per page, with a maximum of 1000. Defaults to 50.
          title: Page size
        in: query
      operationId: listReportColumns
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  properties:
                    entries:
                      type: array
                      items:
                        type: object
                        required:
                        - columnId
                        - name
                        - formula
                        - type
                        - elementId
                        properties:
                          columnId:
                            type: string
                            description: Column ID
                          name:
                            type: string
                            description: Column name
                          formula:
                            type: string
                            description: Column formula or source column reference.
                          type:
                            type: object
                            description: The column's data type, represented as a recursive type object.
                          elementId:
                            type: string
                            description: Element ID
                      description: Array of results returned by the endpoint
                      title: Result entries
                - type: object
                  properties:
                    nextPageToken:
                      type: string
                      description: 'A string that can be passed to the `pageToken` parameter in the next request to fetch the next page of results. Not present in the last page of results.

                        **Must be treated as an opaque string.**'
                      title: Next page token
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/reports/{reportId}/controls:
    get:
      summary: List report controls
      description: 'This endpoint retrieves all control elements within a specific report. Control elements provide predefined interactions to users viewing a report, such as inputs that modify data or selections to filter data.


        ### Usage notes

        - Retrieve the **reportId** by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint.

        - To retrieve controls from a version-tagged report, pass the tag name in the  `tagName` query parameter. Retrieve the tag name by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint and using the `tags.tagName` field in the response.


        ### Usage scenarios

        - **Dynamic data interaction:** Allows users to interact dynamically with the data presented in the report through various control mechanisms.

        - **Custom reporting:** Enables the creation of customizable reports where end users can adjust parameters to filter and sort data according to their requirements.


        ### Best practices

        - Ensure proper access controls are set to manage who can view or interact with the controls to prevent unauthorized data manipulation.

        - Use detailed and descriptive names for controls to facilitate easier identification and use by end users.'
      parameters:
      - name: reportId
        schema:
          type: string
          description: Unique identifier of the report.
          title: Report ID
        in: path
        required: true
      - name: pageToken
        schema:
          type: string
          description: Use to specify the next set of results with the string returned in the `nextPageToken` field of the previous response.
          title: Page token
        in: query
      - name: pageSize
        schema:
          type: integer
          description: Number of results to return per page, with a maximum of 1000. Defaults to 50.
          title: Page size
        in: query
      - name: tagName
        schema:
          type: string
          description: Specifies the version tag of the report whose controls should be listed.
          title: Version tag
        in: query
      operationId: listReportControls
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  properties:
                    entries:
                      type: array
                      items:
                        type: object
                        required:
                        - name
                        - valueType
                        properties:
                          name:
                            type: string
                          valueType:
                            oneOf:
                            - type: string
                              enum:
                              - boolean
                            - type: string
                              enum:
                              - number
                            - type: string
                              enum:
                              - text
                            - type: string
                              enum:
                              - date
                            - type: string
                              enum:
                              - number-list
                            - type: string
                              enum:
                              - text-list
                            - type: string
                              enum:
                              - date-list
                            - type: string
                              enum:
                              - boolean-list
                            - type: string
                              enum:
                              - date-range
                            - type: string
                              enum:
                              - number-range
                            - type: string
                              enum:
                              - date-null
                            - type: string
                              enum:
                              - number-null
                            - type: string
                              enum:
                              - text-null
                            - type: string
                              enum:
                              - boolean-null
                            description: Value of the control
                      description: Array of results returned by the endpoint
                      title: Result entries
                - type: object
                  properties:
                    nextPageToken:
                      type: string
                      description: 'A string that can be passed to the `pageToken` parameter in the next request to fetch the next page of results. Not present in the last page of results.

                        **Must be treated as an opaque string.**'
                      title: Next page token
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/reports/{reportId}/copy:
    post:
      summary: Duplicate a report
      description: "This endpoint lets you duplicate an existing report. The report copy can be placed in a different folder from the original report, potentially with a different name and description.\n\n### Usage notes\n- The `reportId` parameter specifies the original report to be copied. Retrieve the **reportId** by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint.\n- The `destinationFolderId` in the request body specifies where to place the new report.\n  - To use the \"My Documents\" folder for a specific user as the destination folder, call the [/v2/members/{memberId}](https://help.sigmacomputing.com/reference/get-member) endpoint and use the `homeFolderId` included in the response.\n  - Retrieve the **folderId** of all folders by calling the [/v2/files](https://help.sigmacomputing.com/reference/list-files) endpoint and reviewing the `id` field in the response for files with a `type` of `folder`.\n\n### Usage scenarios\n- **Reuse report structure**: Use an existing report as a baseline to make changes to.\n- **Backup**: Make a backup of a report before making significant changes.\n\n### Best practices\n- Always verify that the destination folder has the correct permissions set to avoid access issues."
      parameters:
      - name: reportId
        schema:
          type: string
          description: Unique identifier of the report.
          title: Report ID
        in: path
        required: true
      operationId: copyReport
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - destinationFolderId
                - name
                properties:
                  destinationFolderId:
                    type: string
                    description: ID of the folder in which to place the copied report.
                    title: Destination Folder ID
                  name:
                    type: string
                    description: Name for the copied report as it appears in Sigma.
                    title: New Report Name
              - type: object
                properties:
                  description:
                    type: string
                    description: A description for the new report.
                    title: New Description
              description: Body parameters for copying a report.
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - reportId
                  - reportUrlId
                  - name
                  - url
                  - path
                  - latestVersion
                  - ownerId
                  properties:
                    reportId:
                      type: string
                      description: Unique identifier of the report.
                      title: Report ID
                    reportUrlId:
                      type: string
                    name:
                      type: string
                    url:
                      type: string
                    path:
                      type: string
                    latestVersion:
                      type: number
                    ownerId:
                      type: string
                - type: object
                  required:
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  properties:
                    createdBy:
                      type: string
                      description: The identifier of the user who created this object.
                    updatedBy:
                      type: string
                      description: The identifier of the user or process that last updated this object.
                    createdAt:
                      type: string
                      format: date-time
                      description: When the object was created.
                    updatedAt:
                      type: string
                      format: date-time
                      description: When the object was last updated.
                - type: object
                  properties:
                    isArchived:
                      type: boolean
                    tags:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - versionTagId
                          - tagName
                          - sourceVersion
                          - taggedAt
                          properties:
                            versionTagId:
                              type: string
                              description: Unique identifier of the tag.
                              title: Tag ID
                            tagName:
                              type: string
                            sourceVersion:
                              type: number
                            taggedAt:
                              type: string
                              format: date-time
                        - type: object
                          required:
                          - taggedReportId
                          properties:
                            taggedReportId:
                              type: string
                              description: Unique identifier of the tagged report.
                              title: Report ID
                    description:
                      type: string
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/reports/{reportId}/elements:
    get:
      summary: List elements in a report
      description: 'This endpoint retrieves all elements in a report, which lets you understand and interact with the individual components that make up the report, such as charts, tables, or controls.

        ### Usage notes

        - Retrieve the **reportId** by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint.

        - To retrieve elements from version-tagged reports, pass the `tagName` in the query parameters with the tag name. Retrieve the tag name by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint and using the `tags.name` included in the response for a given report.

        ### Usage scenarios

        - **Detailed analysis:** Developers and users can retrieve specific elements for detailed data analysis or further manipulation.

        - **Interface customization:** Allows for dynamic interface construction where users can choose which elements to display or interact with.

        ### Best practices

        - Use pagination to handle large numbers of elements efficiently, reducing load times and improving user experience.

        - Validate both the reportId and pageId to ensure they correspond to valid, accessible resources before making API calls.'
      parameters:
      - name: reportId
        schema:
          type: string
          description: Unique identifier of the report.
          title: Report ID
        in: path
        required: true
      - name: pageToken
        schema:
          type: string
          description: Use to specify the next set of results with the string returned in the `nextPageToken` field of the previous response.
          title: Page token
        in: query
      - name: pageSize
        schema:
          type: integer
          description: Number of results to return per page, with a maximum of 1000. Defaults to 50.
          title: Page size
        in: query
      - name: tagName
        schema:
          type: string
          description: Specifies the version tag of the report whose elements should be listed.
          title: Version tag
        in: query
      operationId: listReportElements
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - elementId
                          properties:
                            elementId:
                              type: string
                        - type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                            columns:
                              type: array
                              items:
                                type: string
                            vizualizationType:
                              type: string
                            error:
                              type: string
                      description: Array of results returned by the endpoint
                      title: Result entries
                - type: object
                  properties:
                    nextPageToken:
                      type: string
                      description: 'A string that can be passed to the `pageToken` parameter in the next request to fetch the next page of results. Not present in the last page of results.

                        **Must be treated as an opaque string.**'
                      title: Next page token
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/reports/{reportId}/elements/{elementId}/columns:
    get:
      summary: List columns for a report element
      description: "This endpoint retrieves a list of columns associated with a specific element within a report. It provides metadata about each column, such as name and formula, which can be essential for understanding the data structure and for further data manipulation or analysis.\n\n  ### Usage notes\n  - Retrieve the **reportId** by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint.\n  - Retrieve the **elementId** by first calling the [/v2/reports/{reportId}/pages](listreportpages) endpoint, then calling the [/v2/reports/{reportId}/pages/{pageId}/elements](listreportpageelements) endpoint.\n  - The element that you request must be a data element, such as a table, pivot table, or visualization. Requesting a UI or control element returns an error.\n  - To retrieve element columns from a version-tagged report, pass the `tagName` query parameter with the tag name. Retrieve the tag name by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint and using the `tags.tagName` field in the response.\n\n  ### Usage scenarios\n  - **Data exploration:** Helps users explore the data structure of a report element, facilitating deeper analysis and understanding.\n  - **Integration tasks:** Useful for developers integrating Sigma with other tools that need to know the data structure to map data accurately.\n\n  ### Best practices\n  - Validate the **elementId** to make sure it corresponds to the correct report element before querying.\n  - Leverage this endpoint when setting up interfaces that require specific knowledge about the data structure."
      parameters:
      - name: reportId
        schema:
          type: string
          description: Unique identifier of the report.
          title: Report ID
        in: path
        required: true
      - name: elementId
        schema:
          type: string
          description: Unique identifier of the report element.
          title: Element ID
        in: path
        required: true
      - name: pageToken
        schema:
          type: string
          description: Use to specify the next set of results with the string returned in the `nextPageToken` field of the previous response.
          title: Page token
        in: query
      - name: pageSize
        schema:
          type: integer
          description: Number of results to return per page, with a maximum of 1000. Defaults to 50.
          title: Page size
        in: query
      - name: tagName
        schema:
          type: string
          description: Specifies the version tag of the report whose element columns should be listed.
          title: Version tag
        in: query
      operationId: listReportElementColumns
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  properties:
                    entries:
                      type: array
                      items:
                        type: object
                        required:
                        - columnId
                        - label
                        - formula
                        - type
                        properties:
                          columnId:
                            type: string
                            description: Column ID
                          label:
                            type: string
                            description: Column name
                          formula:
                            type: string
                            description: Column formula
                          type:
                            type: object
                            description: The column's data type, represented as a recursive type object.
                      description: Array of results returned by the endpoint
                      title: Result entries
                - type: object
                  properties:
                    nextPageToken:
                      type: string
                      description: 'A string that can be passed to the `pageToken` parameter in the next request to fetch the next page of results. Not present in the last page of results.

                        **Must be treated as an opaque string.**'
                      title: Next page token
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/reports/{reportId}/elements/{elementId}/query:
    get:
      summary: Get the SQL query for a report element
      description: 'This endpoint retrieves the SQL query associated with a specific element in a report. It allows users to view and understand how the data for that element is being processed and transformed.


        ### Usage notes

        - Retrieve the **reportId** by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint.

        - Retrieve the **elementId** by first calling the [/v2/reports/{reportId}/pages](listreportpages) endpoint, then calling the [/v2/reports/{reportId}/pages/{pageId}/elements](listreportpageelements) endpoint.


        ### Usage scenarios

        - **Development and debugging:** Provides developers and analysts with the ability to retrieve and review the SQL code behind report elements, facilitating troubleshooting and enhancements.

        - **Educational insight:** Useful for training purposes or for users learning to understand the impact of various transformations and filters applied within their reports.


        ### Best practices

        - Ensure proper access controls are in place to manage who can view potentially sensitive query information.

        - Use this endpoint as part of a regular review process to ensure that all queries are optimized and up to date with current data schemas.'
      parameters:
      - name: reportId
        schema:
          type: string
          description: Unique identifier of the report.
          title: Report ID
        in: path
        required: true
      - name: elementId
        schema:
          type: string
          description: Unique identifier of the element
          title: Element ID
        in: path
        required: true
      operationId: getReportElementQuery
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - elementId
                  properties:
                    elementId:
                      type: string
                - type: object
                  properties:
                    name:
                      type: string
                    sql:
                      type: string
                    error:
                      type: string
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/reports/{reportId}/export:
    post:
      summary: Export data from a report
      description: "This endpoint lets you create a file containing data exported from a report. Export the entire report or a single report page. Reports are exported as PDF documents.\n\nSuccessful requests return a **queryId**. Use the **queryId** with the [/v2/query/{queryId}/download](https://help.sigmacomputing.com/reference/download-query) endpoint to download the file when it is ready. See [Download an exported file](https://help.sigmacomputing.com/reference/download-query).\n\nTo export a report to a specific destination or recipient, see the [/v2/reports/{reportId}/send](https://help.sigmacomputing.com/reference/send-report) endpoint.\n\n### Usage notes\n- Retrieve the **reportId** by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint.\n- This endpoint is rate limited to 400 requests per minute.\n- If a page contains an expanded table, all pages of that table's data are included in the export, even if only the first page of the table is selected. \n- Only PDF exports are supported. Use the `layout` parameter to specify either `portrait` or `landscape` layout.\n- For security and privacy reasons, the `queryId` used to download the exported file expires 1 hour after your request is received. You can extend this to 6 hours using the `resultsValidityTimeMs` parameter.\n\n### Usage scenarios\n- **Conditional report export**: Based on an external set of conditions, export a report from Sigma.\n- **Integration**: Integrate enriched and analyzed data with other applications, providing the necessary data in a format that these applications can process.\n\n### Best practices\n- Clearly specify parameters to retrieve only the necessary data, optimizing performance and reducing network load."
      parameters:
      - name: reportId
        schema:
          type: string
          description: Unique identifier of the report.
          title: Report ID
        in: path
        required: true
      operationId: exportReport
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              allOf:
              - oneOf:
                - type: object
                  required:
                  - format
                  properties:
                    format:
                      type: object
                      required:
                      - type
                      - layout
                      properties:
                        type:
                          type: string
                          enum:
                          - pdf
                        layout:
                          type: string
                          enum:
                          - portrait
                          - landscape
                  description: Export an entire report
                  title: Export an entire report
                - type: object
                  required:
                  - pageId
                  - format
                  properties:
                    pageId:
                      type: string
                      description: Identifier of the report page.
                    format:
                      type: object
                      required:
                      - type
                      - layout
                      properties:
                        type:
                          type: string
                          enum:
                          - pdf
                        layout:
                          type: string
                          enum:
                          - portrait
                          - landscape
                  description: Export a page of a report
                  title: Export a page of a report
              - type: object
                properties:
                  parameters:
                    type: object
                    additionalProperties:
                      type: string
                    description: "Specify the control ID and control value of one or more control elements in the workbook or report to filter the returned data. The control must exist in the Sigma workbook or report and target an element before you can export based on the control value.\n\n**Syntax**\n{ control-id: control-value }\n\nThe control-id is configured in the Sigma workbook or report. The control-value is the value that is passed to the control.\n\nValues can take multiple forms, depending on the data type of the control:\n\n**Boolean**\n\n- Single value: \"true\" | \"false\" | \":null\"\n- List of Boolean: \"true,false,:null\" (No space after the comma.)\n\n**Number**\n\n- Single value: \"10.54\", \":null\"\n- List of values: \"10.54,23.45,:null\" (No space after the comma.)\n- Range of numbers: \"min:10.54,max:23.45\" (No space after the comma or colon.)\n\n**Text**\n\n- Single value: \"some-text\" | \":null\" | \":empty\"\n- List of values: \"some-text,more-text,:null,:empty\" (No space after the comma.)\n\n**Date**\n\nAll dates use UTC time zones.\n\n- Fixed date using ISO-6801 format: \"2022-01-01T01:01:59\" | \":null\"\n    - Formats supported (where: %Y: year, %m: month, %d: day, %H:hours, %M: minutes, %S: seconds):\n        - %Y-%m-%d\n        - %Y-%m-%dT%H:%M\n        - %Y-%m-%dT%H:%M:%S\n- List of fixed dates: \"2022-01-01T01:01:59,2022-02-02T02:02:59,:null\"\n- Relative date: \"prior-day-3\" | \"next-day-3\"\n    - Format: [prior|next]-[year|quarter|month|week|isoWeek|day|hour|minute]-[number]\n- Date range: \"min:2022-01-01T01:01:59,max:next-day-3\" (No spaces after the comma or colon.)\n    - Leave max blank for \"on or after\" and min blank for \"on or before\", for example:\n        - \"Date-Range\": \"min:2020-04-01,max:\"\n        - \"Date-Range\": \"min:,max:next-day-3\"\n\n**Notes**\n\n- \":null\" is a special value that denotes the null primitive value.\n- \":empty\" is a special value that denotes the empty string \"\".\n\nUse [URL encoding](https://help.sigmacomputing.com/docs/special-characters-for-url-parameters) to encode characters in your control values (such as commas) to prevent the system from interpreting them as separators.\n\nFor example:\n\"New York, NY,Boston, MA\" can be encoded as:\n\n\"New%20York%2C%20NY,Boston%2C%20MA\""
                  timeout:
                    type: number
                    description: ''
                  tag:
                    type: string
                    description: Specifies the version tag of the report to be exported.
            examples:
              Request Example:
                value:
                  format:
                    type: pdf
                    layout: portrait
                  parameters:
                    region: North America
                  timeout: 5
                  tag: my-tag
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - jobComplete
                  - queryId
                  properties:
                    jobComplete:
                      type: boolean
                    queryId:
                      type: string
                - type: object
                  properties:
                    rows:
                      type: array
                      items:
                        type: object
                        additionalProperties: {}
                    message:
                      type: string
              examples:
                Response Example:
                  value:
                    jobComplete: false
                    queryId: 88889999-aaaa-bbbb-cccc-ddddeeeeffff
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/reports/{reportId}/grants:
    post:
      summary: Grant permissions on a report to users or teams
      description: "You can use this endpoint to grant specific document permissions on a specific report to users or teams.\n\n   ### Usage notes\n\n   - Ensure the **reportId** in the path is valid and that the user has rights to modify its permissions. Retrieve the **reportId** by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint.\n   - Do not set both **memberId** and **teamId** in the same **grantee** object. Instead, choose one based on the target of the grant.\n\n     - Retrieve the **memberId** by calling the [/v2/members](https://help.sigmacomputing.com/reference/list-members) endpoint.\n     - Retrieve the **teamId** by calling the [/v2/teams](https://help.sigmacomputing.com/reference/list-teams) endpoint.\n   - Grant permissions on a specific version tag of a report by specifying the **tagId**. Retrieve the **tagId** by calling the [/v2/tags](https://help.sigmacomputing.com/reference/list-version-tag) endpoint and using the `versionTagId` in the response.\n\n   ### Usage scenarios\n\n   - **Team collaboration**: Granting edit permissions to a team for collaborative work on a project.\n   - **External access sharing**: Providing view access to an external consultant.\n\n   ### Best practices\n\n   - Validate user and team IDs before submitting them in a request to avoid errors.\n   - Use the **tagId** to help manage and revoke grants systematically as project requirements change."
      parameters:
      - name: reportId
        schema:
          type: string
          description: Unique identifier of the report.
          title: Report ID
        in: path
        required: true
      operationId: createReportGrant
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - grants
              properties:
                grants:
                  type: array
                  items:
                    allOf:
                    - type: object
                      required:
                      - grantee
                      - permission
                      properties:
                        grantee:
                          oneOf:
                          - type: object
                            required:
                            - memberId
                            properties:
                              memberId:
                                type: string
                            description: The UUID of the member receiving the grant
                            title: Member
                          - type: object
                            required:
                            - teamId
                            properties:
                              teamId:
                                type: string
                            description: The UUID of the team receiving the grant
                            title: Team
                        permission:
                          type: string
                          enum:
                          - view
                          - edit
                          description: Permission to grant for access to the report.
                          title: ReportPermission
                    - type: object
                      properties:
                        tagId:
                          type: string
              title: Report grant creation request
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/reports/{reportId}/grants/{grantId}:
    delete:
      summary: Delete a report grant
      description: "This endpoint deletes a specific grant from a report. Deleting a grant revokes the permissions associated with it, ensuring that the specified users or teams no longer have the access rights previously granted.\n\n  ### Usage notes\n  - **reportId:** The identifier of the report from which the grant is to be deleted. Retrieve the **reportId** by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint.\n  - **grantId:** The identifier of the grant that needs to be removed. Retrieve the **grantId** by calling the [/v2/grants](https://help.sigmacomputing.com/reference/list-grants) endpoint with the `reportId` as the `inodeId`.\n\n  ### Usage scenarios\n  - **Access revocation:** Administrators can use this endpoint to manage and revoke access as team roles or project needs evolve.\n  - **Security compliance:** Ensures that access to sensitive data within reports is tightly controlled and can be promptly adjusted in response to security policy changes or personnel updates.\n\n  ### Best practices\n  - Always confirm the identities associated with both the report and grant before proceeding with deletion to avoid accidental revocations.\n  - Log and audit all grant deletions to maintain records for security audits and compliance tracking."
      parameters:
      - name: reportId
        schema:
          type: string
          description: Unique identifier of the report.
          title: Report ID
        in: path
        required: true
      - name: grantId
        schema:
          type: string
          description: Unique identifier of the grant.
          title: Grant ID
        in: path
        required: true
      operationId: deleteReportGrant
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/reports/{reportId}/lineage:
    get:
      summary: List lineage for a report
      description: "This endpoint lists the data elements in a report and their dependencies and relationships, providing a detailed view of how data is interconnected within a report.\n\n  ### Usage notes\n  - Retrieve the **reportId** by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint.\n\n  ### Usage scenarios\n  - **Data governance:** Allows data managers to track how information is used and propagated through different report elements.\n  - **Debugging and optimization:** Helps with identifying and resolving issues in data processing or report structure.\n  - **Data source management**: Identify the dependencies of data sources in use in a specific report.\n\n  ### Best practices\n  - Integrate this information into documentation or data dictionaries to enhance transparency and understanding across teams.\n  - Use this endpoint to regularly audit report structures, ensuring that all data connections and transformations are correct and optimized."
      parameters:
      - name: reportId
        schema:
          type: string
          description: Unique identifier of the report.
          title: Report ID
        in: path
        required: true
      - name: pageToken
        schema:
          type: string
          description: Use to specify the next set of results with the string returned in the `nextPageToken` field of the previous response.
          title: Page token
        in: query
      - name: pageSize
        schema:
          type: integer
          description: Number of results to return per page, with a maximum of 1000. Defaults to 50.
          title: Page size
        in: query
      operationId: listReportLineageTree
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  properties:
                    entries:
                      type: array
                      items:
                        oneOf:
                        - allOf:
                          - type: object
                            required:
                            - type
                            properties:
                              type:
                                type: string
                                enum:
                                - table
                                - dataset
                                - data-model
                                - element
                                - customSQL
                                - csv-upload
                                - semantic-view
                                - sql-document
                          - type: object
                            required:
                            - sourceIds
                            - elementId
                            - dataSourceIds
                            properties:
                              sourceIds:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: string
                                description: List of direct sources for the element. Either element IDs or data source IDs.
                              elementId:
                                type: string
                                description: Unique identifier of the element
                              dataSourceIds:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: string
                                description: List of root sources for the element as data source IDs.
                          description: ''
                          title: Element details
                        - allOf:
                          - allOf:
                            - type: object
                              required:
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - table
                                  - dataset
                                  - data-model
                                  - element
                                  - customSQL
                                  - csv-upload
                                  - semantic-view
                                  - sql-document
                            - type: object
                              required:
                              - connectionId
                              - name
                              properties:
                                connectionId:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                          - type: object
                            required:
                            - dataModelId
                            properties:
                              dataModelId:
                                type: string
                          description: ''
                          title: Source data model details
                        - allOf:
                          - allOf:
                            - type: object
                              required:
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - table
                                  - dataset
                                  - data-model
                                  - element
                                  - customSQL
                                  - csv-upload
                                  - semantic-view
                                  - sql-document
                            - type: object
                              required:
                              - connectionId
                              - name
                              properties:
                                connectionId:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                          - type: object
                            required:
                            - inodeId
                            properties:
                              inodeId:
                                type: string
                          description: ''
                          title: Source table or dataset (deprecated) details
                        - allOf:
                          - allOf:
                            - type: object
                              required:
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - table
                                  - dataset
                                  - data-model
                                  - element
                                  - customSQL
                                  - csv-upload
                                  - semantic-view
                                  - sql-document
                            - type: object
                              required:
                              - connectionId
                              - name
                              properties:
                                connectionId:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                          - type: object
                            required:
                            - definition
                            properties:
                              definition:
                                type: string
                                description: ''
                                title: Custom SQL definition
                          description: ''
                          title: Source custom SQL details
                        - allOf:
                          - allOf:
                            - type: object
                              required:
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - table
                                  - dataset
                                  - data-model
                                  - element
                                  - customSQL
                                  - csv-upload
                                  - semantic-view
                                  - sql-document
                            - type: object
                              required:
                              - connectionId
                              - name
                              properties:
                                connectionId:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                          - type: object
                            required:
                            - csvId
                            properties:
                              csvId:
                                type: string
                                description: Unique identifier of the uploaded CSV file
                                title: CSV ID
                          description: ''
                          title: Source CSV upload details
                        - allOf:
                          - allOf:
                            - type: object
                              required:
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - table
                                  - dataset
                                  - data-model
                                  - element
                                  - customSQL
                                  - csv-upload
                                  - semantic-view
                                  - sql-document
                            - type: object
                              required:
                              - connectionId
                              - name
                              properties:
                                connectionId:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                          - type: object
                            required:
                            - semanticViewId
                            - semanticViewTable
                            properties:
                              semanticViewId:
                                type: string
                                description: Unique identifier of the semantic view
                                title: Semantic view ID
                              semanticViewTable:
                                type: string
                                description: Name of the table within the semantic view
                                title: Semantic view table
                          description: ''
                          title: Source semantic view details
                        - allOf:
                          - allOf:
                            - type: object
                              required:
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - table
                                  - dataset
                                  - data-model
                                  - element
                                  - customSQL
                                  - csv-upload
                                  - semantic-view
                                  - sql-document
                            - type: object
                              required:
                              - connectionId
                              - name
                              properties:
                                connectionId:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                          - type: object
                            required:
                            - sqlDocumentId
                            properties:
                              sqlDocumentId:
                                type: string
                          description: ''
                          title: Source SQL document details (deprecated)
                      description: Array of results returned by the endpoint
                      title: Result entries
                - type: object
                  properties:
                    nextPageToken:
                      type: string
                      description: 'A string that can be passed to the `pageToken` parameter in the next request to fetch the next page of results. Not present in the last page of results.

                        **Must be treated as an opaque string.**'
                      title: Next page token
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - reports
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/reports/{reportId}/lineage/elements/{elementId}:
    get:
      summary: List lineage of a report element
      description: "This endpoint retrieves the lineage and dependencies of a specific report element. It provides a detailed view of how data is interconnected within a report, which can be critical for understanding data sources and dependencies.\n\n  ### Usage notes\n  - **reportId:** The UUID of the report containing the element. Retrieve the **reportId** by calling the [/v2/reports](https://help.sigmacomputing.com/reference/list-reports) endpoint.\n  - **elementId:** The UUID of the element within the report whose lineage is being queried. Retrieve the **elementId** by first calling the [/v2/reports/{reportId}/pages](listreportpages) endpoint, then calling the [/v2/reports/{reportId}/pages/{pageId}/elements](listreportpageelements) endpoint.\n  - The element that you request must be a data element, such as a table, pivot table, or visualization. Requesting a UI or control element returns an error.\n\n  ### Usage scenarios\n  - **Data governance:** Allows data managers to track how information is used and propagated through different report elements.\n  - **Debugging and optimization:** Helps in identifying and resolving issues in data processing or in the structure of report setups.\n  - **Data source management**: Identify the data sources in use in a specific report.\n\n  ### Best practices\n  - Use this endpoint to regularly audit report structures, ensuring that all data connections and transformations are correct and optimized.\n  - Integrate this information into documentation or data dictionaries to enhance transparency and understanding across teams."
      parameters:
      - name: reportId
        schema:
          type: string
          description: Unique identifier of the report.
          title: Report ID
        in: path
        required: true
      - name: elementId
        schema:
          type: string
          description: Unique identifier of the element
          title: Element ID
        in: path
        required: true
      operationId: listReportElementLineage
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                required:
                - dependencies
                - edges
                properties:
                  dependencies:
                    type: object
                    additionalProperties:
                      oneOf:
                      - type: object
                        required:
                        - nodeId
                        - type
                        properties:
                          nodeId:
                            type: string
                          type:
                            type: string
                        description: ''
                        title: Element details
                      - allOf:
                        - type: object
                          required:
                          - nodeId
                          - type
                          properties:
                            nodeId:
                              type: string
[...]
