openapi: 3.2.0
info:
  title: Sigma Computing Connections API
  version: '1.0'
  description: 'Operations tagged connections across 2 of this provider''s published API definitions: sigma-computing-public-rest-api-openapi.json, sigma-computing-rest-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sigmacomputing.com
  description: Server for GCP (US) hosted organizations
- url: https://api.sa.gcp.sigmacomputing.com
  description: Server for GCP (KSA) hosted organizations
- url: https://aws-api.sigmacomputing.com
  description: Server for AWS US (West) hosted organizations
- url: https://api.us-a.aws.sigmacomputing.com
  description: Server for AWS US (East) hosted organizations
- url: https://api.ca.aws.sigmacomputing.com
  description: Server for AWS Canada hosted organizations
- url: https://api.eu.aws.sigmacomputing.com
  description: Server for AWS Europe hosted organizations
- url: https://api.au.aws.sigmacomputing.com
  description: Server for AWS Australia and APAC hosted organizations
- url: https://api.uk.aws.sigmacomputing.com
  description: Server for AWS UK hosted organizations
- url: https://api.us.azure.sigmacomputing.com
  description: Server for Azure US hosted organizations
- url: https://api.eu.azure.sigmacomputing.com
  description: Server for Azure Europe hosted organizations
- url: https://api.ca.azure.sigmacomputing.com
  description: Server for Azure Canada hosted organizations
- url: https://api.uk.azure.sigmacomputing.com
  description: Server for Azure United Kingdom hosted organizations
- url: https://api.au.azure.sigmacomputing.com
  description: Server for Azure Australia hosted organizations
tags:
- name: connections
paths:
  /v2/connection/{connectionId}/lookup:
    post:
      summary: Look up connections by path
      description: "This endpoint returns details about the fully qualified path to an object in a specific connection by connection ID.\n\n  ### Usage notes\n  - Retrieve the **connectionId** by calling the [/v2/connections](https://help.sigmacomputing.com/reference/list-connections) endpoint.\n\n  Different connections support different paths:\n\n  - For a Snowflake connection, you can specify `DATABASE.SCHEMA.TABLE`, `DATABASE.SCHEMA.STORED_PROCEDURE`, or a less-specific path.\n  - For Amazon Redshift, you can specify `SCHEMA.TABLE`, `SCHEMA.STORED_PROCEDURE`, or a less-specific path.\n  - For Databricks, you can specify `CATALOG.SCHEMA.TABLE` or a less-specific path.\n\n  Connection path details include the connection path ID, called the `inodeId` in the response, and the type of object in the connection path, either a table or a scope (database, schema, catalog, or other higher-level object)."
      parameters:
      - name: connectionId
        schema:
          type: string
        in: path
        required: true
      operationId: lookupConnection
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - path
              properties:
                path:
                  oneOf:
                  - type: array
                    minItems: 3
                    maxItems: 3
                    items:
                      type: string
                      description: Database name
                      title: Database
                    description: Represents a path of the form `DATABASE.SCHEMA.TABLE` or `DATABASE.SCHEMA.STORED_PROCEDURE`.
                    title: Table or Object Path
                  - type: array
                    minItems: 2
                    maxItems: 2
                    items:
                      type: string
                      description: Database Name
                      title: Database
                    description: Represents a path of the form `DATABASE.SCHEMA`.
                    title: Schema Path
                  - type: array
                    minItems: 1
                    maxItems: 1
                    items:
                      type: string
                      description: Database Name
                      title: Database
                    description: Represents a path of the form `DATABASE`.
                    title: Database Path
                  - type: array
                    items: {}
                    maxItems: 0
                    description: Empty path to sync the entire connection.
                    title: Empty Path
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                required:
                - kind
                - inodeId
                - url
                properties:
                  kind:
                    type: string
                    enum:
                    - scope
                    - table
                    - semanticView
                    - metricView
                    - stored-procedure
                  inodeId:
                    type: string
                  url:
                    type: string
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - connections
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/connections:
    get:
      summary: List connections
      description: Get a list of available connections and the connection IDs.
      parameters:
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      - name: includeArchived
        schema:
          type: boolean
        in: query
      - name: search
        schema:
          type: string
          description: Search filter for the name of the connection.
        in: query
      operationId: listConnections
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - organizationId
                          - connectionId
                          - isSample
                          - isAuditLog
                          - lastActiveAt
                          - name
                          - type
                          - useOauth
                          - createdBy
                          - updatedBy
                          - createdAt
                          - updatedAt
                          properties:
                            organizationId:
                              type: string
                              description: Unique identifier of the organization
                            connectionId:
                              type: string
                              description: Unique identifier of the connection
                            isSample:
                              type: boolean
                              description: Whether the connection is the Sigma sample data connection
                            isAuditLog:
                              type: boolean
                              description: Whether audit logging is enabled
                            lastActiveAt:
                              type: string
                              format: date-time
                              description: Last activity date and time
                            name:
                              type: string
                              description: Name of the connection
                            type:
                              type: string
                              description: Type of the connection (e.g., "bigQuery")
                            useOauth:
                              type: boolean
                              description: Whether OAuth is used
                            createdBy:
                              type: string
                              description: Identifier of the user who created this connection
                            updatedBy:
                              type: string
                              description: Identifier of the user or process that last updated this connection
                            createdAt:
                              type: string
                              format: date-time
                              description: When the connection was created
                            updatedAt:
                              type: string
                              format: date-time
                              description: When the connection was last updated
                        - type: object
                          properties:
                            isArchived:
                              type: boolean
                              description: Whether the connection is archived
                            account:
                              type: string
                              description: Account associated with the connection
                            warehouse:
                              type: string
                              description: Warehouse associated with the connection
                            user:
                              type: string
                              description: User associated with the connection
                            role:
                              type: string
                              description: Role used by the connection user
                            timeout:
                              allOf:
                              - type: object
                                required:
                                - default
                                properties:
                                  default:
                                    type: number
                              - type: object
                                properties:
                                  worksheet:
                                    type: number
                                  dashboard:
                                    type: number
                                  download:
                                    type: number
                              description: Timeout settings for the connection, with a default value in seconds
                            poolSizes:
                              type: object
                              properties:
                                isPoolConfigured:
                                  type: boolean
                                adhocPoolSize:
                                  type: number
                                catalogPoolSize:
                                  type: number
                                resultPoolSize:
                                  type: number
                                schedulePoolSize:
                                  type: number
                              description: Pool sizes for the connection, such as for adhocPoolSize or schedulePoolSize
                            writeAccess:
                              type: boolean
                            friendlyName:
                              type: boolean
                              description: Whether friendly names are enabled for this connection
                            writebacks:
                              type: array
                              items:
                                allOf:
                                - allOf:
                                  - type: object
                                    required:
                                    - database
                                    - schema
                                    properties:
                                      database:
                                        type: string
                                        description: Database, catalog, or top-level object to contain tables written back to the data platform
                                      schema:
                                        type: string
                                        description: Schema, database, or second-level object to contain tables written back to the data platform
                                  - type: object
                                    properties:
                                      writebackSchemaId:
                                        type: string
                                        description: Unique identifier of the writebackSchema
                                - type: object
                                  properties:
                                    description:
                                      type: string
                                      description: Description for the write-back destination.
                              description: Configure write-back for non-OAuth connections
                            writebackSchemas:
                              type: array
                              items:
                                allOf:
                                - allOf:
                                  - type: object
                                    required:
                                    - database
                                    - schema
                                    properties:
                                      database:
                                        type: string
                                        description: Database, catalog, or top-level object to contain tables written back to the data platform
                                      schema:
                                        type: string
                                        description: Schema, database, or second-level object to contain tables written back to the data platform
                                  - type: object
                                    properties:
                                      writebackSchemaId:
                                        type: string
                                        description: Unique identifier of the writebackSchema
                                - type: object
                                  properties:
                                    description:
                                      type: string
                                      description: Description for the write-back destination.
                              description: Configure write-back for OAuth connections
                            inputTableAuditLogSchema:
                              allOf:
                              - type: object
                                required:
                                - database
                                - schema
                                properties:
                                  database:
                                    type: string
                                    description: Database, catalog, or top-level object to contain tables written back to the data platform
                                  schema:
                                    type: string
                                    description: Schema, database, or second-level object to contain tables written back to the data platform
                              - type: object
                                properties:
                                  writebackSchemaId:
                                    type: string
                                    description: Unique identifier of the writebackSchema
                              description: Schema to use for the input table write-ahead log (WAL). Cannot be changed without breaking write behavior on this connection.
                            materializationWarehouse:
                              type: string
                              description: Warehouse used to run materialization jobs
                            exportsWarehouse:
                              type: string
                              description: Warehouse used to run export jobs
                            oauthMetadataUrl:
                              type: string
                              description: OAuth metadata URL configured directly on this connection.
                            oauthClientId:
                              type: string
                              description: Client ID configured directly on this connection.
                            oauthScopes:
                              type: array
                              items:
                                type: string
                              description: OAuth scopes configured directly on this connection.
                            oauthIdpType:
                              oneOf:
                              - type: string
                                enum:
                                - aws_databricks
                              - type: string
                                enum:
                                - azure_databricks
                              - type: string
                                enum:
                                - gcp_databricks
                              - type: string
                                enum:
                                - azuread
                              - type: string
                                enum:
                                - auth0
                              - type: string
                                enum:
                                - adfs
                              - type: string
                                enum:
                                - okta
                              - type: string
                                enum:
                                - ping
                              - type: string
                                enum:
                                - snowflake
                              - type: string
                                enum:
                                - unknown
                              description: OAuth provider type configured or inferred for this connection.
                            oauthUsePkce:
                              type:
                              - boolean
                              - 'null'
                              description: Whether this connection-level OAuth configuration uses PKCE.
                            oauthUseJwt:
                              type:
                              - boolean
                              - 'null'
                              description: Whether this connection-level OAuth configuration uses JWT bearer token authentication.
                            oauthAudience:
                              type: string
                              description: Audience used for OAuth federation, such as the Google workforce identity federation audience for BigQuery.
                            isIndependentOAuth:
                              type: boolean
                              description: Whether this connection uses connection-level OAuth instead of organization-level OAuth.
                            userAttributes:
                              type: object
                              properties:
                                role:
                                  type: string
                                warehouse:
                                  type: string
                              description: User attributes associated with the connection
                            roleSwitching:
                              type: string
                              enum:
                              - allRoles
                              - disabled
                              description: Whether a Snowflake OAuth connection allows users to switch roles when running queries. Only meaningful for Snowflake OAuth connections.
                      description: Array of results returned by the endpoint
                    nextPage:
                      type:
                      - string
                      - 'null'
                      description: Returns a string that can be used as the `page` parameter in the next request to fetch the next page of results. The last page of results returns `null`.
                - type: object
                  properties:
                    total:
                      type: number
                      description: Total number of results. Useful to determine if there is a need to paginate.
                    hasMore:
                      type: boolean
                      description: '**[Deprecated]** Indicates whether more results are available.'
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - connections
      security:
      - oauth2: []
    post:
      summary: Create a connection
      description: Create a connection to a cloud data warehouse from Sigma. For additional details, see [Connect to data sources](https://help.sigmacomputing.com/docs/connect-to-data-sources).
      parameters: []
      operationId: createConnection
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - details
                - name
                properties:
                  details:
                    oneOf:
                    - allOf:
                      - type: object
                        required:
                        - type
                        - host
                        - database
                        properties:
                          type:
                            type: string
                            enum:
                            - postgres
                            - redshift
                            - alloydb
                          host:
                            type: string
                          database:
                            type: string
                      - type: object
                        properties:
                          user:
                            type: string
                          password:
                            oneOf:
                            - type: string
                            - type: object
                              required:
                              - type
                              - value
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - plain
                                value:
                                  type: string
                            - type: object
                              required:
                              - secretManagerId
                              - secretId
                              properties:
                                secretManagerId:
                                  type: string
                                secretId:
                                  type: string
                          port:
                            type: number
                          useTls:
                            type: boolean
                          writeAccess:
                            type: object
                            required:
                            - writeSchema
                            properties:
                              writeSchema:
                                type: string
                      description: Details of the PostgreSQL connection.
                      title: PostgreSQL
                    - allOf:
                      - allOf:
                        - type: object
                          required:
                          - type
                          - projectId
                          properties:
                            type:
                              type: string
                              enum:
                              - bigQuery
                            projectId:
                              type: string
                        - type: object
                          properties:
                            additionalProjectIds:
                              type: array
                              items:
                                type: string
                            serviceAccount:
                              oneOf:
                              - type: string
                              - type: object
                                required:
                                - secretManagerId
                                - secretId
                                properties:
                                  secretManagerId:
                                    type: string
                                  secretId:
                                    type: string
                      - type: object
                        properties:
                          metadataUrl:
                            type: string
                            description: OAuth metadata URL for connection-level OAuth.
                          clientId:
                            type: string
                            description: Client ID for the OAuth application used by this connection.
                          clientSecret:
                            oneOf:
                            - type: string
                            - type: object
                              required:
                              - secretManagerId
                              - secretId
                              properties:
                                secretManagerId:
                                  type: string
                                secretId:
                                  type: string
                            description: Client secret for the OAuth application used by this connection. This value is write-only and is not returned by the API.
                          scopes:
                            type: array
                            items:
                              type: string
                            description: OAuth scopes to request when users authenticate to this connection.
                          idpType:
                            oneOf:
                            - type: string
                              enum:
                              - aws_databricks
                            - type: string
                              enum:
                              - azure_databricks
                            - type: string
                              enum:
                              - gcp_databricks
                            - type: string
                              enum:
                              - azuread
                            - type: string
                              enum:
                              - auth0
                            - type: string
                              enum:
                              - adfs
                            - type: string
                              enum:
                              - okta
                            - type: string
                              enum:
                              - ping
                            - type: string
                              enum:
                              - snowflake
                            - type: string
                              enum:
                              - unknown
                            type: 'null'
                            description: OAuth provider type. Supported values are adfs, auth0, azuread, okta, ping, snowflake, aws_databricks, azure_databricks, gcp_databricks, and unknown.
                          usePkce:
                            type:
                            - boolean
                            - 'null'
                            description: Whether the OAuth flow should require Proof Key for Code Exchange (PKCE). Databricks-hosted OAuth providers require PKCE.
                          useJwt:
                            type:
                            - boolean
                            - 'null'
                            description: Whether the OAuth flow should use JWT bearer token authentication instead of a client secret.
                      - type: object
                        properties:
                          useOauth:
                            type: boolean
                            description: Whether this BigQuery connection uses OAuth federation.
                          audience:
                            type: string
                            description: Google workforce identity federation audience used to exchange the OAuth token for a Google access token.
                          writeAccess:
                            type: object
                            required:
                            - writeProject
                            - writeDataset
                            properties:
                              writeProject:
                                type: string
                              writeDataset:
                                type: string
                      description: Details of the BigQuery connection.
                      title: Google BigQuery
                    - allOf:
                      - allOf:
                        - type: object
                          required:
                          - type
                          properties:
                            type:
                              type: string
                              enum:
                              - snowflake
                        - type: object
                          properties:
                            server:
                              type: string
                            account:
                              type: string
                            host:
                              type: string
                            warehouse:
                              type: string
                            role:
                              type: string
                            authType:
                              type: string
                              enum:
                              - basic-auth
                              - key-pair
                              - oauth
                        - oneOf:
                          - type: object
                            required:
                            - user
                            - password
                            properties:
                              user:
                                type: string
                              password:
                                oneOf:
                                - type: string
                                - type: object
                                  required:
                                  - type
                                  - value
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - plain
                                    value:
                                      type: string
                                - type: object
                                  required:
                                  - secretManagerId
                                  - secretId
                                  properties:
                                    secretManagerId:
                                      type: string
                                    secretId:
                                      type: string
                            description: Set up basic authentication for the connection
                            title: Basic Authentication
                          - allOf:
                            - type: object
                              required:
                              - user
                              - privateKey
                              properties:
                                user:
                                  type: string
                                privateKey:
                                  oneOf:
                                  - type: string
                                  - type: object
                                    required:
                                    - secretManagerId
                                    - secretId
                                    properties:
                                      secretManagerId:
                                        type: string
                                      secretId:
                                        type: string
                            - type: object
                              properties:
                                privateKeyPassphrase:
                                  oneOf:
                                  - type: string
                                  - type: object
                                    required:
                                    - secretManagerId
                                    - secretId
                                    properties:
                                      secretManagerId:
                                        type: string
                                      secretId:
                                        type: string
                            description: Set up key-pair authentication for the connection
                            title: Key-Pair Authentication
                          - type: object
                            required:
                            - useOauth
                            properties:
                              useOauth:
                                type: boolean
                                enum:
                                - true
                            description: Set up OAuth for the connection
                            title: OAuth
                        - type: object
                          properties:
                            usePython:
                              type: boolean
                            pythonSecrets:
                              type: object
                              properties:
                                setupUser:
                                  allOf:
                                  - type: object
                                    required:
                                    - username
                                    - password
                                    properties:
                                      username:
                                        type: string
                                      password:
                                        type: string
                                  - type: object
                                    properties:
                                      role:
                                        type: string
                                pythonUser:
                                  allOf:
                                  - type: object
                                    required:
                                    - username
                                    - password
                                    properties:
                                      username:
                                        type: string
                                      password:
                                        type: string
                                  - type: object
                                    properties:
                                      role:
                                        type: string
                            pythonProperties:
                              type: object
                              properties:
                                serviceNames:
                                  type: array
                                  items:
                                    type: string
                                externalAccessIntegration:
                                  type: string
                        - type: object
                          properties:
                            useSourceSwapPolicy:
                              type: boolean
                            sourceSwapPolicyId:
                              type: string
                      - type: object
                        properties:
                          metadataUrl:
                            type: string
                            description: OAuth metadata URL for connection-level OAuth.
                          clientId:
                            type: string
                            description: Client ID for the OAuth application used by this connection.
                          clientSecret:
                            oneOf:
                            - type: string
                            - type: object
                              required:
                              - secretManagerId
                              - secretId
                              properties:
                                secretManagerId:
                                  type: string
                                secretId:
                                  type: string
                            description: Client secret for the OAuth application used by this connection. This value is write-only and is not returned by the API.
                          scopes:
                            type: array
                            items:
                              type: string
                            description: OAuth scopes to request when users authenticate to this connection.
                          idpType:
                            oneOf:
                            - type: string
                              enum:
                              - aws_databricks
                            - type: string
                              enum:
                              - azure_databricks
                            - type: string
                              enum:
                              - gcp_databricks
                            - type: string
                              enum:
                              - azuread
                            - type: string
                              enum:
                              - auth0
                            - type: string
                              enum:
                              - adfs
                            - type: string
                              enum:
                              - okta
                            - type: string
                              enum:
                              - ping
                            - type: string
                              enum:
                              - snowflake
                            - type: string
                              enum:
                              - unknown
                            type: 'null'
                            description: OAuth provider type. Supported values are adfs, auth0, azuread, okta, ping, snowflake, aws_databricks, azure_databricks, gcp_databricks, and unknown.
                          usePkce:
                            type:
                            - boolean
                            - 'null'
                            description: Whether the OAuth flow should require Proof Key for Code Exchange (PKCE). Databricks-hosted OAuth providers require PKCE.
                          useJwt:
                            type:
                            - boolean
                            - 'null'
                            description: Whether the OAuth flow should use JWT bearer token authentication instead of a client secret.
                      - type: object
                        properties:
                          exportsWarehouse:
                            type: string
                            description: Warehouse to use for export workloads.
                          writeAccess:
                            oneOf:
                            - allOf:
                              - type: object
                                required:
                                - writeDatabase
                                - writeSchema
                                properties:
                                  writeDatabase:
                                    type: string
                                    description: Database or top-level object to contain tables written back to the data platform
                                  writeSchema:
                                    type: string
                                    description: Schema or second-level object to contain tables written back to the data platform
                              - type: object
                                properties:
                                  materializationWarehouse:
                                    type: string
                                    description: Warehouse to use for materialization workloads
                                  useDynamicTables:
                                    type: boolean
                                    description: Whether to use Snowflake dynamic tables for materialization workloads.
                              description: ''
                              title: Set write location and materialization warehouse
                            - type: object
                              properties:
                                materializationWarehouse:
                                  type: string
                                  description: Warehouse to use for materialization workloads
                                useDynamicTables:
                                  type: boolean
                                  description: Whether to use Snowflake dynamic tables for materialization workloads.
                              description: ''
                              title: Set materialization warehouse
                            description: Specify write access for non-OAuth connections
                          userAttributes:
                            type: object
                            properties:
                              role:
                                type: string
                              warehouse:
                                type: string
                          writebackSchemas:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - writeDatabase
                                - writeSchema
                                properties:
                                  writeDatabase:
                                    type: string
                                    description: Database or top-level object to contain tables written back to the data platform
                                  writeSchema:
                                    type: string
                                    description: Schema or second-level object to contain tables written back to the data platform
                              - type: object
                                properties:
                                  writebackSchemaId:
                                    type: string
                                    description: Unique identifier of the write-back destination
                                  description:
                                    type: string
                                    description: Description for the write-back destination.
                            description: Configure write-back for OAuth connections
                          inputTableAuditLogSchema:
                            allOf:
                            - type: object
                              required:
                              - writeDatabase
                              - writeSchema
                              properties:
                                writeDatabase:
                                  type: string
                                  description: Database or top-level object to contain tables written back to the data platform
                                writeSchema:
                                  type: string
                                  description: Schema or second-level object to contain tables written back to the data platform
                            - type: object
                              properties:
                                writebackSchemaId:
                                  type: string
                                  description: Unique identifier of the writebackSchema
                            description: Specify a schema for input table write access logs
                          pythonProperties:
                            type: object
                            properties:
                              externalAccessIntegration:
                                type: string
                                description: Name of the Snowflake external access integration to enable for Python.
                              warehouse:
                                type: string
                                description: Warehouse to use to run Python code.
                              packages:
                                type: string
                                description: Comma-separated list of Python packages to install.
                            description: Python configuration for this Snowflake connection.
                          roleSwitching:
                            type: string
                            enum:
                            - allRoles
                            - disabled
                            description: Whether a Snowflake OAuth connection allows users to switch roles when running queries. Only meaningful when `useOauth` is true.
                      description: Details of the Snowflake connection.
                      title: Snowflake
                    - allOf:
                      - allOf:
                        - type: object
                          required:
                          - type
                          - host
                          properties:
                            type:
                              type: string
                              enum:
                              - databricks
                            host:
                              type: string
                        - oneOf:
                          - type: object
                            required:
                            - endpoint
                            properties:
                              endpoint:
                                type: string
                          - type: object
                            required:
                            - userAttributes
                            properties:
                              userAttributes:
                                type: object
                                required:
                                - endpoint
                                properties:
                                  endpoint:
                                    type: string
                        - oneOf:
                          - type: object
                            required:
                            - token
                            properties:
                              token:
                                oneOf:
                                - type: string
                                - type: object
                                  required:
                                  - secretManagerId
                                  - secretId
                                  properties:
                                    secretManagerId:
                                      type: string
                                    secretId:
                                      type: string
                            description: Set up basic authentication for the connection
                            title: Basic Authentication
                          - type: object
                            required:
                            - useOauth
                            properties:
                              useOauth:
                                type: boolean
                                enum:
                                - true
                            description: Set up OAuth for the connection
                            title: OAuth
                        - type: object
                          properties:
                            workspaceUrl:
                              type: string
                            useSourceSwapPolicy:
                              type: boolean
                            sourceSwapPolicyId:
                              type: string
                      - type: object
                        properties:
                          metadataUrl:
                            type: string
                            description: OAuth metadata URL for connection-level OAuth.
                          clientId:
                            type: string
                            description: Client ID for the OAuth application used by this connection.
                          clientSecret:
                            oneOf:
                            - type: string
                            - type: object
                              required:
                              - secretManagerId
                              - secretId
                              properties:
                                secretManagerId:
                                  type: string
                                secretId:
                                  type: string
                            description: Client secret for the OAuth application used by this connection. This value is write-only and is not returned by the API.
                          scopes:
                            type: array
                            items:
                              type: string
                            description: OAuth scopes to request when users authenticate to this connection.
                          idpType:
                            oneOf:
                            - type: string
                              enum:
                              - aws_databricks
                            - type: string
                              enum:
                              - azure_databricks
                            - type: string
                              enum:
                              - gcp_databricks
                            - type: string
                              enum:
                              - azuread
                            - type: string
                              enum:
                              - auth0
                            - type: string
                              enum:
                              - adfs
                            - type: string
                              enum:
                              - okta
                            - type: string
                              enum:
                              - ping
                            - type: string
                              enum:
                              - snowflake
                            - type: string
                              enum:
                              - unknown
                            type: 'null'
                            description: OAuth provider type. Supported values are adfs, auth0, azuread, okta, ping, snowflake, aws_databricks, azure_databricks, gcp_databricks, and unknown.
                          usePkce:
                            type:
                            - boolean
                            - 'null'
                            description: Whether the OAuth flow should require Proof Key for Code Exchange (PKCE). Databricks-hosted OAuth providers require PKCE.
                          useJwt:
                            type:
                            - boolean
                            - 'null'
                            description: Whether the OAuth flow should use JWT bearer token authentication instead of a client secret.
                      - type: object
                        properties:
                          writeAccess:
                            type: object
                            required:
                            - writeCatalog
                            - writeSchema
                            properties:
                              writeCatalog:
                                type: string
                                description: Catalog or top-level object to contain tables written back to the data platform
                              writeSchema:
                                type: string
                                description: Schema or second-level object to contain tables written back to the data platform
                            description: Configure write-back for non-OAuth connections
                          writebackSchemas:
                            type: array
                            items:
                              allOf:
                              - type: object
                                required:
                                - writeCatalog
                                - writeSchema
                                properties:
                                  writeCatalog:
                                    type: string
                                    description: Catalog or top-level object to contain tables written back to the data platform
                                  writeSchema:
                                    type: string
                                    description: Schema or second-level object to contain tables written back to the data platform
                              - type: object
                                properties:
                                  writebackSchemaId:
                                    type: string
                                    description: Unique identifier of the write-back destination
                                  description:
                                    type: string
                                    description: Description for the write-back destination.
                            description: Configure write-back for OAuth connections
                          inputTableAuditLogSchema:
                            allOf:
                            - type: object
                              required:
                              - writeCatalog
                              - writeSchema
                              properties:
                                writeCatalog:
                                  type: string
                                  description: Catalog or top-level object to contain tables written back to the data platform
                                writeSchema:
                                  type: string
                                  description: Schema or second-level object to contain tables written back to the data platform
                            - type: object
                              properties:
                                writebackSchemaId:
                                  type: string
                                  description: Unique identifier of the writebackSchema
                            description: Schema to use for the input table write-ahead log (WAL). Cannot be changed without breaking write behavior on this connection.
                      description: Details of the Databricks connection.
                      title: Databricks
                    - allOf:
                      - type: object
                        required:
                        - type
                        - user
                        - password
                        - host
                        - port
                        properties:
                          type:
                            type: string
                            enum:
                            - mysql
                          user:
                            type: string
                          password:
                            oneOf:
                            - type: string
                            - type: object
                              required:
                              - type
                              - value
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - plain
                                value:
                                  type: string
                            - type: object
                              required:
                              - secretManagerId
                              - secretId
                              properties:
                                secretManagerId:
                                  type: string
                                secretId:
                                  type: string
                          host:
                            type: string
                          port:
                            type: number
                      - type: object
                        properties:
                          writeAccess:
                            type: object
                            required:
                            - writeSchema
                            properties:
                              writeSchema:
                                type: string
                      description: Details of the MySQL connection.
                      title: MySQL
                    - allOf:
                      - type: object
                        required:
                        - type
                        - server
                        - database
                        properties:
                          type:
                            type: string
                            enum:
                            - azuresql
                            description: Azure SQL DB connection type.
                          server:
                            type: string
                            description: Fully qualified Azure SQL DB server name.
                          database:
                            type: string
                            description: Database to connect to on the Azure SQL DB server.
                      - type: object
                        required:
                        - server
                        - port
                        - user
                        - password
                        properties:
                          server:
                            type: string
                            description: Fully qualified server name or host.
                          port:
                            type: number
                            description: Port for the database server.
                          user:
                            type: string
                            description: Username used to authenticate to the database.
                          password:
                            oneOf:
                            - type: string
                            - type: object
                              required:
                              - type
                              - value
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - plain
                                value:
                                  type: string
                            - type: object
                              required:
                              - secretManagerId
                              - secretId
                              properties:
                                secretManagerId:
                                  type: string
                                secretId:
                                  type: string
                            description: Password used to authenticate to the database. This value is write-only and is not returned by the API.
                      - type: object
                        properties:
                          useReadUncommittedIsolation:
                            type: boolean
                            description: Whether queries run with READ UNCOMMITTED transaction isolation.
                          writeAccess:
                            type: object
                            required:
                            - writeDatabase
                            - writeSchema
                            properties:
                              writeDatabase:
                                type: string
                                description: Database to contain tables written back to the data platform.
                              writeSchema:
                                type: string
                                description: Schema to contain tables written back to the data platform.
                            description: Configure write-back for the connection.
                      description: Details of the Azure SQL DB connection.
                      title: Azure SQL DB
                    - allOf:
                      - type: object
                        required:
                        - type
                        properties:
                          type:
                            type: string
                            enum:
                            - sqlserver
                            description: SQL Server connection type.
                      - type: object
                        required:
                        - server
                        - port
                        - user
                        - password
                        properties:
                          server:
                            type: string
                            description: Fully qualified server name or host.
                          port:
                            type: number
                            description: Port for the database server.
                          user:
                            type: string
                            description: Username used to authenticate to the database.
                          password:
                            oneOf:
                            - type: string
                            - type: object
                              required:
                              - type
                              - value
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - plain
                                value:
                                  type: string
                            - type: object
                              required:
                              - secretManagerId
                              - secretId
                              properties:
                                secretManagerId:
                                  type: string
                                secretId:
                                  type: string
                            description: Password used to authenticate to the database. This value is write-only and is not returned by the API.
                      - type: object
                        properties:
                          useReadUncommittedIsolation:
                            type: boolean
                            description: Whether queries run with READ UNCOMMITTED transaction isolation.
                          writeAccess:
                            type: object
                            required:
                            - writeDatabase
                            - writeSchema
                            properties:
                              writeDatabase:
                                type: string
                                description: Database to contain tables written back to the data platform.
                              writeSchema:
                                type: string
                                description: Schema to contain tables written back to the data platform.
                            description: Configure write-back for the connection.
                      description: Details of the SQL Server connection.
                      title: SQL Server
                    - allOf:
                      - type: object
                        required:
                        - type
                        - host
                        - port
                        - user
                        - password
                        properties:
                          type:
                            type: string
                            enum:
                            - starburst
                            description: Starburst connection type.
                          host:
                            type: string
                            description: The address of your Starburst Galaxy cluster as a URL or an IP address.
                          port:
                            type: number
                            description: The port through which Sigma connects to your Starburst Galaxy cluster.
                          user:
                            type: string
                            description: The username of the service account set up by your Starburst administrator.
                          password:
                            oneOf:
                            - type: string
                            - type: object
                              required:
                              - type
                              - value
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - plain
                                value:
                                  type: string
                            - type: object
                              required:
                              - secretManagerId
                              - secretId
                              properties:
                                secretManagerId:
                                  type: string
                                secretId:
                                  type: string
                            description: The password for the service account set up by your Starburst administrator. This value is write-only and is not returned by the API.
                      - type: object
                        properties:
                          writeAccess:
                            type: object
                            required:
                            - writeCatalog
                            - writeSchema
                            properties:
                              writeCatalog:
                                type: string
                                description: Catalog to contain tables written back to the data platform.
                              writeSchema:
                                type: string
                                description: Schema to contain tables written back to the data platform.
                            description: Configure write-back for the connection.
                      description: Details of the Starburst connection.
                      title: Starburst
                  name:
                    type: string
              - type: object
                properties:
                  description:
                    type: object
                    additionalProperties: {}
                  poolSizes:
                    type: object
                    properties:
                      isPoolConfigured:
                        type: boolean
                        description: Whether custom connection pool sizes are configured. If any pool size is supplied without this field, the API stores it as true.
                      adhocPoolSize:
                        type: number
                        description: Pool size for ad hoc query workloads.
                      schedulePoolSize:
                        type: number
                        description: Pool size for scheduled workloads.
                      catalogPoolSize:
                        type: number
                        description: Pool size for catalog workloads.
                      resultPoolSize:
                        type: number
                        description: Pool size for result cache workloads.
                    description: Connection pool sizes. Each pool bounds how many queries of a given type (ad hoc, scheduled, catalog, result cache) run concurrently against the warehouse.
                  timeoutSecs:
                    type: number
                  useFriendlyNames:
                    type: boolean
      responses:
        '201':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - organizationId
                  - connectionId
                  - isSample
                  - isAuditLog
                  - lastActiveAt
                  - name
                  - type
                  - useOauth
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  properties:
                    organizationId:
                      type: string
                      description: Unique identifier of the organization
                    connectionId:
                      type: string
                      description: Unique identifier of the connection
                    isSample:
                      type: boolean
                      description: Whether the connection is the Sigma sample data connection
                    isAuditLog:
                      type: boolean
                      description: Whether audit logging is enabled
                    lastActiveAt:
                      type: string
                      format: date-time
                      description: Last activity date and time
                    name:
                      type: string
                      description: Name of the connection
                    type:
                      type: string
                      description: Type of the connection (e.g., "bigQuery")
                    useOauth:
                      type: boolean
                      description: Whether OAuth is used
                    createdBy:
                      type: string
                      description: Identifier of the user who created this connection
                    updatedBy:
                      type: string
                      description: Identifier of the user or process that last updated this connection
                    createdAt:
                      type: string
                      format: date-time
                      description: When the connection was created
                    updatedAt:
                      type: string
                      format: date-time
                      description: When the connection was last updated
                - type: object
                  properties:
                    isArchived:
                      type: boolean
                      description: Whether the connection is archived
                    account:
                      type: string
                      description: Account associated with the connection
                    warehouse:
                      type: string
                      description: Warehouse associated with the connection
                    user:
                      type: string
                      description: User associated with the connection
                    role:
                      type: string
                      description: Role used by the connection user
                    timeout:
                      allOf:
                      - type: object
                        required:
                        - default
                        properties:
                          default:
                            type: number
                      - type: object
                        properties:
                          worksheet:
                            type: number
                          dashboard:
                            type: number
                          download:
                            type: number
                      description: Timeout settings for the connection, with a default value in seconds
                    poolSizes:
                      type: object
                      properties:
                        isPoolConfigured:
                          type: boolean
                        adhocPoolSize:
                          type: number
                        catalogPoolSize:
                          type: number
                        resultPoolSize:
                          type: number
                        schedulePoolSize:
                          type: number
                      description: Pool sizes for the connection, such as for adhocPoolSize or schedulePoolSize
                    writeAccess:
                      type: boolean
                    friendlyName:
                      type: boolean
                      description: Whether friendly names are enabled for this connection
                    writebacks:
                      type: array
                      items:
                        allOf:
                        - allOf:
                          - type: object
                            required:
                            - database
                            - schema
                            properties:
                              database:
                                type: string
                                description: Database, catalog, or top-level object to contain tables written back to the data platform
                              schema:
                                type: string
                                description: Schema, database, or second-level object to contain tables written back to the data platform
                          - type: object
                            properties:
                              writebackSchemaId:
                                type: string
                                description: Unique identifier of the writebackSchema
                        - type: object
                          properties:
                            description:
                              type: string
                              description: Description for the write-back destination.
                      description: Configure write-back for non-OAuth connections
                    writebackSchemas:
                      type: array
                      items:
                        allOf:
                        - allOf:
                          - type: object
                            required:
                            - database
                            - schema
                            properties:
                              database:
                                type: string
                                description: Database, catalog, or top-level object to contain tables written back to the data platform
                              schema:
                                type: string
                                description: Schema, database, or second-level object to contain tables written back to the data platform
                          - type: object
                            properties:
                              writebackSchemaId:
                                type: string
                                description: Unique identifier of the writebackSchema
                        - type: object
                          properties:
                            description:
                              type: string
                              description: Description for the write-back destination.
                      description: Configure write-back for OAuth connections
                    inputTableAuditLogSchema:
                      allOf:
                      - type: object
                        required:
                        - database
                        - schema
                        properties:
                          database:
                            type: string
                            description: Database, catalog, or top-level object to contain tables written back to the data platform
                          schema:
                            type: string
                            description: Schema, database, or second-level object to contain tables written back to the data platform
                      - type: object
                        properties:
                          writebackSchemaId:
                            type: string
                            description: Unique identifier of the writebackSchema
                      description: Schema to use for the input table write-ahead log (WAL). Cannot be changed without breaking write behavior on this connection.
                    materializationWarehouse:
                      type: string
                      description: Warehouse used to run materialization jobs
                    exportsWarehouse:
                      type: string
                      description: Warehouse used to run export jobs
                    oauthMetadataUrl:
                      type: string
                      description: OAuth metadata URL configured directly on this connection.
                    oauthClientId:
                      type: string
                      description: Client ID configured directly on this connection.
                    oauthScopes:
                      type: array
                      items:
                        type: string
                      description: OAuth scopes configured directly on this connection.
                    oauthIdpType:
                      oneOf:
                      - type: string
                        enum:
                        - aws_databricks
                      - type: string
                        enum:
                        - azure_databricks
                      - type: string
                        enum:
                        - gcp_databricks
                      - type: string
                        enum:
                        - azuread
                      - type: string
                        enum:
                        - auth0
                      - type: string
                        enum:
                        - adfs
                      - type: string
                        enum:
                        - okta
                      - type: string
                        enum:
                        - ping
                      - type: string
                        enum:
                        - snowflake
                      - type: string
                        enum:
                        - unknown
                      description: OAuth provider type configured or inferred for this connection.
                    oauthUsePkce:
                      type:
                      - boolean
                      - 'null'
                      description: Whether this connection-level OAuth configuration uses PKCE.
                    oauthUseJwt:
                      type:
                      - boolean
                      - 'null'
                      description: Whether this connection-level OAuth configuration uses JWT bearer token authentication.
                    oauthAudience:
                      type: string
                      description: Audience used for OAuth federation, such as the Google workforce identity federation audience for BigQuery.
                    isIndependentOAuth:
                      type: boolean
                      description: Whether this connection uses connection-level OAuth instead of organization-level OAuth.
                    userAttributes:
                      type: object
                      properties:
                        role:
                          type: string
                        warehouse:
                          type: string
                      description: User attributes associated with the connection
                    roleSwitching:
                      type: string
                      enum:
                      - allRoles
                      - disabled
                      description: Whether a Snowflake OAuth connection allows users to switch roles when running queries. Only meaningful for Snowflake OAuth connections.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - connections
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/connections/{connectionId}:
    patch:
      summary: Update a connection
      description: Update the metadata of a specific connection. This endpoint is deprecated. Instead, use the [PUT endpoint](https://help.sigmacomputing.com/reference/updateconnection).
      parameters:
      - name: connectionId
        schema:
          type: string
        in: path
        required: true
      operationId: updateConnectionDeprecated
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                useOauth:
                  type: boolean
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - organizationId
                  - connectionId
                  - isSample
                  - isAuditLog
                  - lastActiveAt
                  - name
                  - type
                  - useOauth
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  properties:
                    organizationId:
                      type: string
                      description: Unique identifier of the organization
                    connectionId:
                      type: string
                      description: Unique identifier of the connection
                    isSample:
                      type: boolean
                      description: Whether the connection is the Sigma sample data connection
                    isAuditLog:
                      type: boolean
                      description: Whether audit logging is enabled
                    lastActiveAt:
                      type: string
                      format: date-time
                      description: Last activity date and time
                    name:
                      type: string
                      description: Name of the connection
                    type:
                      type: string
                      description: Type of the connection (e.g., "bigQuery")
                    useOauth:
                      type: boolean
                      description: Whether OAuth is used
                    createdBy:
                      type: string
                      description: Identifier of the user who created this connection
                    updatedBy:
                      type: string
                      description: Identifier of the user or process that last updated this connection
                    createdAt:
                      type: string
                      format: date-time
                      description: When the connection was created
                    updatedAt:
                      type: string
                      format: date-time
                      description: When the connection was last updated
                - type: object
                  properties:
                    isArchived:
                      type: boolean
                      description: Whether the connection is archived
                    account:
                      type: string
                      description: Account associated with the connection
                    warehouse:
                      type: string
                      description: Warehouse associated with the connection
                    user:
                      type: string
                      description: User associated with the connection
                    role:
                      type: string
                      description: Role used by the connection user
                    timeout:
                      allOf:
                      - type: object
                        required:
                        - default
                        properties:
                          default:
                            type: number
                      - type: object
                        properties:
                          worksheet:
                            type: number
                          dashboard:
                            type: number
                          download:
                            type: number
                      description: Timeout settings for the connection, with a default value in seconds
                    poolSizes:
                      type: object
                      properties:
                        isPoolConfigured:
                          type: boolean
                        adhocPoolSize:
                          type: number
                        catalogPoolSize:
                          type: number
                        resultPoolSize:
                          type: number
                        schedulePoolSize:
                          type: number
                      description: Pool sizes for the connection, such as for adhocPoolSize or schedulePoolSize
                    writeAccess:
                      type: boolean
                    friendlyName:
                      type: boolean
                      description: Whether friendly names are enabled for this connection
                    writebacks:
                      type: array
                      items:
                        allOf:
                        - allOf:
                          - type: object
                            required:
                            - database
                            - schema
                            properties:
                              database:
                                type: string
                                description: Database, catalog, or top-level object to contain tables written back to the data platform
                              schema:
                                type: string
                                description: Schema, database, or second-level object to contain tables written back to the data platform
                          - type: object
                            properties:
                              writebackSchemaId:
                                type: string
                                description: Unique identifier of the writebackSchema
                        - type: object
                          properties:
                            description:
                              type: string
                              description: Description for the write-back destination.
                      description: Configure write-back for non-OAuth connections
                    writebackSchemas:
                      type: array
                      items:
                        allOf:
                        - allOf:
                          - type: object
                            required:
                            - database
                            - schema
                            properties:
                              database:
                                type: string
                                description: Database, catalog, or top-level object to contain tables written back to the data platform
                              schema:
                                type: string
                                description: Schema, database, or second-level object to contain tables written back to the data platform
                          - type: object
                            properties:
                              writebackSchemaId:
                                type: string
                                description: Unique identifier of the writebackSchema
                        - type: object
                          properties:
                            description:
                              type: string
                              description: Description for the write-back destination.
                      description: Configure write-back for OAuth connections
                    inputTableAuditLogSchema:
                      allOf:
                      - type: object
                        required:
                        - database
                        - schema
                        properties:
                          database:
                            type: string
                            description: Database, catalog, or top-level object to contain tables written back to the data platform
                          schema:
                            type: string
                            description: Schema, database, or second-level object to contain tables written back to the data platform
                      - type: object
                        properties:
                          writebackSchemaId:
                            type: string
                            description: Unique identifier of the writebackSchema
                      description: Schema to use for the input table write-ahead log (WAL). Cannot be changed without breaking write behavior on this connection.
                    materializationWarehouse:
                      type: string
                      description: Warehouse used to run materialization jobs
                    exportsWarehouse:
                      type: string
                      description: Warehouse used to run export jobs
                    oauthMetadataUrl:
                      type: string
                      description: OAuth metadata URL configured directly on this connection.
                    oauthClientId:
                      type: string
                      description: Client ID configured directly on this connection.
                    oauthScopes:
                      type: array
                      items:
                        type: string
                      description: OAuth scopes configured directly on this connection.
                    oauthIdpType:
                      oneOf:
                      - type: string
                        enum:
                        - aws_databricks
                      - type: string
                        enum:
                        - azure_databricks
                      - type: string
                        enum:
                        - gcp_databricks
                      - type: string
                        enum:
                        - azuread
                      - type: string
                        enum:
                        - auth0
                      - type: string
                        enum:
                        - adfs
                      - type: string
                        enum:
                        - okta
                      - type: string
                        enum:
                        - ping
                      - type: string
                        enum:
                        - snowflake
                      - type: string
                        enum:
                        - unknown
                      description: OAuth provider type configured or inferred for this connection.
                    oauthUsePkce:
                      type:
                      - boolean
                      - 'null'
                      description: Whether this connection-level OAuth configuration uses PKCE.
                    oauthUseJwt:
                      type:
                      - boolean
                      - 'null'
                      description: Whether this connection-level OAuth configuration uses JWT bearer token authentication.
                    oauthAudience:
                      type: string
                      description: Audience used for OAuth federation, such as the Google workforce identity federation audience for BigQuery.
                    isIndependentOAuth:
                      type: boolean
                      description: Whether this connection uses connection-level OAuth instead of organization-level OAuth.
                    userAttributes:
                      type: object
                      properties:
                        role:
                          type: string
                        warehouse:
                          type: string
                      description: User attributes associated with the connection
                    roleSwitching:
                      type: string
                      enum:
                      - allRoles
                      - disabled
                      description: Whether a Snowflake OAuth connection allows users to switch roles when running queries. Only meaningful for Snowflake OAuth connections.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - connections
      deprecated: true
      security:
      - oauth2: []
    get:
      summary: Get connection details
      description: "Get the metadata of a specific connection by connection ID.\n\n### Usage notes\n- Retrieve the **connectionId** by calling the [/v2/connections](https://help.sigmacomputing.com/reference/list-connections) endpoint.\n  "
      parameters:
      - name: connectionId
        schema:
          type: string
        in: path
        required: true
      operationId: getConnection
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
[...]
