openapi: 3.2.0
info:
  title: Sigma Computing Webhooks API
  version: '1.0'
  description: 'Operations tagged webhooks across 2 of this provider''s published API definitions: sigma-computing-public-rest-api-openapi.json, sigma-computing-rest-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sigmacomputing.com
  description: Server for GCP (US) hosted organizations
- url: https://api.sa.gcp.sigmacomputing.com
  description: Server for GCP (KSA) hosted organizations
- url: https://aws-api.sigmacomputing.com
  description: Server for AWS US (West) hosted organizations
- url: https://api.us-a.aws.sigmacomputing.com
  description: Server for AWS US (East) hosted organizations
- url: https://api.ca.aws.sigmacomputing.com
  description: Server for AWS Canada hosted organizations
- url: https://api.eu.aws.sigmacomputing.com
  description: Server for AWS Europe hosted organizations
- url: https://api.au.aws.sigmacomputing.com
  description: Server for AWS Australia and APAC hosted organizations
- url: https://api.uk.aws.sigmacomputing.com
  description: Server for AWS UK hosted organizations
- url: https://api.us.azure.sigmacomputing.com
  description: Server for Azure US hosted organizations
- url: https://api.eu.azure.sigmacomputing.com
  description: Server for Azure Europe hosted organizations
- url: https://api.ca.azure.sigmacomputing.com
  description: Server for Azure Canada hosted organizations
- url: https://api.uk.azure.sigmacomputing.com
  description: Server for Azure United Kingdom hosted organizations
- url: https://api.au.azure.sigmacomputing.com
  description: Server for Azure Australia hosted organizations
tags:
- name: webhooks
paths:
  /v2/webhooks/{workbookId}/{sequenceId}:
    post:
      summary: Send to a webhook (Beta)
      description: "Post data to a webhook endpoint. The request body must match the webhook specification configured in Sigma.\n\n**Beta**: This documentation describes a private beta feature and is subject to the [Beta features](/docs/sigma-product-releases#beta-features) disclaimer.\n\nTo retrieve the expected request body fields before sending data, see the [/v2/webhooks/{workbookId}/{sequenceId}/schema](getwebhookschema) endpoint.\n\n### Usage notes\n- Retrieve the **workbookId** by calling the [/v2/workbooks](listworkbooks) endpoint.\n- Retrieve the webhook URL, which contains the **workbookId** and **sequenceId**, by creating a webhook through the Sigma UI. The URL will be formatted as `/v2/webhooks/{workbookId}/{sequenceId}`.\n    "
      parameters:
      - name: workbookId
        schema:
          type: string
          description: The unique identifier of the workbook.
        in: path
        required: true
      - name: sequenceId
        schema:
          type: string
          description: The unique identifier of the sequence.
        in: path
        required: true
      operationId: webhooks
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              description: A JSON object that matches the webhook specification configured in Sigma.
      responses:
        '202':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  traceId:
                    type: string
                    description: The action trace ID.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - webhooks
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/webhooks/{workbookId}/{sequenceId}/schema:
    get:
      summary: Retrieve webhook message schema (Beta)
      description: "Retrieve the schema for an action sequence in a workbook configured to be triggered from a webhook.\n\n**Beta**: This documentation describes a private beta feature and is subject to the [Beta features](/docs/sigma-product-releases#beta-features) disclaimer.\n\nTo send data to this webhook, see the [/v2/webhooks/{workbookId}/{sequenceId}](webhooks) endpoint.\n\n### Usage notes\n- Retrieve the **workbookId** by calling the [/v2/workbooks](listworkbooks) endpoint.\n- Retrieve the webhook URL, which contains the **workbookId** and **sequenceId**, by creating a webhook through the Sigma UI. The URL will be formatted as `/v2/webhooks/{workbookId}/{sequenceId}`.\n- The keys included in the response `variables` are the same JSON keys used in the POST body for [/v2/webhooks/{workbookId}/{sequenceId}](webhooks).\n    "
      parameters:
      - name: workbookId
        schema:
          type: string
          description: The unique identifier of the workbook.
        in: path
        required: true
      - name: sequenceId
        schema:
          type: string
          description: The unique identifier of the sequence.
        in: path
        required: true
      operationId: getWebhookSchema
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                required:
                - variables
                properties:
                  variables:
                    type: object
                    additionalProperties:
                      type: object
                    description: Key-value pairs of the fields to send to a webhook.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - webhooks
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
components:
  responses:
    ApiError:
      description: Sigma API Error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              code:
                type: string
              requestId:
                type: string
  schemas:
    V2WebhooksWorkbookIdSequenceIdSchemaGetResponsesContentApplicationJsonSchemaVariables:
      type: object
      properties: {}
      title: V2WebhooksWorkbookIdSequenceIdSchemaGetResponsesContentApplicationJsonSchemaVariables
    webhooks_Response_202:
      type: object
      properties:
        traceId:
          type: string
          description: The action trace ID.
      title: webhooks_Response_202
    webhooks_getWebhookSchema_Response_200:
      type: object
      properties:
        variables:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/V2WebhooksWorkbookIdSequenceIdSchemaGetResponsesContentApplicationJsonSchemaVariables'
          description: Key-value pairs of the fields to send to a webhook.
      required:
      - variables
      title: webhooks_getWebhookSchema_Response_200
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v2/auth/token
          refreshUrl: /v2/auth/token
          scopes: {}
    OAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
x-refined-from:
- sigma-computing-public-rest-api-openapi.json
- sigma-computing-rest-api-openapi.yaml
