openapi: 3.2.0
info:
  title: Sigma Computing Data Models API
  version: '1.0'
  description: 'Operations tagged dataModels across 2 of this provider''s published API definitions: sigma-computing-public-rest-api-openapi.json, sigma-computing-rest-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sigmacomputing.com
  description: Server for GCP (US) hosted organizations
- url: https://api.sa.gcp.sigmacomputing.com
  description: Server for GCP (KSA) hosted organizations
- url: https://aws-api.sigmacomputing.com
  description: Server for AWS US (West) hosted organizations
- url: https://api.us-a.aws.sigmacomputing.com
  description: Server for AWS US (East) hosted organizations
- url: https://api.ca.aws.sigmacomputing.com
  description: Server for AWS Canada hosted organizations
- url: https://api.eu.aws.sigmacomputing.com
  description: Server for AWS Europe hosted organizations
- url: https://api.au.aws.sigmacomputing.com
  description: Server for AWS Australia and APAC hosted organizations
- url: https://api.uk.aws.sigmacomputing.com
  description: Server for AWS UK hosted organizations
- url: https://api.us.azure.sigmacomputing.com
  description: Server for Azure US hosted organizations
- url: https://api.eu.azure.sigmacomputing.com
  description: Server for Azure Europe hosted organizations
- url: https://api.ca.azure.sigmacomputing.com
  description: Server for Azure Canada hosted organizations
- url: https://api.uk.azure.sigmacomputing.com
  description: Server for Azure United Kingdom hosted organizations
- url: https://api.au.azure.sigmacomputing.com
  description: Server for Azure Australia hosted organizations
tags:
- name: Data models
paths:
  /v2/dataModels:
    get:
      summary: List data models
      description: 'This endpoint retrieves a list of all data models available. You can use the response from this endpoint to review existing data models and determine if there are duplicates or gaps.


        ### Usage notes

        This endpoint requires no parameters for basic requests, but supports query parameters for pagination and response limit.


        Users with the Admin account type can optionally retrieve all data models in the organization.


        #### Pagination

        This endpoint supports pagination, which lets you retrieve large sets of data in manageable segments. The response includes pagination details as follows:

        - hasMore: A boolean value indicating whether there are more pages of data available beyond the current page.

        - total: The total number of entries available across all pages.

        - nextPage: An identifier or token that you can use in a subsequent request to retrieve the next page of data.


        #### Example response for pagination

        {

        "hasMore": true,

        "total": 104,

        "nextPage": "50"

        }

        To request additional pages, include the `nextPage` option in your followup request according to the endpoint''s parameter requirements. This process can be repeated until the `nextPage` option returns `null`, indicating that no further data is available.


        ### Usage scenarios

        - **Data model navigation:** Allows users to easily navigate through their available of data models and access the one they need.

        - **Track lineage**: Identify dependencies and lineage of data sources and data models.'
      parameters:
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      - name: excludeTags
        schema:
          type: boolean
          description: Whether to exclude additional information about tagged versions of each result
        in: query
      - name: skipPermissionCheck
        schema:
          type: boolean
          description: Only available to Sigma admins. Return all data models, regardless of whether the user has access.
        in: query
      operationId: listDataModels
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - dataModelId
                          properties:
                            dataModelId:
                              type: string
                              description: Unique identifier of the data model.
                              title: Data model ID
                        - type: object
                          required:
                          - dataModelUrlId
                          - name
                          - url
                          - path
                          - latestVersion
                          - ownerId
                          properties:
                            dataModelUrlId:
                              type: string
                            name:
                              type: string
                            url:
                              type: string
                            path:
                              type: string
                            latestVersion:
                              type: number
                            ownerId:
                              type: string
                        - type: object
                          required:
                          - createdBy
                          - updatedBy
                          - createdAt
                          - updatedAt
                          properties:
                            createdBy:
                              type: string
                              description: The identifier of the user who created this object.
                            updatedBy:
                              type: string
                              description: The identifier of the user or process that last updated this object.
                            createdAt:
                              type: string
                              format: date-time
                              description: When the object was created.
                            updatedAt:
                              type: string
                              format: date-time
                              description: When the object was last updated.
                        - type: object
                          properties:
                            isArchived:
                              type: boolean
                            tags:
                              type: array
                              items:
                                type: object
                                required:
                                - versionTagId
                                - tagName
                                - sourceVersion
                                - taggedAt
                                properties:
                                  versionTagId:
                                    type: string
                                    description: Unique identifier of the tag.
                                    title: Tag ID
                                  tagName:
                                    type: string
                                  sourceVersion:
                                    type: number
                                  taggedAt:
                                    type: string
                                    format: date-time
                      description: Array of results returned by the endpoint
                    nextPage:
                      type:
                      - string
                      - 'null'
                      description: Returns a string that can be used as the `page` parameter in the next request to fetch the next page of results. The last page of results returns `null`.
                - type: object
                  properties:
                    total:
                      type: number
                      description: Total number of results. Useful to determine if there is a need to paginate.
                    hasMore:
                      type: boolean
                      description: '**[Deprecated]** Indicates whether more results are available.'
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/dataModels/{dataModelId}:
    get:
      summary: Get a data model
      description: 'Get details of a specific data model by `dataModelId`.


        ### Usage notes

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      - name: excludeTags
        schema:
          type: boolean
          description: Whether to exclude additional information about tagged versions of each result
        in: query
      operationId: getDataModel
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - dataModelId
                  properties:
                    dataModelId:
                      type: string
                      description: Unique identifier of the data model.
                      title: Data model ID
                - type: object
                  required:
                  - dataModelUrlId
                  - name
                  - url
                  - path
                  - latestVersion
                  - ownerId
                  properties:
                    dataModelUrlId:
                      type: string
                    name:
                      type: string
                    url:
                      type: string
                    path:
                      type: string
                    latestVersion:
                      type: number
                    ownerId:
                      type: string
                - type: object
                  required:
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  properties:
                    createdBy:
                      type: string
                      description: The identifier of the user who created this object.
                    updatedBy:
                      type: string
                      description: The identifier of the user or process that last updated this object.
                    createdAt:
                      type: string
                      format: date-time
                      description: When the object was created.
                    updatedAt:
                      type: string
                      format: date-time
                      description: When the object was last updated.
                - type: object
                  properties:
                    isArchived:
                      type: boolean
                    tags:
                      type: array
                      items:
                        type: object
                        required:
                        - versionTagId
                        - tagName
                        - sourceVersion
                        - taggedAt
                        properties:
                          versionTagId:
                            type: string
                            description: Unique identifier of the tag.
                            title: Tag ID
                          tagName:
                            type: string
                          sourceVersion:
                            type: number
                          taggedAt:
                            type: string
                            format: date-time
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/dataModels/{dataModelId}:materialize:
    post:
      summary: Run a scheduled materialization for a data model element
      description: 'This endpoint runs a scheduled materialization for an element in a data model. Materialization processes the data of the specified element, allowing the data to be stored or cached for optimized access and performance.


        For more details on materialization, see Materialization.


        ### Usage notes

        - The materialization schedule for the specified element must be created beforehand.

        - Retrieve the **sheetId** by calling the /v2/dataModels/{dataModelId}/materialization-schedules endpoint.

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.


        ### Usage scenarios

        - **Performance optimization:** Use this endpoint to improve response times for frequently accessed data model elements.

        - **Data refresh:** Allows users to manually (programmatically) refresh the data of specific data model elements to ensure that the latest data is available for analysis and reporting.


        ### Best practices

        - Prioritize materialization for elements that are heavily used or form critical components of business reports.

        - Monitor the performance impacts of materialization and adjust strategies as necessary to optimize resource usage and response times.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      operationId: materializeDataModelElement
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - sheetId
              properties:
                sheetId:
                  type: string
                  description: Identifier for the materialization schedule of this element.
                  title: Sheet ID
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                required:
                - materializationId
                properties:
                  materializationId:
                    type: string
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/dataModels/{dataModelId}/columns:
    get:
      summary: List columns for all elements in a data model
      description: 'This endpoint retrieves all columns in a data model for all elements in the data model.


        ### Usage notes

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.


        ### Usage scenarios

        - **Data exploration:** Enable users to explore the data structure of a data model element, facilitating deeper analysis and understanding.

        - **Integration tasks:** Useful for developers integrating Sigma with other tools that need to know the data structure to map data accurately.


        ### Best practices

        - Use this endpoint when setting up interfaces that require specific knowledge about the data structure.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      operationId: getDataModelColumns
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        type: object
                        required:
                        - columnId
                        - name
                        - formula
                        - type
                        - elementId
                        properties:
                          columnId:
                            type: string
                            description: Column ID
                          name:
                            type: string
                            description: Column name
                          formula:
                            type: string
                            description: Column formula or source column reference.
                          type:
                            type: object
                            description: The column's data type, represented as a recursive type object.
                          elementId:
                            type: string
                            description: Element ID
                    nextPage:
                      type:
                      - string
                      - 'null'
                - type: object
                  properties:
                    total:
                      type: number
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/dataModels/{dataModelId}/elements:
    get:
      summary: List elements in a data model
      description: 'This endpoint retrieves details of all elements in a data model, which helps you understand and interact with the individual components that make up the data model, such as tables or controls.

        ### Usage notes

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.

        - To retrieve elements from version-tagged data models, pass the `tagName` in the query parameters with the tag name. Retrieve the tag name by calling the /v2/dataModels/{dataModelId}/tags endpoint and using the `tags.name` included in the response for a given data model.

        ### Usage scenarios

        - **Detailed analysis:** Developers and users can retrieve specific elements for detailed data analysis or further manipulation.

        - **Interface customization:** Allows for dynamic interface construction where users can choose which elements to display or interact with.

        ### Best practices

        - Use pagination to handle large numbers of elements efficiently, reducing load times and improving user experience.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      - name: tagName
        schema:
          type: string
        in: query
      operationId: listDataModelElements
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - elementId
                          properties:
                            elementId:
                              type: string
                        - type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                            columns:
                              type: array
                              items:
                                type: string
                            vizualizationType:
                              type: string
                            error:
                              type: string
                    nextPage:
                      type:
                      - string
                      - 'null'
                - type: object
                  properties:
                    total:
                      type: number
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/dataModels/{dataModelId}/elements/{elementId}/columnSecurityRules:
    get:
      summary: List column-level security rules on a data model element (Beta)
      description: 'This endpoint retrieves the column security rules used to configure column-level security (CLS) on a specific element in a data model. Each rule identifies the columns it protects and the criteria that determine which users can view those columns.


        **Beta**: This documentation describes a private beta feature and is subject to the Beta features disclaimer.


        ### Usage notes

        - To perform this operation, you must use API credentials owned by a user with **Can edit** access to the data model.

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.

        - Retrieve the **elementId** by calling the /v2/dataModels/{dataModelId}/elements endpoint.

        - A rule''s `columns` is either a list of column identifiers, or the string `all`, which means the rule applies to every column in the element, including columns added in the future.

        - A rule''s `criteria` describes who can view the restricted columns: no one (`no-one-can-view`), specific users and teams (`specific-users-and-teams`), or users assigned a matching user attribute value (`user-attribute`).


        ### Usage scenarios

        - **Security review:** Allows administrators and data modelers to audit which columns are restricted on an element and who is permitted to view them.

        - **Integration points:** Useful for building governance tooling that needs to report on or reconcile column-level access across data models.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      - name: elementId
        schema:
          type: string
          description: Unique identifier of the data model element.
          title: Element ID
        in: path
        required: true
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      operationId: listDataModelElementColumnSecurityRules
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        type: object
                        required:
                        - columnSecurityRuleId
                        - columns
                        - criteria
                        properties:
                          columnSecurityRuleId:
                            type: string
                            description: The identifier of the column security rule.
                          columns:
                            oneOf:
                            - type: array
                              items:
                                type: string
                            - type: string
                              enum:
                              - all
                            description: The columns restricted by the column security rule, represented as either a list of column identifiers or `all`. The `all` value includes every current and future column in the element.
                          criteria:
                            oneOf:
                            - type: object
                              required:
                              - kind
                              properties:
                                kind:
                                  type: string
                                  enum:
                                  - no-one-can-view
                              title: No One Can View
                            - type: object
                              required:
                              - kind
                              - assignments
                              properties:
                                kind:
                                  type: string
                                  enum:
                                  - specific-users-and-teams
                                assignments:
                                  type: array
                                  items:
                                    oneOf:
                                    - type: object
                                      required:
                                      - type
                                      - userId
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                          - user
                                        userId:
                                          type: string
                                          description: The identifier of a Sigma user.
                                      title: User
                                    - type: object
                                      required:
                                      - type
                                      - teamId
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                          - team
                                        teamId:
                                          type: string
                                          description: The identifier of a team.
                                      title: Team
                                  description: The identifiers of the users and teams that can access the columns restricted by the column security rule.
                              title: Specific Users and Teams
                            - type: object
                              required:
                              - kind
                              - assignments
                              properties:
                                kind:
                                  type: string
                                  enum:
                                  - user-attribute
                                assignments:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - userAttributeId
                                    - value
                                    properties:
                                      userAttributeId:
                                        type: string
                                        description: The identifier of a user attribute.
                                      value:
                                        type: string
                                        description: The value for a user attribute.
                                  description: The identifier of a user attribute and the value users must be assigned to view the columns restricted by the column security rule.
                              title: User Attribute
                      description: Array of results returned by the endpoint
                    nextPage:
                      type:
                      - string
                      - 'null'
                      description: Returns a string that can be used as the `page` parameter in the next request to fetch the next page of results. The last page of results returns `null`.
                - type: object
                  properties:
                    total:
                      type: number
                      description: Total number of results. Useful to determine if there is a need to paginate.
                    hasMore:
                      type: boolean
                      description: '**[Deprecated]** Indicates whether more results are available.'
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    post:
      summary: Create column-level security rules on a data model element (Beta)
      description: 'This endpoint creates one or more column security rules on a specific element in a data model. Column security rules (also referred to as column-level security, or CLS) restrict the specified columns and grant access according to the provided criteria. All rules are added in a single new version of the data model.


        **Beta**: This documentation describes a private beta feature and is subject to the Beta features disclaimer.


        ### Usage notes

        - To perform this operation, you must use API credentials owned by a user with **Can edit** access to the data model.

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.

        - Retrieve the **elementId** by calling the /v2/dataModels/{dataModelId}/elements endpoint.

        - The request body is an array of rules. For each rule, set `columns` to a list of column identifiers to restrict a fixed set of columns, or to the string `all` to restrict every column in the element, including columns added in the future.

        - Set `criteria` to describe who can view the restricted columns: no one (`no-one-can-view`), specific users and teams (`specific-users-and-teams`), or users assigned a matching user attribute value (`user-attribute`).

        - The created rules are returned with their generated `columnSecurityRuleId`. Publishing the rules creates a new version of the data model. If any rule is invalid, no rules are created.


        ### Usage scenarios

        - **Access governance:** Allows administrators and data modelers to programmatically restrict sensitive columns on a data model element.

        - **Automation:** Useful for provisioning column-level security as part of a broader data governance or onboarding workflow.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      - name: elementId
        schema:
          type: string
          description: Unique identifier of the data model element.
          title: Element ID
        in: path
        required: true
      operationId: createDataModelElementColumnSecurityRules
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                - columns
                - criteria
                properties:
                  columns:
                    oneOf:
                    - type: array
                      items:
                        type: string
                    - type: string
                      enum:
                      - all
                    description: The columns restricted by the column security rule, represented as either a list of column identifiers or `all`. The `all` value includes every current and future column in the element.
                  criteria:
                    oneOf:
                    - type: object
                      required:
                      - kind
                      properties:
                        kind:
                          type: string
                          enum:
                          - no-one-can-view
                      title: No One Can View
                    - type: object
                      required:
                      - kind
                      - assignments
                      properties:
                        kind:
                          type: string
                          enum:
                          - specific-users-and-teams
                        assignments:
                          type: array
                          items:
                            oneOf:
                            - type: object
                              required:
                              - type
                              - userId
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - user
                                userId:
                                  type: string
                                  description: The identifier of a Sigma user.
                              title: User
                            - type: object
                              required:
                              - type
                              - teamId
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - team
                                teamId:
                                  type: string
                                  description: The identifier of a team.
                              title: Team
                          description: The identifiers of the users and teams that can access the columns restricted by the column security rule.
                      title: Specific Users and Teams
                    - type: object
                      required:
                      - kind
                      - assignments
                      properties:
                        kind:
                          type: string
                          enum:
                          - user-attribute
                        assignments:
                          type: array
                          items:
                            type: object
                            required:
                            - userAttributeId
                            - value
                            properties:
                              userAttributeId:
                                type: string
                                description: The identifier of a user attribute.
                              value:
                                type: string
                                description: The value for a user attribute.
                          description: The identifier of a user attribute and the value users must be assigned to view the columns restricted by the column security rule.
                      title: User Attribute
              description: The column security rules to create on the element.
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - columnSecurityRuleId
                  - columns
                  - criteria
                  properties:
                    columnSecurityRuleId:
                      type: string
                      description: The identifier of the column security rule.
                    columns:
                      oneOf:
                      - type: array
                        items:
                          type: string
                      - type: string
                        enum:
                        - all
                      description: The columns restricted by the column security rule, represented as either a list of column identifiers or `all`. The `all` value includes every current and future column in the element.
                    criteria:
                      oneOf:
                      - type: object
                        required:
                        - kind
                        properties:
                          kind:
                            type: string
                            enum:
                            - no-one-can-view
                        title: No One Can View
                      - type: object
                        required:
                        - kind
                        - assignments
                        properties:
                          kind:
                            type: string
                            enum:
                            - specific-users-and-teams
                          assignments:
                            type: array
                            items:
                              oneOf:
                              - type: object
                                required:
                                - type
                                - userId
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - user
                                  userId:
                                    type: string
                                    description: The identifier of a Sigma user.
                                title: User
                              - type: object
                                required:
                                - type
                                - teamId
                                properties:
                                  type:
                                    type: string
                                    enum:
                                    - team
                                  teamId:
                                    type: string
                                    description: The identifier of a team.
                                title: Team
                            description: The identifiers of the users and teams that can access the columns restricted by the column security rule.
                        title: Specific Users and Teams
                      - type: object
                        required:
                        - kind
                        - assignments
                        properties:
                          kind:
                            type: string
                            enum:
                            - user-attribute
                          assignments:
                            type: array
                            items:
                              type: object
                              required:
                              - userAttributeId
                              - value
                              properties:
                                userAttributeId:
                                  type: string
                                  description: The identifier of a user attribute.
                                value:
                                  type: string
                                  description: The value for a user attribute.
                            description: The identifier of a user attribute and the value users must be assigned to view the columns restricted by the column security rule.
                        title: User Attribute
                description: The column security rules that were created, each with its generated identifier.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/dataModels/{dataModelId}/elements/{elementId}/columnSecurityRules/{columnSecurityRuleId}:
    put:
      summary: Update a column-level security rule on a data model element (Beta)
      description: 'This endpoint replaces the columns and access criteria for an existing column-level security (CLS) rule on a specific element in a data model.


        **Beta**: This documentation describes a private beta feature and is subject to the Beta features disclaimer.


        ### Usage notes

        - To perform this operation, you must use API credentials owned by a user with **Can edit** access to the data model.

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.

        - Retrieve the **elementId** by calling the /v2/dataModels/{dataModelId}/elements endpoint.

        - Retrieve the **columnSecurityRuleId** by calling the /v2/dataModels/{dataModelId}/elements/{elementId}/columnSecurityRules endpoint.

        - This is a full replacement of the rule: provide the complete `columns` and `criteria`. Set `columns` to a list of column identifiers, or to the string `all` to restrict every column in the element, including columns added in the future.

        - Set `criteria` to describe who can view the restricted columns: no one (`no-one-can-view`), specific users and teams (`specific-users-and-teams`), or users assigned a matching user attribute value (`user-attribute`).

        - The updated rule is returned with its `columnSecurityRuleId`.


        ### Usage scenarios

        - **Access governance:** Allows administrators and data modelers to programmatically adjust which columns are restricted on a data model element and who can view them.

        - **Automation:** Useful for reconciling column-level security as part of a broader data governance or onboarding workflow.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      - name: elementId
        schema:
          type: string
          description: Unique identifier of the data model element.
          title: Element ID
        in: path
        required: true
      - name: columnSecurityRuleId
        schema:
          type: string
          description: The identifier of the column security rule.
          title: Column Security Rule ID
        in: path
        required: true
      operationId: updateDataModelElementColumnSecurityRule
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - columns
              - criteria
              properties:
                columns:
                  oneOf:
                  - type: array
                    items:
                      type: string
                  - type: string
                    enum:
                    - all
                  description: The columns restricted by the column security rule, represented as either a list of column identifiers or `all`. The `all` value includes every current and future column in the element.
                criteria:
                  oneOf:
                  - type: object
                    required:
                    - kind
                    properties:
                      kind:
                        type: string
                        enum:
                        - no-one-can-view
                    title: No One Can View
                  - type: object
                    required:
                    - kind
                    - assignments
                    properties:
                      kind:
                        type: string
                        enum:
                        - specific-users-and-teams
                      assignments:
                        type: array
                        items:
                          oneOf:
                          - type: object
                            required:
                            - type
                            - userId
                            properties:
                              type:
                                type: string
                                enum:
                                - user
                              userId:
                                type: string
                                description: The identifier of a Sigma user.
                            title: User
                          - type: object
                            required:
                            - type
                            - teamId
                            properties:
                              type:
                                type: string
                                enum:
                                - team
                              teamId:
                                type: string
                                description: The identifier of a team.
                            title: Team
                        description: The identifiers of the users and teams that can access the columns restricted by the column security rule.
                    title: Specific Users and Teams
                  - type: object
                    required:
                    - kind
                    - assignments
                    properties:
                      kind:
                        type: string
                        enum:
                        - user-attribute
                      assignments:
                        type: array
                        items:
                          type: object
                          required:
                          - userAttributeId
                          - value
                          properties:
                            userAttributeId:
                              type: string
                              description: The identifier of a user attribute.
                            value:
                              type: string
                              description: The value for a user attribute.
                        description: The identifier of a user attribute and the value users must be assigned to view the columns restricted by the column security rule.
                    title: User Attribute
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                required:
                - columnSecurityRuleId
                - columns
                - criteria
                properties:
                  columnSecurityRuleId:
                    type: string
                    description: The identifier of the column security rule.
                  columns:
                    oneOf:
                    - type: array
                      items:
                        type: string
                    - type: string
                      enum:
                      - all
                    description: The columns restricted by the column security rule, represented as either a list of column identifiers or `all`. The `all` value includes every current and future column in the element.
                  criteria:
                    oneOf:
                    - type: object
                      required:
                      - kind
                      properties:
                        kind:
                          type: string
                          enum:
                          - no-one-can-view
                      title: No One Can View
                    - type: object
                      required:
                      - kind
                      - assignments
                      properties:
                        kind:
                          type: string
                          enum:
                          - specific-users-and-teams
                        assignments:
                          type: array
                          items:
                            oneOf:
                            - type: object
                              required:
                              - type
                              - userId
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - user
                                userId:
                                  type: string
                                  description: The identifier of a Sigma user.
                              title: User
                            - type: object
                              required:
                              - type
                              - teamId
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - team
                                teamId:
                                  type: string
                                  description: The identifier of a team.
                              title: Team
                          description: The identifiers of the users and teams that can access the columns restricted by the column security rule.
                      title: Specific Users and Teams
                    - type: object
                      required:
                      - kind
                      - assignments
                      properties:
                        kind:
                          type: string
                          enum:
                          - user-attribute
                        assignments:
                          type: array
                          items:
                            type: object
                            required:
                            - userAttributeId
                            - value
                            properties:
                              userAttributeId:
                                type: string
                                description: The identifier of a user attribute.
                              value:
                                type: string
                                description: The value for a user attribute.
                          description: The identifier of a user attribute and the value users must be assigned to view the columns restricted by the column security rule.
                      title: User Attribute
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    delete:
      summary: Delete a column-level security rule from a data model element (Beta)
      description: 'This endpoint deletes an existing column-level security (CLS) rule from a specific element in a data model.


        **Beta**: This documentation describes a private beta feature and is subject to the Beta features disclaimer.


        ### Usage notes

        - To perform this operation, you must use API credentials owned by a user with **Can edit** access to the data model.

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.

        - Retrieve the **elementId** by calling the /v2/dataModels/{dataModelId}/elements endpoint.

        - Retrieve the **columnSecurityRuleId** by calling the /v2/dataModels/{dataModelId}/elements/{elementId}/columnSecurityRules endpoint.


        ### Usage scenarios

        - **Access governance:** Allows administrators and data modelers to programmatically remove column restrictions that are no longer required.

        - **Automation:** Useful for reconciling column-level security as part of a broader data governance or offboarding workflow.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      - name: elementId
        schema:
          type: string
          description: Unique identifier of the data model element.
          title: Element ID
        in: path
        required: true
      - name: columnSecurityRuleId
        schema:
          type: string
          description: The identifier of the column security rule.
          title: Column Security Rule ID
        in: path
        required: true
      operationId: deleteDataModelElementColumnSecurityRule
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/dataModels/{dataModelId}/elements/{elementId}/materializationSchedules:
    post:
      summary: Create a materialization schedule for a data model element (Beta)
      description: 'This endpoint creates a materialization schedule for an element in a data model. The scheduled run materializes the element''s data on the given cadence, allowing the data to be stored or cached for optimized access and performance.


        For more details on materialization, see Materialization.


        **Beta**: This documentation describes a private beta feature and is subject to the Beta features disclaimer.


        ### Usage notes

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.

        - Retrieve the **elementId** by calling the /v2/dataModels/{dataModelId}/elements endpoint.

        - Write access must be enabled on your connection.

        - To perform this operation, you must use API credentials owned by a user assigned to an account type with the **Schedule materializations** permission.

        - An element can have at most one materialization schedule.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      - name: elementId
        schema:
          type: string
          description: Identifier of the data model element to materialize on a schedule. Must be an element, such as a table, that can be materialized.
          title: Element ID
        in: path
        required: true
      operationId: createDataModelMaterializationSchedule
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - schedule
              properties:
                schedule:
                  allOf:
                  - type: object
                    required:
                    - cronSpec
                    properties:
                      cronSpec:
                        type: string
                        description: A [cron expression](https://en.wikipedia.org/wiki/Cron). For example, `0 0 * * *`.
                  - type: object
                    properties:
                      timezone:
                        type: string
                        description: An [IANA timezone name](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For example, `America/Los_Angeles`. Defaults to the organization timezone.
                  description: When to run the materialization.
                  title: Schedule
      responses:
        '201':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                required:
                - sheetId
                - elementId
                - elementName
                - schedule
                - configuredAt
                - paused
                properties:
                  sheetId:
                    type: string
                    description: Identifier of the materialization schedule for the element
                    title: Sheet ID
                  elementId:
                    type: string
                    description: Identifier of the element being materialized
                    title: Element ID
                  elementName:
                    type: string
                  schedule:
                    type:
                    - object
                    - 'null'
                    properties:
                      cronSpec:
                        type: string
                        description: Cron expression to use for the schedule
                      timezone:
                        type: string
                        description: Timezone code, for example, PST
                  configuredAt:
                    type: string
                    format: date-time
                  paused:
                    type: boolean
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    patch:
      summary: Update a materialization schedule for a data model element (Beta)
      description: 'This endpoint updates the schedule of an existing materialization schedule for an element in a data model. Only the cron cadence and timezone are changed; the element must already have a materialization schedule.


        For more details on materialization, see Materialization.


        **Beta**: This documentation describes a private beta feature and is subject to the Beta features disclaimer.


        ### Usage notes

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.

        - Retrieve the **elementId** by calling the /v2/dataModels/{dataModelId}/elements endpoint.

        - Write access must be enabled on your connection.

        - To perform this operation, you must use API credentials owned by a user assigned to an account type with the **Schedule materializations** permission.

        - The element must already have a materialization schedule. To create one, use the create data model materialization schedule endpoint.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      - name: elementId
        schema:
          type: string
          description: Identifier of the data model element to materialize on a schedule. Must be an element, such as a table, that can be materialized.
          title: Element ID
        in: path
        required: true
      operationId: patchDataModelMaterializationSchedule
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - schedule
              properties:
                schedule:
                  allOf:
                  - type: object
                    required:
                    - cronSpec
                    properties:
                      cronSpec:
                        type: string
                        description: A [cron expression](https://en.wikipedia.org/wiki/Cron). For example, `0 0 * * *`.
                  - type: object
                    properties:
                      timezone:
                        type: string
                        description: An [IANA timezone name](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For example, `America/Los_Angeles`. Defaults to the organization timezone.
                  description: When to run the materialization.
                  title: Schedule
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                required:
                - sheetId
                - elementId
                - elementName
                - schedule
                - configuredAt
                - paused
                properties:
                  sheetId:
                    type: string
                    description: Identifier of the materialization schedule for the element
                    title: Sheet ID
                  elementId:
                    type: string
                    description: Identifier of the element being materialized
                    title: Element ID
                  elementName:
                    type: string
                  schedule:
                    type:
                    - object
                    - 'null'
                    properties:
                      cronSpec:
                        type: string
                        description: Cron expression to use for the schedule
                      timezone:
                        type: string
                        description: Timezone code, for example, PST
                  configuredAt:
                    type: string
                    format: date-time
                  paused:
                    type: boolean
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    delete:
      summary: Delete a materialization schedule for a data model element (Beta)
      description: 'This endpoint deletes the materialization schedule for an element in a data model. Any subsequent scheduled materialization runs for the element are cancelled.


        For more details on materialization, see Materialization.


        **Beta**: This documentation describes a private beta feature and is subject to the Beta features disclaimer.


        ### Usage notes

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.

        - Retrieve the **elementId** by calling the /v2/dataModels/{dataModelId}/elements endpoint.

        - Write access must be enabled on your connection.

        - To perform this operation, you must use API credentials owned by a user assigned to an account type with the **Schedule materializations** permission.

        - The element must already have a materialization schedule.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      - name: elementId
        schema:
          type: string
          description: Identifier of the data model element to materialize on a schedule. Must be an element, such as a table, that can be materialized.
          title: Element ID
        in: path
        required: true
      operationId: deleteDataModelMaterializationSchedule
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/dataModels/{dataModelId}/lineage:
    get:
      summary: List lineage for a data model
      description: 'This endpoint lists the elements, data sources, and upstream lineage for those data sources in a data model, providing a detailed view of how data is interconnected within a data model.


        ### Usage notes

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.


        ### Usage scenarios

        - **Data governance:** Allows data managers to track how information is used and propagated through different data model elements.

        - **Debugging and optimization:** Helps with identifying and resolving issues in data processing or data model structure.

        - **Data source management**: Identify the dependencies of data sources in use in a specific data model.


        ### Best practices

        - Integrate this information into documentation or data dictionaries to enhance transparency and understanding across teams.

        - Use this endpoint to regularly audit data model structures, ensuring that all data connections and transformations are correct and optimized.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      operationId: listDataModelLineageTree
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        oneOf:
                        - allOf:
                          - type: object
                            required:
                            - type
                            properties:
                              type:
                                type: string
                                enum:
                                - table
                                - dataset
                                - data-model
                                - element
                                - customSQL
                                - csv-upload
                                - semantic-view
                                - sql-document
                          - type: object
                            required:
                            - sourceIds
                            - elementId
                            - dataSourceIds
                            properties:
                              sourceIds:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: string
                                description: List of direct sources for the element. Either element IDs or data source IDs.
                              elementId:
                                type: string
                                description: Unique identifier of the element
                              dataSourceIds:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: string
                                description: List of root sources for the element as data source IDs.
                          description: ''
                          title: Element details
                        - allOf:
                          - allOf:
                            - type: object
                              required:
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - table
                                  - dataset
                                  - data-model
                                  - element
                                  - customSQL
                                  - csv-upload
                                  - semantic-view
                                  - sql-document
                            - type: object
                              required:
                              - connectionId
                              - name
                              properties:
                                connectionId:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                          - type: object
                            required:
                            - dataModelId
                            properties:
                              dataModelId:
                                type: string
                          description: ''
                          title: Source data model details
                        - allOf:
                          - allOf:
                            - type: object
                              required:
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - table
                                  - dataset
                                  - data-model
                                  - element
                                  - customSQL
                                  - csv-upload
                                  - semantic-view
                                  - sql-document
                            - type: object
                              required:
                              - connectionId
                              - name
                              properties:
                                connectionId:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                          - type: object
                            required:
                            - inodeId
                            properties:
                              inodeId:
                                type: string
                          description: ''
                          title: Source table or dataset (deprecated) details
                        - allOf:
                          - allOf:
                            - type: object
                              required:
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - table
                                  - dataset
                                  - data-model
                                  - element
                                  - customSQL
                                  - csv-upload
                                  - semantic-view
                                  - sql-document
                            - type: object
                              required:
                              - connectionId
                              - name
                              properties:
                                connectionId:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                          - type: object
                            required:
                            - definition
                            properties:
                              definition:
                                type: string
                                description: ''
                                title: Custom SQL definition
                          description: ''
                          title: Source custom SQL details
                        - allOf:
                          - allOf:
                            - type: object
                              required:
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - table
                                  - dataset
                                  - data-model
                                  - element
                                  - customSQL
                                  - csv-upload
                                  - semantic-view
                                  - sql-document
                            - type: object
                              required:
                              - connectionId
                              - name
                              properties:
                                connectionId:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                          - type: object
                            required:
                            - csvId
                            properties:
                              csvId:
                                type: string
                                description: Unique identifier of the uploaded CSV file
                                title: CSV ID
                          description: ''
                          title: Source CSV upload details
                        - allOf:
                          - allOf:
                            - type: object
                              required:
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - table
                                  - dataset
                                  - data-model
                                  - element
                                  - customSQL
                                  - csv-upload
                                  - semantic-view
                                  - sql-document
                            - type: object
                              required:
                              - connectionId
                              - name
                              properties:
                                connectionId:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                          - type: object
                            required:
                            - semanticViewId
                            - semanticViewTable
                            properties:
                              semanticViewId:
                                type: string
                                description: Unique identifier of the semantic view
                                title: Semantic view ID
                              semanticViewTable:
                                type: string
                                description: Name of the table within the semantic view
                                title: Semantic view table
                          description: ''
                          title: Source semantic view details
                        - allOf:
                          - allOf:
                            - type: object
                              required:
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - table
                                  - dataset
                                  - data-model
                                  - element
                                  - customSQL
                                  - csv-upload
                                  - semantic-view
                                  - sql-document
                            - type: object
                              required:
                              - connectionId
                              - name
                              properties:
                                connectionId:
                                  type:
                                  - string
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                          - type: object
                            required:
                            - sqlDocumentId
                            properties:
                              sqlDocumentId:
                                type: string
                          description: ''
                          title: Source SQL document details (deprecated)
                    nextPage:
                      type:
                      - string
                      - 'null'
                - type: object
                  properties:
                    total:
                      type: number
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/dataModels/{dataModelId}/materializations/{materializationId}:
    get:
      summary: Get a materialization job
      description: 'This endpoint retrieves details of a specific materialization job. It provides comprehensive information including status, start and completion times, which helps for monitoring and troubleshooting materialization.


        ### Usage notes

        - Retrieve the **materializationId** by calling the /v2/dataModels/materializations endpoint.


        ### Usage scenarios

        - **Job Monitoring:** Enables administrators to track the progress and status of materialization jobs, aiding in operational oversight.

        - **Troubleshooting:** Provides detailed information needed to diagnose and resolve issues in materialization processes.


        ### Best practices

        - Monitor materialization jobs regularly to detect and resolve issues promptly.

        - Use the detailed information provided by this endpoint to optimize materialization settings and performance.'
      parameters:
      - name: dataModelId
        schema:
          type: string
          description: Unique identifier of the data model.
          title: Data model ID
        in: path
        required: true
      - name: materializationId
        schema:
          type: string
          description: Unique identifier of the materialization job
          title: materializationId
        in: path
        required: true
      operationId: getDataModelMaterialization
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - materializationId
                  - status
                  properties:
                    materializationId:
                      type: string
                    status:
                      type: string
                - type: object
                  properties:
                    startedAt:
                      type: string
                      format: date-time
                    readyAt:
                      type: string
                      format: date-time
                    expiredAt:
                      type: string
                      format: date-time
                    error:
                      type: string
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - Data models
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/dataModels/{dataModelId}/materializationSchedules:
    get:
      summary: List materialization schedules for a data model
      description: 'This endpoint retrieves a list of all materialization schedules associated with a data model. Each schedule details when and how often specific data model elements are automatically materialized to optimize performance and data freshness.

        ### Usage notes

        - Retrieve the **dataModelId** by calling the /v2/dataModels endpoint.

[...]
