openapi: 3.2.0
info:
  title: Sigma Computing Source Swap Policies API
  version: '1.0'
  description: 'Operations tagged sourceSwapPolicies across 2 of this provider''s published API definitions: sigma-computing-public-rest-api-openapi.json, sigma-computing-rest-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sigmacomputing.com
  description: Server for GCP (US) hosted organizations
- url: https://api.sa.gcp.sigmacomputing.com
  description: Server for GCP (KSA) hosted organizations
- url: https://aws-api.sigmacomputing.com
  description: Server for AWS US (West) hosted organizations
- url: https://api.us-a.aws.sigmacomputing.com
  description: Server for AWS US (East) hosted organizations
- url: https://api.ca.aws.sigmacomputing.com
  description: Server for AWS Canada hosted organizations
- url: https://api.eu.aws.sigmacomputing.com
  description: Server for AWS Europe hosted organizations
- url: https://api.au.aws.sigmacomputing.com
  description: Server for AWS Australia and APAC hosted organizations
- url: https://api.uk.aws.sigmacomputing.com
  description: Server for AWS UK hosted organizations
- url: https://api.us.azure.sigmacomputing.com
  description: Server for Azure US hosted organizations
- url: https://api.eu.azure.sigmacomputing.com
  description: Server for Azure Europe hosted organizations
- url: https://api.ca.azure.sigmacomputing.com
  description: Server for Azure Canada hosted organizations
- url: https://api.uk.azure.sigmacomputing.com
  description: Server for Azure United Kingdom hosted organizations
- url: https://api.au.azure.sigmacomputing.com
  description: Server for Azure Australia hosted organizations
tags:
- name: sourceSwapPolicies
paths:
  /v2/sourceSwapPolicies:
    post:
      summary: Create a source swap policy
      description: "Create a source swap policy.\n\n  **Beta**: Creating a **Connection** source swap policy is in private beta and must be enabled for your organization. This documentation is subject to the [Beta features](/docs/sigma-product-releases#beta-features) disclaimer.\n\n  ### Usage notes\n  - Retrieve the **connectionId** to use as the **fromConnectionId** by calling the [/v2/connections](https://help.sigmacomputing.com/reference/list-connections) endpoint.\n  - Retrieve the **userAttributeId** to use in the **swaps** object by calling the [/v2/user-attributes](https://help.sigmacomputing.com/reference/list-user-attributes) endpoint.\n  "
      parameters: []
      operationId: createSourceSwapPolicy
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                required:
                - type
                - name
                - fromConnectionId
                - swaps
                properties:
                  type:
                    type: string
                    enum:
                    - connection
                  name:
                    type: string
                    description: Name of the source swap policy.
                  fromConnectionId:
                    type: string
                    description: ID of the connection to swap.
                  swaps:
                    type: object
                    required:
                    - connectionSwaps
                    properties:
                      connectionSwaps:
                        type: array
                        items:
                          type: object
                          required:
                          - to
                          properties:
                            to:
                              allOf:
                              - type: object
                                required:
                                - path0
                                - path1
                                properties:
                                  path0:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      - userAttributeId
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - attribute
                                          description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                        userAttributeId:
                                          type: string
                                      description: ''
                                      title: User attribute
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                  path1:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      - userAttributeId
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - attribute
                                          description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                        userAttributeId:
                                          type: string
                                      description: ''
                                      title: User attribute
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                              - type: object
                                properties:
                                  path2:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      - userAttributeId
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - attribute
                                          description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                        userAttributeId:
                                          type: string
                                      description: ''
                                      title: User attribute
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                              description: Specify how to swap each segment of a path to a table in your database, catalog, or project. `path0` is equivalent to a database, catalog, or project. `path` is equivalent to a schema or dataset, and `path2` is equivalent to a table or view.
                        description: Swap paths to a different location in the same connection.
                    description: ''
                    title: Swap rules
                description: ''
                title: Connection swap
              - type: object
                required:
                - type
                - name
                - fromConnectionId
                - swaps
                properties:
                  type:
                    type: string
                    enum:
                    - deployment
                  name:
                    type: string
                    description: Name of the source swap policy.
                  fromConnectionId:
                    type: string
                    description: ID of the connection to swap.
                  swaps:
                    type: object
                    required:
                    - toConnection
                    - deploymentSwaps
                    properties:
                      toConnection:
                        type: object
                        required:
                        - swapType
                        - userAttributeId
                        properties:
                          swapType:
                            type: string
                            enum:
                            - attribute
                            description: Specify a user attribute to use the value of the user attribute as the value to swap.
                          userAttributeId:
                            type: string
                        description: ''
                        title: User attribute
                      deploymentSwaps:
                        type: array
                        items:
                          type: object
                          required:
                          - from
                          - to
                          properties:
                            from:
                              allOf:
                              - type: object
                                required:
                                - path0
                                - path1
                                properties:
                                  path0:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                  path1:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                              - type: object
                                properties:
                                  path2:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                            to:
                              allOf:
                              - type: object
                                required:
                                - path0
                                - path1
                                properties:
                                  path0:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      - userAttributeId
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - attribute
                                          description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                        userAttributeId:
                                          type: string
                                      description: ''
                                      title: User attribute
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                  path1:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      - userAttributeId
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - attribute
                                          description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                        userAttributeId:
                                          type: string
                                      description: ''
                                      title: User attribute
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                              - type: object
                                properties:
                                  path2:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      - userAttributeId
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - attribute
                                          description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                        userAttributeId:
                                          type: string
                                      description: ''
                                      title: User attribute
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                    description: ''
                    title: Swap rules
                description: ''
                title: Deployment swap
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                required:
                - policyId
                properties:
                  policyId:
                    type: string
                    description: Unique identifier of the source swap policy.
                description: Source Swap Policy Response
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - sourceSwapPolicies
      security:
      - oauth2: []
    get:
      summary: List source swap policies
      description: "Get a list of source swap policies.\n\n  **Beta**: Getting a list of **Connection** source swap policies is in private beta and must be enabled for your organization. This documentation is subject to the [Beta features](/docs/sigma-product-releases#beta-features) disclaimer.\n    "
      parameters:
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      operationId: listSourceSwapPolicies
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - oneOf:
                          - type: object
                            required:
                            - type
                            - name
                            - fromConnectionId
                            - swaps
                            properties:
                              type:
                                type: string
                                enum:
                                - connection
                              name:
                                type: string
                                description: Name of the source swap policy.
                              fromConnectionId:
                                type: string
                                description: ID of the connection to swap.
                              swaps:
                                type: object
                                required:
                                - connectionSwaps
                                properties:
                                  connectionSwaps:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - to
                                      properties:
                                        to:
                                          allOf:
                                          - type: object
                                            required:
                                            - path0
                                            - path1
                                            properties:
                                              path0:
                                                oneOf:
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - userAttributeId
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - attribute
                                                      description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                                    userAttributeId:
                                                      type: string
                                                  description: ''
                                                  title: User attribute
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - catalogObject
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - exact
                                                      description: Specify the value in the path to swap to
                                                    catalogObject:
                                                      type: string
                                                  description: ''
                                                  title: Specific path
                                                - type: object
                                                  required:
                                                  - swapType
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - all
                                                      description: Keep the current path value.
                                                  description: ''
                                                  title: No changes
                                                description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                              path1:
                                                oneOf:
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - userAttributeId
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - attribute
                                                      description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                                    userAttributeId:
                                                      type: string
                                                  description: ''
                                                  title: User attribute
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - catalogObject
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - exact
                                                      description: Specify the value in the path to swap to
                                                    catalogObject:
                                                      type: string
                                                  description: ''
                                                  title: Specific path
                                                - type: object
                                                  required:
                                                  - swapType
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - all
                                                      description: Keep the current path value.
                                                  description: ''
                                                  title: No changes
                                                description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                          - type: object
                                            properties:
                                              path2:
                                                oneOf:
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - userAttributeId
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - attribute
                                                      description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                                    userAttributeId:
                                                      type: string
                                                  description: ''
                                                  title: User attribute
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - catalogObject
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - exact
                                                      description: Specify the value in the path to swap to
                                                    catalogObject:
                                                      type: string
                                                  description: ''
                                                  title: Specific path
                                                - type: object
                                                  required:
                                                  - swapType
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - all
                                                      description: Keep the current path value.
                                                  description: ''
                                                  title: No changes
                                                description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                          description: Specify how to swap each segment of a path to a table in your database, catalog, or project. `path0` is equivalent to a database, catalog, or project. `path` is equivalent to a schema or dataset, and `path2` is equivalent to a table or view.
                                    description: Swap paths to a different location in the same connection.
                                description: ''
                                title: Swap rules
                            description: ''
                            title: Connection swap
                          - type: object
                            required:
                            - type
                            - name
                            - fromConnectionId
                            - swaps
                            properties:
                              type:
                                type: string
                                enum:
                                - deployment
                              name:
                                type: string
                                description: Name of the source swap policy.
                              fromConnectionId:
                                type: string
                                description: ID of the connection to swap.
                              swaps:
                                type: object
                                required:
                                - toConnection
                                - deploymentSwaps
                                properties:
                                  toConnection:
                                    type: object
                                    required:
                                    - swapType
                                    - userAttributeId
                                    properties:
                                      swapType:
                                        type: string
                                        enum:
                                        - attribute
                                        description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                      userAttributeId:
                                        type: string
                                    description: ''
                                    title: User attribute
                                  deploymentSwaps:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - from
                                      - to
                                      properties:
                                        from:
                                          allOf:
                                          - type: object
                                            required:
                                            - path0
                                            - path1
                                            properties:
                                              path0:
                                                oneOf:
                                                - type: object
                                                  required:
                                                  - swapType
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - all
                                                      description: Keep the current path value.
                                                  description: ''
                                                  title: No changes
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - catalogObject
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - exact
                                                      description: Specify the value in the path to swap to
                                                    catalogObject:
                                                      type: string
                                                  description: ''
                                                  title: Specific path
                                              path1:
                                                oneOf:
                                                - type: object
                                                  required:
                                                  - swapType
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - all
                                                      description: Keep the current path value.
                                                  description: ''
                                                  title: No changes
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - catalogObject
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - exact
                                                      description: Specify the value in the path to swap to
                                                    catalogObject:
                                                      type: string
                                                  description: ''
                                                  title: Specific path
                                          - type: object
                                            properties:
                                              path2:
                                                oneOf:
                                                - type: object
                                                  required:
                                                  - swapType
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - all
                                                      description: Keep the current path value.
                                                  description: ''
                                                  title: No changes
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - catalogObject
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - exact
                                                      description: Specify the value in the path to swap to
                                                    catalogObject:
                                                      type: string
                                                  description: ''
                                                  title: Specific path
                                        to:
                                          allOf:
                                          - type: object
                                            required:
                                            - path0
                                            - path1
                                            properties:
                                              path0:
                                                oneOf:
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - userAttributeId
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - attribute
                                                      description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                                    userAttributeId:
                                                      type: string
                                                  description: ''
                                                  title: User attribute
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - catalogObject
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - exact
                                                      description: Specify the value in the path to swap to
                                                    catalogObject:
                                                      type: string
                                                  description: ''
                                                  title: Specific path
                                                - type: object
                                                  required:
                                                  - swapType
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - all
                                                      description: Keep the current path value.
                                                  description: ''
                                                  title: No changes
                                                description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                              path1:
                                                oneOf:
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - userAttributeId
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - attribute
                                                      description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                                    userAttributeId:
                                                      type: string
                                                  description: ''
                                                  title: User attribute
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - catalogObject
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - exact
                                                      description: Specify the value in the path to swap to
                                                    catalogObject:
                                                      type: string
                                                  description: ''
                                                  title: Specific path
                                                - type: object
                                                  required:
                                                  - swapType
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - all
                                                      description: Keep the current path value.
                                                  description: ''
                                                  title: No changes
                                                description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                          - type: object
                                            properties:
                                              path2:
                                                oneOf:
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - userAttributeId
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - attribute
                                                      description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                                    userAttributeId:
                                                      type: string
                                                  description: ''
                                                  title: User attribute
                                                - type: object
                                                  required:
                                                  - swapType
                                                  - catalogObject
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - exact
                                                      description: Specify the value in the path to swap to
                                                    catalogObject:
                                                      type: string
                                                  description: ''
                                                  title: Specific path
                                                - type: object
                                                  required:
                                                  - swapType
                                                  properties:
                                                    swapType:
                                                      type: string
                                                      enum:
                                                      - all
                                                      description: Keep the current path value.
                                                  description: ''
                                                  title: No changes
                                                description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                description: ''
                                title: Swap rules
                            description: ''
                            title: Deployment swap
                        - type: object
                          required:
                          - policyId
                          properties:
                            policyId:
                              type: string
                        description: Get source swap policy response
                    nextPage:
                      type:
                      - string
                      - 'null'
                - type: object
                  properties:
                    total:
                      type: number
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - sourceSwapPolicies
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/sourceSwapPolicies/{policyId}:
    patch:
      summary: Update a source swap policy
      description: "Update a source swap policy.\n\n  **Beta**: Updating a **Connection** source swap policy is in private beta and must be enabled for your organization. This documentation is subject to the [Beta features](/docs/sigma-product-releases#beta-features) disclaimer.\n\n  ### Usage notes\n  - Retrieve the **policyId** by calling the [/v2/sourceSwapPolicies](https://help.sigmacomputing.com/reference/list-source-swap-policies) endpoint.\n  - Retrieve the **connectionId** to use as the **fromConnectionId** by calling the [/v2/connections](https://help.sigmacomputing.com/reference/list-connections) endpoint.\n  - Retrieve the **userAttributeId** to use in the **swaps** object by calling the [/v2/user-attributes](https://help.sigmacomputing.com/reference/list-user-attributes) endpoint.\n    "
      parameters:
      - name: policyId
        schema:
          type: string
          description: Id of the source swap policy.
        in: path
        required: true
      operationId: updateSourceSwapPolicy
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - connection
                  name:
                    type: string
                    description: Name of the source swap policy.
                  fromConnectionId:
                    type: string
                    description: ID of the connection to swap.
                  swaps:
                    type: object
                    required:
                    - connectionSwaps
                    properties:
                      connectionSwaps:
                        type: array
                        items:
                          type: object
                          required:
                          - to
                          properties:
                            to:
                              allOf:
                              - type: object
                                required:
                                - path0
                                - path1
                                properties:
                                  path0:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      - userAttributeId
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - attribute
                                          description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                        userAttributeId:
                                          type: string
                                      description: ''
                                      title: User attribute
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                  path1:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      - userAttributeId
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - attribute
                                          description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                        userAttributeId:
                                          type: string
                                      description: ''
                                      title: User attribute
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                              - type: object
                                properties:
                                  path2:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      - userAttributeId
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - attribute
                                          description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                        userAttributeId:
                                          type: string
                                      description: ''
                                      title: User attribute
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                              description: Specify how to swap each segment of a path to a table in your database, catalog, or project. `path0` is equivalent to a database, catalog, or project. `path` is equivalent to a schema or dataset, and `path2` is equivalent to a table or view.
                        description: Swap paths to a different location in the same connection.
                    description: ''
                    title: Swap rules
                description: Connection swap policy
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                    - deployment
                  name:
                    type: string
                    description: Name of the source swap policy.
                  fromConnectionId:
                    type: string
                    description: ID of the connection to swap.
                  swaps:
                    type: object
                    required:
                    - toConnection
                    - deploymentSwaps
                    properties:
                      toConnection:
                        type: object
                        required:
                        - swapType
                        - userAttributeId
                        properties:
                          swapType:
                            type: string
                            enum:
                            - attribute
                            description: Specify a user attribute to use the value of the user attribute as the value to swap.
                          userAttributeId:
                            type: string
                        description: ''
                        title: User attribute
                      deploymentSwaps:
                        type: array
                        items:
                          type: object
                          required:
                          - from
                          - to
                          properties:
                            from:
                              allOf:
                              - type: object
                                required:
                                - path0
                                - path1
                                properties:
                                  path0:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                  path1:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                              - type: object
                                properties:
                                  path2:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                            to:
                              allOf:
                              - type: object
                                required:
                                - path0
                                - path1
                                properties:
                                  path0:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      - userAttributeId
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - attribute
                                          description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                        userAttributeId:
                                          type: string
                                      description: ''
                                      title: User attribute
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                  path1:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      - userAttributeId
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - attribute
                                          description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                        userAttributeId:
                                          type: string
                                      description: ''
                                      title: User attribute
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                              - type: object
                                properties:
                                  path2:
                                    oneOf:
                                    - type: object
                                      required:
                                      - swapType
                                      - userAttributeId
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - attribute
                                          description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                        userAttributeId:
                                          type: string
                                      description: ''
                                      title: User attribute
                                    - type: object
                                      required:
                                      - swapType
                                      - catalogObject
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - exact
                                          description: Specify the value in the path to swap to
                                        catalogObject:
                                          type: string
                                      description: ''
                                      title: Specific path
                                    - type: object
                                      required:
                                      - swapType
                                      properties:
                                        swapType:
                                          type: string
                                          enum:
                                          - all
                                          description: Keep the current path value.
                                      description: ''
                                      title: No changes
                                    description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                    description: ''
                    title: Swap rules
                description: Deployment swap policy
              description: Update source swap policy request
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                required:
                - policyId
                properties:
                  policyId:
                    type: string
                    description: Unique identifier of the source swap policy.
                description: Source Swap Policy Response
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - sourceSwapPolicies
      security:
      - oauth2: []
    delete:
      summary: Delete a source swap policy
      description: "Delete a source swap policy by policy ID.\n\n  **Beta**: Deleting a **Connection** source swap policy is in private beta and must be enabled for your organization. This documentation is subject to the [Beta features](/docs/sigma-product-releases#beta-features) disclaimer.\n\n  ### Usage notes\n  - Retrieve the **policyId** by calling the [/v2/sourceSwapPolicies](https://help.sigmacomputing.com/reference/list-source-swap-policies) endpoint.\n    "
      parameters:
      - name: policyId
        schema:
          type: string
          description: Id of the source swap policy.
        in: path
        required: true
      operationId: deleteSourceSwapPolicy
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - sourceSwapPolicies
      security:
      - oauth2: []
    get:
      summary: Get a source swap policy
      description: "Get a source swap policy by policy ID.\n\n  **Beta**: Getting details for a **Connection** source swap policy is in private beta and must be enabled for your organization. This documentation is subject to the [Beta features](/docs/sigma-product-releases#beta-features) disclaimer.\n\n  ### Usage notes\n  - Retrieve the **policyId** by calling the [/v2/sourceSwapPolicies](https://help.sigmacomputing.com/reference/list-source-swap-policies) endpoint.\n    "
      parameters:
      - name: policyId
        schema:
          type: string
          description: Id of the source swap policy.
        in: path
        required: true
      operationId: getSourceSwapPolicy
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - oneOf:
                  - type: object
                    required:
                    - type
                    - name
                    - fromConnectionId
                    - swaps
                    properties:
                      type:
                        type: string
                        enum:
                        - connection
                      name:
                        type: string
                        description: Name of the source swap policy.
                      fromConnectionId:
                        type: string
                        description: ID of the connection to swap.
                      swaps:
                        type: object
                        required:
                        - connectionSwaps
                        properties:
                          connectionSwaps:
                            type: array
                            items:
                              type: object
                              required:
                              - to
                              properties:
                                to:
                                  allOf:
                                  - type: object
                                    required:
                                    - path0
                                    - path1
                                    properties:
                                      path0:
                                        oneOf:
                                        - type: object
                                          required:
                                          - swapType
                                          - userAttributeId
                                          properties:
                                            swapType:
                                              type: string
                                              enum:
                                              - attribute
                                              description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                            userAttributeId:
                                              type: string
                                          description: ''
                                          title: User attribute
                                        - type: object
                                          required:
                                          - swapType
                                          - catalogObject
                                          properties:
                                            swapType:
                                              type: string
                                              enum:
                                              - exact
                                              description: Specify the value in the path to swap to
                                            catalogObject:
                                              type: string
                                          description: ''
                                          title: Specific path
                                        - type: object
                                          required:
                                          - swapType
                                          properties:
                                            swapType:
                                              type: string
                                              enum:
                                              - all
                                              description: Keep the current path value.
                                          description: ''
                                          title: No changes
                                        description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                      path1:
                                        oneOf:
                                        - type: object
                                          required:
                                          - swapType
                                          - userAttributeId
                                          properties:
                                            swapType:
                                              type: string
                                              enum:
                                              - attribute
                                              description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                            userAttributeId:
                                              type: string
                                          description: ''
                                          title: User attribute
                                        - type: object
                                          required:
                                          - swapType
                                          - catalogObject
                                          properties:
                                            swapType:
                                              type: string
                                              enum:
                                              - exact
                                              description: Specify the value in the path to swap to
                                            catalogObject:
                                              type: string
                                          description: ''
                                          title: Specific path
                                        - type: object
                                          required:
                                          - swapType
                                          properties:
                                            swapType:
                                              type: string
                                              enum:
                                              - all
                                              description: Keep the current path value.
                                          description: ''
                                          title: No changes
                                        description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                  - type: object
                                    properties:
                                      path2:
                                        oneOf:
                                        - type: object
                                          required:
                                          - swapType
                                          - userAttributeId
                                          properties:
                                            swapType:
                                              type: string
                                              enum:
                                              - attribute
                                              description: Specify a user attribute to use the value of the user attribute as the value to swap.
                                            userAttributeId:
                                              type: string
                                          description: ''
                                          title: User attribute
                                        - type: object
                                          required:
                                          - swapType
                                          - catalogObject
                                          properties:
                                            swapType:
                                              type: string
                                              enum:
                                              - exact
                                              description: Specify the value in the path to swap to
                                            catalogObject:
                                              type: string
                                          description: ''
                                          title: Specific path
                                        - type: object
                                          required:
                                          - swapType
                                          properties:
                                            swapType:
                                              type: string
                                              enum:
                                              - all
                                              description: Keep the current path value.
                                          description: ''
                                          title: No changes
                                        description: The rule used to update this specific path value when the swap is performed. If the specified path (when resolved) does not exist, the swap is not performed.
                                  description: Specify how to swap each segment of a path to a table in your database, catalog, or project. `path0` is equivalent to a database, catalog, or project. `path` is equivalent to a schema or dataset, and `path2` is equivalent to a table or view.
                            description: Swap paths to a different location in the same connection.
                        description: ''
                        title: Swap rules
                    description: ''
                    title: Connection swap
                  - type: object
                    required:
                    - type
                    - name
                    - fromConnectionId
                    - swaps
                    properties:
                      type:
                        type: string
                        enum:
                        - deployment
                      name:
                        type: string
                        description: Name of the source swap policy.
                      fromConnectionId:
                        type: string
                        description: ID of the connection to swap.
                      swaps:
                        type: object
                        required:
                        - toConnection
                        - deploymentSwaps
                        properties:
                          toConnection:
                            type: object
                            required:
                            - swapType
                            - userAttributeId
                            properties:
                              swapType:
                                type: string
                                enum:
                                - attribute
                                description: Specify a user attribute to use the value of the user attribute as the value to swap.
                              userAttributeId:
                                type: string
                            description: ''
                            title: User attribute
                          deploymentSwaps:
                            type: array
                            items:
                              type: object
                              required:
                              - from
                              - to
                              properties:
                                from:
                                  allOf:
                                  - type: object
                                    required:
                                    - path0
                                    - path1
                                    properties:
                                      path0:
                                        oneOf:
                                        - type: object
                                          required:
                                          - swapType
                                          properties:
                                            swapType:
                                              type: string
                                              enum:
[...]
