openapi: 3.2.0
info:
  title: Sigma Computing Public REST User Attributes API
  version: 2.0.0
  summary: The Sigma REST API provides developers access to resources programmatically, using HTTP.
  description: 'The Sigma REST API provides developers access to resources programmatically,

    using HTTP.'
  termsOfService: Contact Sigma
  contact:
    email: support@sigmacomputing.com
servers:
- url: https://api.sigmacomputing.com
  description: Server for GCP (US) hosted organizations
- url: https://api.sa.gcp.sigmacomputing.com
  description: Server for GCP (KSA) hosted organizations
- url: https://aws-api.sigmacomputing.com
  description: Server for AWS US (West) hosted organizations
- url: https://api.us-a.aws.sigmacomputing.com
  description: Server for AWS US (East) hosted organizations
- url: https://api.ca.aws.sigmacomputing.com
  description: Server for AWS Canada hosted organizations
- url: https://api.eu.aws.sigmacomputing.com
  description: Server for AWS Europe hosted organizations
- url: https://api.au.aws.sigmacomputing.com
  description: Server for AWS Australia and APAC hosted organizations
- url: https://api.uk.aws.sigmacomputing.com
  description: Server for AWS UK hosted organizations
- url: https://api.us.azure.sigmacomputing.com
  description: Server for Azure US hosted organizations
- url: https://api.eu.azure.sigmacomputing.com
  description: Server for Azure Europe hosted organizations
- url: https://api.ca.azure.sigmacomputing.com
  description: Server for Azure Canada hosted organizations
- url: https://api.uk.azure.sigmacomputing.com
  description: Server for Azure United Kingdom hosted organizations
- url: https://api.au.azure.sigmacomputing.com
  description: Server for Azure Australia hosted organizations
security:
- oauth2: []
tags:
- name: User Attributes
paths:
  /v2/user-attributes:
    get:
      summary: List user attributes
      description: Get a list of available user attributes, values, and owners.
      parameters:
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      - name: name
        schema:
          type: string
          description: Search filter for the name of the user attribute.
        in: query
      operationId: listUserAttributes
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - userAttributeId
                          - name
                          properties:
                            userAttributeId:
                              type: string
                              description: Unique identifier of the user attribute.
                            name:
                              type: string
                              description: Name of the user attribute.
                        - type: object
                          required:
                          - createdBy
                          - updatedBy
                          - createdAt
                          - updatedAt
                          properties:
                            createdBy:
                              type: string
                              description: The identifier of the user who created this object.
                            updatedBy:
                              type: string
                              description: The identifier of the user or process that last updated this object.
                            createdAt:
                              type: string
                              format: date-time
                              description: When the object was created.
                            updatedAt:
                              type: string
                              format: date-time
                              description: When the object was last updated.
                        - type: object
                          properties:
                            description:
                              type:
                              - string
                              - 'null'
                              description: Description of the user attribute.
                            defaultValue:
                              type:
                              - object
                              - 'null'
                              required:
                              - type
                              - val
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - string
                                  description: Type of user attribute.
                                val:
                                  type: string
                                  description: Value of the user attribute.
                              description: Default value of the user attribute.
                    nextPage:
                      type:
                      - string
                      - 'null'
                - type: object
                  properties:
                    total:
                      type: number
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
    post:
      summary: Create a user attribute
      description: Create a new user attribute. An optional description and default value can be provided.
      parameters: []
      operationId: createUserAttribute
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - name
                properties:
                  name:
                    type: string
                    description: Name of the user attribute.
              - type: object
                properties:
                  description:
                    type: string
                    description: Description of the user attribute.
                  defaultValue:
                    type: object
                    required:
                    - type
                    - val
                    properties:
                      type:
                        type: string
                        enum:
                        - string
                        description: Type of user attribute.
                      val:
                        type: string
                        description: Value of the user attribute.
                    description: Default value of the user attribute.
                    title: Default value
            examples:
              Request Example:
                value:
                  name: department
                  description: The user’s home department.
                  defaultValue:
                    type: string
                    val: engineering
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - userAttributeId
                  - name
                  properties:
                    userAttributeId:
                      type: string
                      description: Unique identifier of the user attribute.
                    name:
                      type: string
                      description: Name of the user attribute.
                - type: object
                  required:
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  properties:
                    createdBy:
                      type: string
                      description: The identifier of the user who created this object.
                    updatedBy:
                      type: string
                      description: The identifier of the user or process that last updated this object.
                    createdAt:
                      type: string
                      format: date-time
                      description: When the object was created.
                    updatedAt:
                      type: string
                      format: date-time
                      description: When the object was last updated.
                - type: object
                  properties:
                    description:
                      type:
                      - string
                      - 'null'
                      description: Description of the user attribute.
                    defaultValue:
                      type:
                      - object
                      - 'null'
                      required:
                      - type
                      - val
                      properties:
                        type:
                          type: string
                          enum:
                          - string
                          description: Type of user attribute.
                        val:
                          type: string
                          description: Value of the user attribute.
                      description: Default value of the user attribute.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
  /v2/user-attributes/{userAttributeId}:
    delete:
      summary: Delete a user attribute
      description: 'Delete a user attribute.


        ### Usage notes

        - To perform this operation, you must use API credentials owned by a user assigned the Admin account type.

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.

        - This action permanently removes the user attribute from the organization and cannot be undone.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      operationId: deleteUserAttribute
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
    get:
      summary: Get a user attribute
      description: 'Get details for a specific user attribute.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      operationId: getUserAttribute
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - userAttributeId
                  - name
                  properties:
                    userAttributeId:
                      type: string
                      description: Unique identifier of the user attribute.
                    name:
                      type: string
                      description: Name of the user attribute.
                - type: object
                  required:
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  properties:
                    createdBy:
                      type: string
                      description: The identifier of the user who created this object.
                    updatedBy:
                      type: string
                      description: The identifier of the user or process that last updated this object.
                    createdAt:
                      type: string
                      format: date-time
                      description: When the object was created.
                    updatedAt:
                      type: string
                      format: date-time
                      description: When the object was last updated.
                - type: object
                  properties:
                    description:
                      type:
                      - string
                      - 'null'
                      description: Description of the user attribute.
                    defaultValue:
                      type:
                      - object
                      - 'null'
                      required:
                      - type
                      - val
                      properties:
                        type:
                          type: string
                          enum:
                          - string
                          description: Type of user attribute.
                        val:
                          type: string
                          description: Value of the user attribute.
                      description: Default value of the user attribute.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
  /v2/user-attributes/{userAttributeId}/teams:
    get:
      summary: Get teams for a user attribute
      description: 'Get a list of teams that have a specific user attribute defined, and the assigned value for the user attribute.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      operationId: getUserAttributeTeamAssignments
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - teamId
                          - value
                          - priority
                          properties:
                            teamId:
                              type: string
                              description: Unique identifier of the team.
                            value:
                              type: object
                              required:
                              - type
                              - val
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - string
                                  description: Type of user attribute.
                                val:
                                  type: string
                                  description: Value of the user attribute.
                              description: Assigned value.
                            priority:
                              type: number
                              description: Priority of the assignment.
                        - type: object
                          required:
                          - createdBy
                          - updatedBy
                          - createdAt
                          - updatedAt
                          properties:
                            createdBy:
                              type: string
                              description: The identifier of the user who created this object.
                            updatedBy:
                              type: string
                              description: The identifier of the user or process that last updated this object.
                            createdAt:
                              type: string
                              format: date-time
                              description: When the object was created.
                            updatedAt:
                              type: string
                              format: date-time
                              description: When the object was last updated.
                    nextPage:
                      type:
                      - string
                      - 'null'
                - type: object
                  properties:
                    total:
                      type: number
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
    patch:
      summary: Update a user attribute for teams
      description: 'Update a user attribute for one or more teams. Currently, this endpoint only supports deleting a user attribute assignment.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.

        - Retrieve the **teamId** by calling the /v2/teams endpoint.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      operationId: updateUserAttributeForTeams
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - delete
              properties:
                delete:
                  type: array
                  items:
                    type: object
                    required:
                    - teamId
                    properties:
                      teamId:
                        type: string
                        description: Unique identifier of the team.
                  description: The teams whose assignments are to be revoked.
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
    post:
      summary: Set a user attribute for teams
      description: 'Assign and set the value of a specific user attribute for one or more teams.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.

        - Retrieve the **teamId** by calling the /v2/teams endpoint.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      operationId: setUserAttributeForTeams
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - assignments
              properties:
                assignments:
                  type: array
                  items:
                    type: object
                    required:
                    - teamId
                    - value
                    properties:
                      teamId:
                        type: string
                        description: Unique identifier of the team.
                      value:
                        type: object
                        required:
                        - type
                        - val
                        properties:
                          type:
                            type: string
                            enum:
                            - string
                            description: Type of user attribute.
                          val:
                            type: string
                            description: Value of the user attribute.
                        description: The value of the user attribute
                        title: Attribute value
            examples:
              Request Example:
                value:
                  assignments:
                  - teamId: 00000000-0000-0000-0000-000000000000
                    value:
                      type: string
                      val: foo
                  - teamId: 00000000-0000-0000-0000-000000000001
                    value:
                      type: string
                      val: bar
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
  /v2/user-attributes/{userAttributeId}/teams/{teamId}:
    delete:
      summary: Delete a user attribute for a team
      description: 'Delete a specific user attribute for a specific team.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.

        - Retrieve the **teamId** by calling the /v2/teams endpoint.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      - name: teamId
        schema:
          type: string
          description: Unique identifier of the team.
        in: path
        required: true
      operationId: deleteUserAttributeForTeam
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
  /v2/user-attributes/{userAttributeId}/tenants:
    get:
      summary: Get tenants for a user attribute
      description: 'Get a list of tenants that have a specific user attribute defined, and the assigned value for the user attribute.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      operationId: getUserAttributeTenantAssignments
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - tenantOrganizationId
                          - value
                          properties:
                            tenantOrganizationId:
                              type: string
                              description: Unique identifier of the tenant.
                            value:
                              type: object
                              required:
                              - type
                              - val
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - string
                                  description: Type of user attribute.
                                val:
                                  type: string
                                  description: Value of the user attribute.
                              description: Assigned value.
                        - type: object
                          required:
                          - createdBy
                          - updatedBy
                          - createdAt
                          - updatedAt
                          properties:
                            createdBy:
                              type: string
                              description: The identifier of the user who created this object.
                            updatedBy:
                              type: string
                              description: The identifier of the user or process that last updated this object.
                            createdAt:
                              type: string
                              format: date-time
                              description: When the object was created.
                            updatedAt:
                              type: string
                              format: date-time
                              description: When the object was last updated.
                    nextPage:
                      type:
                      - string
                      - 'null'
                - type: object
                  properties:
                    total:
                      type: number
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
    patch:
      summary: Update a user attribute for tenants
      description: 'Update a user attribute for one or more tenants. Currently, this endpoint only supports deleting a user attribute assignment.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.

        - Specify one or more tenants by tenantOrganizationId. Retrieve the **tenantOrganizationId** by calling the /v2/tenants endpoint and using the `tenantOrganizationId` included in the response.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      operationId: updateUserAttributeForTenants
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - delete
              properties:
                delete:
                  type: array
                  items:
                    type: object
                    required:
                    - tenantOrganizationId
                    properties:
                      tenantOrganizationId:
                        type: string
                        description: The unique identifier of the tenant.
                  description: The tenants whose assignments are to be revoked.
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
    post:
      summary: Set a user attribute for tenants
      description: 'Assign and set the value of a specific user attribute for one or more tenants.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.

        - Specify one or more tenant by tenantOrganizationId. Retrieve the **tenantOrganizationId** by calling the /v2/tenants endpoint and using the `tenantOrganizationId` included in the response.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      operationId: setUserAttributeForTenants
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - assignments
              properties:
                assignments:
                  type: array
                  items:
                    type: object
                    required:
                    - tenantOrganizationId
                    - value
                    properties:
                      tenantOrganizationId:
                        type: string
                        description: Unique identifier of the tenant.
                      value:
                        type: object
                        required:
                        - type
                        - val
                        properties:
                          type:
                            type: string
                            enum:
                            - string
                            description: Type of user attribute.
                          val:
                            type: string
                            description: Value of the user attribute.
                        description: The value of the user attribute
                        title: Attribute value
            examples:
              Request Example:
                value:
                  assignments:
                  - tenantOrganizationId: 00000000-0000-0000-0000-000000000000
                    value:
                      type: string
                      val: foo
                  - tenantOrganizationId: 00000000-0000-0000-0000-000000000001
                    value:
                      type: string
                      val: bar
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
  /v2/user-attributes/{userAttributeId}/tenants/{tenantOrganizationId}:
    delete:
      summary: Delete a user attribute for a tenant
      description: 'Delete a specific user attribute for a specific tenant.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.

        - Retrieve the **tenantOrganizationId** by calling the /v2/tenants endpoint and using the `tenantOrganizationId` included in the response.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      - name: tenantOrganizationId
        schema:
          type: string
          description: Unique identifier of the tenant.
        in: path
        required: true
      operationId: deleteUserAttributeForTenant
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
  /v2/user-attributes/{userAttributeId}/users:
    get:
      summary: Get users for a user attribute
      description: 'Get a list of users that have a specific user attribute defined, and the assigned value for the user attribute.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      operationId: getUserAttributeUserAssignments
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - userId
                          - value
                          properties:
                            userId:
                              type: string
                              description: Unique identifier of the user.
                            value:
                              type: object
                              required:
                              - type
                              - val
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - string
                                  description: Type of user attribute.
                                val:
                                  type: string
                                  description: Value of the user attribute.
                              description: Assigned value.
                        - type: object
                          required:
                          - createdBy
                          - updatedBy
                          - createdAt
                          - updatedAt
                          properties:
                            createdBy:
                              type: string
                              description: The identifier of the user who created this object.
                            updatedBy:
                              type: string
                              description: The identifier of the user or process that last updated this object.
                            createdAt:
                              type: string
                              format: date-time
                              description: When the object was created.
                            updatedAt:
                              type: string
                              format: date-time
                              description: When the object was last updated.
                    nextPage:
                      type:
                      - string
                      - 'null'
                - type: object
                  properties:
                    total:
                      type: number
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
    patch:
      summary: Update a user attribute for users
      description: 'Update a user attribute for one or more users. Currently, this endpoint only supports deleting a user attribute assignment.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.

        - Specify one or more users by userId. Retrieve the **userId** by calling the /v2/members endpoint and using the `memberId` included in the response.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      operationId: updateUserAttributeForUsers
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - delete
              properties:
                delete:
                  type: array
                  items:
                    type: object
                    required:
                    - userId
                    properties:
                      userId:
                        type: string
                        description: The unique identifier of the user.
                  description: The users whose assignments are to be revoked.
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
    post:
      summary: Set a user attribute for users
      description: 'Assign and set the value of a specific user attribute for one or more users.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.

        - Specify one or more users by userId. Retrieve the **userId** by calling the /v2/members endpoint and using the `memberId` included in the response.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      operationId: setUserAttributeForUsers
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              required:
              - assignments
              properties:
                assignments:
                  type: array
                  items:
                    type: object
                    required:
                    - userId
                    - value
                    properties:
                      userId:
                        type: string
                        description: Unique identifier of the user.
                      value:
                        type: object
                        required:
                        - type
                        - val
                        properties:
                          type:
                            type: string
                            enum:
                            - string
                            description: Type of user attribute.
                          val:
                            type: string
                            description: Value of the user attribute.
                        description: The value of the user attribute
                        title: Attribute value
            examples:
              Request Example:
                value:
                  assignments:
                  - userId: mTwJbaYKQbBexvF4ZWGeRxuAmbGKm
                    value:
                      type: string
                      val: foo
                  - userId: mTwJbaYKQbBexvF4ZWGeRxuAmbGKn
                    value:
                      type: string
                      val: bar
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
  /v2/user-attributes/{userAttributeId}/users/{userId}:
    delete:
      summary: Delete a user attribute for a user
      description: 'Delete a specific user attribute for a specific user.


        ### Usage notes

        - Retrieve the **userAttributeId** by calling the /v2/user-attributes endpoint.

        - Retrieve the **userId** by calling the /v2/members endpoint and using the `memberId` included in the response.'
      parameters:
      - name: userAttributeId
        schema:
          type: string
          description: Unique identifier of the user attribute.
        in: path
        required: true
      - name: userId
        schema:
          type: string
          description: Unique identifier of the user.
        in: path
        required: true
      operationId: deleteUserAttributeForUser
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - User Attributes
components:
  responses:
    ApiError:
      description: Sigma API Error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              code:
                type: string
              requestId:
                type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v2/auth/token
          refreshUrl: /v2/auth/token
          scopes: {}
    OAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
  schemas:
    userAttributes_deleteUserAttribute_Response_200:
      type: object
      properties: {}
      title: userAttributes_deleteUserAttribute_Response_200
    V2UserAttributesPostResponsesContentApplicationJsonSchemaDefaultValueType:
      type: string
      enum:
      - string
      description: Type of user attribute.
      title: V2UserAttributesPostResponsesContentApplicationJsonSchemaDefaultValueType
    userAttributes_setUserAttributeForTeams_Response_200:
      type: object
      properties: {}
      title: userAttributes_setUserAttributeForTeams_Response_200
    V2UserAttributesUserAttributeIdTeamsGetResponsesContentApplicationJsonSchemaEntriesItemsValueType:
      type: string
      enum:
      - string
      description: Type of user attribute.
      title: V2UserAttributesUserAttributeIdTeamsGetResponsesContentApplicationJsonSchemaEntriesItemsValueType
    userAttributes_listUserAttributes_Response_200:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/V2UserAttributesGetResponsesContentApplicationJsonSchemaEntriesItems'
        nextPage:
          type:
          - string
          - 'null'
        total:
          type: number
          format: double
      required:
      - entries
      - nextPage
      title: userAttributes_listUserAttributes_Response_200
    userAttributes_createUserAttribute_Response_200:
      type: object
      properties:
        userAttributeId:
          type: string
          description: Unique identifier of the user attribute.
        name:
          type: string
          description: Name of the user attribute.
        createdBy:
          type: string
          description: The identifier of the user who created this object.
        updatedBy:
          type: string
          description: The identifier of the user or process that last updated this object.
        createdAt:
          type: string
          format: date-time
          description: When the object was created.
        updatedAt:
          type: string
          format: date-time
          description: When the object was last updated.
        description:
          type:
          - string
          - 'null'
          description: Description of the user attribute.
        defaultValue:
          oneOf:
          - $ref: '#/components/schemas/V2UserAttributesPostResponsesContentApplicationJsonSchemaDefaultValue'
          - type: 'null'
          description: Default value of the user attribute.
      required:
      - userAttributeId
      - name
      - createdBy
      - updatedBy
      - createdAt
      - updatedAt
      title: userAttributes_createUserAttribute_Response_200
    V2UserAttributesGetResponsesContentApplicationJsonSchemaEntriesItemsDefaultValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/V2UserAttributesGetResponsesContentApplicationJsonSchemaEntriesItemsDefaultValueType'
          description: Type of user attribute.
        val:
          type: string
          description: Value of the user attribute.
      required:
      - type
      - val
      description: Default value of the user attribute.
      title: V2UserAttributesGetResponsesContentApplicationJsonSchemaEntriesItemsDefaultValue
    V2UserAttributesPostRequestBodyContentApplicationJsonSchemaDefaultValueType:
      type: string
      enum:
      - string
      description: Type of user attribute.
      title: V2UserAttributesPostRequestBodyContentApplicationJsonSchemaDefaultValueType
    V2UserAttributesUserAttributeIdGetResponsesContentApplicationJsonSchemaDefaultValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdGetResponsesContentApplicationJsonSchemaDefaultValueType'
          description: Type of user attribute.
        val:
          type: string
          description: Value of the user attribute.
      required:
      - type
      - val
      description: Default value of the user attribute.
      title: V2UserAttributesUserAttributeIdGetResponsesContentApplicationJsonSchemaDefaultValue
    V2UserAttributesUserAttributeIdTeamsGetResponsesContentApplicationJsonSchemaEntriesItemsValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdTeamsGetResponsesContentApplicationJsonSchemaEntriesItemsValueType'
          description: Type of user attribute.
        val:
          type: string
          description: Value of the user attribute.
      required:
      - type
      - val
      description: Assigned value.
      title: V2UserAttributesUserAttributeIdTeamsGetResponsesContentApplicationJsonSchemaEntriesItemsValue
    V2UserAttributesUserAttributeIdTenantsGetResponsesContentApplicationJsonSchemaEntriesItemsValueType:
      type: string
      enum:
      - string
      description: Type of user attribute.
      title: V2UserAttributesUserAttributeIdTenantsGetResponsesContentApplicationJsonSchemaEntriesItemsValueType
    V2UserAttributesUserAttributeIdUsersPostRequestBodyContentApplicationJsonSchemaAssignmentsItems:
      type: object
      properties:
        userId:
          type: string
          description: Unique identifier of the user.
        value:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdUsersPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValue'
          description: The value of the user attribute
      required:
      - userId
      - value
      title: V2UserAttributesUserAttributeIdUsersPostRequestBodyContentApplicationJsonSchemaAssignmentsItems
    userAttributes_getUserAttributeUserAssignments_Response_200:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/V2UserAttributesUserAttributeIdUsersGetResponsesContentApplicationJsonSchemaEntriesItems'
        nextPage:
          type:
          - string
          - 'null'
        total:
          type: number
          format: double
      required:
      - entries
      - nextPage
      title: userAttributes_getUserAttributeUserAssignments_Response_200
    V2UserAttributesUserAttributeIdTeamsPostRequestBodyContentApplicationJsonSchemaAssignmentsItems:
      type: object
      properties:
        teamId:
          type: string
          description: Unique identifier of the team.
        value:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdTeamsPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValue'
          description: The value of the user attribute
      required:
      - teamId
      - value
      title: V2UserAttributesUserAttributeIdTeamsPostRequestBodyContentApplicationJsonSchemaAssignmentsItems
    V2UserAttributesUserAttributeIdUsersGetResponsesContentApplicationJsonSchemaEntriesItems:
      type: object
      properties:
        userId:
          type: string
          description: Unique identifier of the user.
        value:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdUsersGetResponsesContentApplicationJsonSchemaEntriesItemsValue'
          description: Assigned value.
        createdBy:
          type: string
          description: The identifier of the user who created this object.
        updatedBy:
          type: string
          description: The identifier of the user or process that last updated this object.
        createdAt:
          type: string
          format: date-time
          description: When the object was created.
        updatedAt:
          type: string
          format: date-time
          description: When the object was last updated.
      required:
      - userId
      - value
      - createdBy
      - updatedBy
      - createdAt
      - updatedAt
      title: V2UserAttributesUserAttributeIdUsersGetResponsesContentApplicationJsonSchemaEntriesItems
    V2UserAttributesGetResponsesContentApplicationJsonSchemaEntriesItems:
      type: object
      properties:
        userAttributeId:
          type: string
          description: Unique identifier of the user attribute.
        name:
          type: string
          description: Name of the user attribute.
        createdBy:
          type: string
          description: The identifier of the user who created this object.
        updatedBy:
          type: string
          description: The identifier of the user or process that last updated this object.
        createdAt:
          type: string
          format: date-time
          description: When the object was created.
        updatedAt:
          type: string
          format: date-time
          description: When the object was last updated.
        description:
          type:
          - string
          - 'null'
          description: Description of the user attribute.
        defaultValue:
          oneOf:
          - $ref: '#/components/schemas/V2UserAttributesGetResponsesContentApplicationJsonSchemaEntriesItemsDefaultValue'
          - type: 'null'
          description: Default value of the user attribute.
      required:
      - userAttributeId
      - name
      - createdBy
      - updatedBy
      - createdAt
      - updatedAt
      title: V2UserAttributesGetResponsesContentApplicationJsonSchemaEntriesItems
    V2UserAttributesUserAttributeIdTeamsGetResponsesContentApplicationJsonSchemaEntriesItems:
      type: object
      properties:
        teamId:
          type: string
          description: Unique identifier of the team.
        value:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdTeamsGetResponsesContentApplicationJsonSchemaEntriesItemsValue'
          description: Assigned value.
        priority:
          type: number
          format: double
          description: Priority of the assignment.
        createdBy:
          type: string
          description: The identifier of the user who created this object.
        updatedBy:
          type: string
          description: The identifier of the user or process that last updated this object.
        createdAt:
          type: string
          format: date-time
          description: When the object was created.
        updatedAt:
          type: string
          format: date-time
          description: When the object was last updated.
      required:
      - teamId
      - value
      - priority
      - createdBy
      - updatedBy
      - createdAt
      - updatedAt
      title: V2UserAttributesUserAttributeIdTeamsGetResponsesContentApplicationJsonSchemaEntriesItems
    V2UserAttributesUserAttributeIdTenantsPatchRequestBodyContentApplicationJsonSchemaDeleteItems:
      type: object
      properties:
        tenantOrganizationId:
          type: string
          description: The unique identifier of the tenant.
      required:
      - tenantOrganizationId
      title: V2UserAttributesUserAttributeIdTenantsPatchRequestBodyContentApplicationJsonSchemaDeleteItems
    V2UserAttributesUserAttributeIdTeamsPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValueType:
      type: string
      enum:
      - string
      description: Type of user attribute.
      title: V2UserAttributesUserAttributeIdTeamsPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValueType
    V2UserAttributesUserAttributeIdTenantsGetResponsesContentApplicationJsonSchemaEntriesItems:
      type: object
      properties:
        tenantOrganizationId:
          type: string
          description: Unique identifier of the tenant.
        value:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdTenantsGetResponsesContentApplicationJsonSchemaEntriesItemsValue'
          description: Assigned value.
        createdBy:
          type: string
          description: The identifier of the user who created this object.
        updatedBy:
          type: string
          description: The identifier of the user or process that last updated this object.
        createdAt:
          type: string
          format: date-time
          description: When the object was created.
        updatedAt:
          type: string
          format: date-time
          description: When the object was last updated.
      required:
      - tenantOrganizationId
      - value
      - createdBy
      - updatedBy
      - createdAt
      - updatedAt
      title: V2UserAttributesUserAttributeIdTenantsGetResponsesContentApplicationJsonSchemaEntriesItems
    userAttributes_deleteUserAttributeForTeam_Response_200:
      type: object
      properties: {}
      title: userAttributes_deleteUserAttributeForTeam_Response_200
    V2UserAttributesUserAttributeIdTenantsGetResponsesContentApplicationJsonSchemaEntriesItemsValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdTenantsGetResponsesContentApplicationJsonSchemaEntriesItemsValueType'
          description: Type of user attribute.
        val:
          type: string
          description: Value of the user attribute.
      required:
      - type
      - val
      description: Assigned value.
      title: V2UserAttributesUserAttributeIdTenantsGetResponsesContentApplicationJsonSchemaEntriesItemsValue
    V2UserAttributesPostResponsesContentApplicationJsonSchemaDefaultValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/V2UserAttributesPostResponsesContentApplicationJsonSchemaDefaultValueType'
          description: Type of user attribute.
        val:
          type: string
          description: Value of the user attribute.
      required:
      - type
      - val
      description: Default value of the user attribute.
      title: V2UserAttributesPostResponsesContentApplicationJsonSchemaDefaultValue
    V2UserAttributesUserAttributeIdGetResponsesContentApplicationJsonSchemaDefaultValueType:
      type: string
      enum:
      - string
      description: Type of user attribute.
      title: V2UserAttributesUserAttributeIdGetResponsesContentApplicationJsonSchemaDefaultValueType
    userAttributes_updateUserAttributeForTeams_Response_200:
      type: object
      properties: {}
      title: userAttributes_updateUserAttributeForTeams_Response_200
    userAttributes_getUserAttributeTeamAssignments_Response_200:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/V2UserAttributesUserAttributeIdTeamsGetResponsesContentApplicationJsonSchemaEntriesItems'
        nextPage:
          type:
          - string
          - 'null'
        total:
          type: number
          format: double
      required:
      - entries
      - nextPage
      title: userAttributes_getUserAttributeTeamAssignments_Response_200
    userAttributes_deleteUserAttributeForTenant_Response_200:
      type: object
      properties: {}
      title: userAttributes_deleteUserAttributeForTenant_Response_200
    userAttributes_setUserAttributeForTenants_Response_200:
      type: object
      properties: {}
      title: userAttributes_setUserAttributeForTenants_Response_200
    V2UserAttributesUserAttributeIdUsersPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdUsersPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValueType'
          description: Type of user attribute.
        val:
          type: string
          description: Value of the user attribute.
      required:
      - type
      - val
      description: The value of the user attribute
      title: V2UserAttributesUserAttributeIdUsersPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValue
    userAttributes_updateUserAttributeForTenants_Response_200:
      type: object
      properties: {}
      title: userAttributes_updateUserAttributeForTenants_Response_200
    V2UserAttributesUserAttributeIdUsersPatchRequestBodyContentApplicationJsonSchemaDeleteItems:
      type: object
      properties:
        userId:
          type: string
          description: The unique identifier of the user.
      required:
      - userId
      title: V2UserAttributesUserAttributeIdUsersPatchRequestBodyContentApplicationJsonSchemaDeleteItems
    userAttributes_getUserAttribute_Response_200:
      type: object
      properties:
        userAttributeId:
          type: string
          description: Unique identifier of the user attribute.
        name:
          type: string
          description: Name of the user attribute.
        createdBy:
          type: string
          description: The identifier of the user who created this object.
        updatedBy:
          type: string
          description: The identifier of the user or process that last updated this object.
        createdAt:
          type: string
          format: date-time
          description: When the object was created.
        updatedAt:
          type: string
          format: date-time
          description: When the object was last updated.
        description:
          type:
          - string
          - 'null'
          description: Description of the user attribute.
        defaultValue:
          oneOf:
          - $ref: '#/components/schemas/V2UserAttributesUserAttributeIdGetResponsesContentApplicationJsonSchemaDefaultValue'
          - type: 'null'
          description: Default value of the user attribute.
      required:
      - userAttributeId
      - name
      - createdBy
      - updatedBy
      - createdAt
      - updatedAt
      title: userAttributes_getUserAttribute_Response_200
    userAttributes_deleteUserAttributeForUser_Response_200:
      type: object
      properties: {}
      title: userAttributes_deleteUserAttributeForUser_Response_200
    V2UserAttributesUserAttributeIdUsersPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValueType:
      type: string
      enum:
      - string
      description: Type of user attribute.
      title: V2UserAttributesUserAttributeIdUsersPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValueType
    userAttributes_setUserAttributeForUsers_Response_200:
      type: object
      properties: {}
      title: userAttributes_setUserAttributeForUsers_Response_200
    V2UserAttributesUserAttributeIdUsersGetResponsesContentApplicationJsonSchemaEntriesItemsValueType:
      type: string
      enum:
      - string
      description: Type of user attribute.
      title: V2UserAttributesUserAttributeIdUsersGetResponsesContentApplicationJsonSchemaEntriesItemsValueType
    V2UserAttributesUserAttributeIdTenantsPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValueType:
      type: string
      enum:
      - string
      description: Type of user attribute.
      title: V2UserAttributesUserAttributeIdTenantsPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValueType
    V2UserAttributesUserAttributeIdTenantsPostRequestBodyContentApplicationJsonSchemaAssignmentsItems:
      type: object
      properties:
        tenantOrganizationId:
          type: string
          description: Unique identifier of the tenant.
        value:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdTenantsPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValue'
          description: The value of the user attribute
      required:
      - tenantOrganizationId
      - value
      title: V2UserAttributesUserAttributeIdTenantsPostRequestBodyContentApplicationJsonSchemaAssignmentsItems
    V2UserAttributesPostRequestBodyContentApplicationJsonSchemaDefaultValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/V2UserAttributesPostRequestBodyContentApplicationJsonSchemaDefaultValueType'
          description: Type of user attribute.
        val:
          type: string
          description: Value of the user attribute.
      required:
      - type
      - val
      description: Default value of the user attribute.
      title: V2UserAttributesPostRequestBodyContentApplicationJsonSchemaDefaultValue
    userAttributes_updateUserAttributeForUsers_Response_200:
      type: object
      properties: {}
      title: userAttributes_updateUserAttributeForUsers_Response_200
    V2UserAttributesGetResponsesContentApplicationJsonSchemaEntriesItemsDefaultValueType:
      type: string
      enum:
      - string
      description: Type of user attribute.
      title: V2UserAttributesGetResponsesContentApplicationJsonSchemaEntriesItemsDefaultValueType
    V2UserAttributesUserAttributeIdUsersGetResponsesContentApplicationJsonSchemaEntriesItemsValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdUsersGetResponsesContentApplicationJsonSchemaEntriesItemsValueType'
          description: Type of user attribute.
        val:
          type: string
          description: Value of the user attribute.
      required:
      - type
      - val
      description: Assigned value.
      title: V2UserAttributesUserAttributeIdUsersGetResponsesContentApplicationJsonSchemaEntriesItemsValue
    V2UserAttributesUserAttributeIdTeamsPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdTeamsPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValueType'
          description: Type of user attribute.
        val:
          type: string
          description: Value of the user attribute.
      required:
      - type
      - val
      description: The value of the user attribute
      title: V2UserAttributesUserAttributeIdTeamsPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValue
    V2UserAttributesUserAttributeIdTeamsPatchRequestBodyContentApplicationJsonSchemaDeleteItems:
      type: object
      properties:
        teamId:
          type: string
          description: Unique identifier of the team.
      required:
      - teamId
      title: V2UserAttributesUserAttributeIdTeamsPatchRequestBodyContentApplicationJsonSchemaDeleteItems
    V2UserAttributesUserAttributeIdTenantsPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValue:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/V2UserAttributesUserAttributeIdTenantsPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValueType'
          description: Type of user attribute.
        val:
          type: string
          description: Value of the user attribute.
      required:
      - type
      - val
      description: The value of the user attribute
      title: V2UserAttributesUserAttributeIdTenantsPostRequestBodyContentApplicationJsonSchemaAssignmentsItemsValue
    userAttributes_getUserAttributeTenantAssignments_Response_200:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/V2UserAttributesUserAttributeIdTenantsGetResponsesContentApplicationJsonSchemaEntriesItems'
        nextPage:
          type:
          - string
          - 'null'
        total:
          type: number
          format: double
      required:
      - entries
      - nextPage
      title: userAttributes_getUserAttributeTenantAssignments_Response_200
