openapi: 3.2.0
info:
  title: Sigma Computing Public REST Shared Templates API
  version: 2.0.0
  summary: The Sigma REST API provides developers access to resources programmatically, using HTTP.
  description: 'The Sigma REST API provides developers access to resources programmatically,

    using HTTP.'
  termsOfService: Contact Sigma
  contact:
    email: support@sigmacomputing.com
servers:
- url: https://api.sigmacomputing.com
  description: Server for GCP (US) hosted organizations
- url: https://api.sa.gcp.sigmacomputing.com
  description: Server for GCP (KSA) hosted organizations
- url: https://aws-api.sigmacomputing.com
  description: Server for AWS US (West) hosted organizations
- url: https://api.us-a.aws.sigmacomputing.com
  description: Server for AWS US (East) hosted organizations
- url: https://api.ca.aws.sigmacomputing.com
  description: Server for AWS Canada hosted organizations
- url: https://api.eu.aws.sigmacomputing.com
  description: Server for AWS Europe hosted organizations
- url: https://api.au.aws.sigmacomputing.com
  description: Server for AWS Australia and APAC hosted organizations
- url: https://api.uk.aws.sigmacomputing.com
  description: Server for AWS UK hosted organizations
- url: https://api.us.azure.sigmacomputing.com
  description: Server for Azure US hosted organizations
- url: https://api.eu.azure.sigmacomputing.com
  description: Server for Azure Europe hosted organizations
- url: https://api.ca.azure.sigmacomputing.com
  description: Server for Azure Canada hosted organizations
- url: https://api.uk.azure.sigmacomputing.com
  description: Server for Azure United Kingdom hosted organizations
- url: https://api.au.azure.sigmacomputing.com
  description: Server for Azure Australia hosted organizations
security:
- oauth2: []
tags:
- name: shared Templates
paths:
  /v2/shared_templates/{shareId}:
    delete:
      summary: Delete a template share
      description: 'Remove a template shared with your organization.


        **Usage notes**

        - Retrieve the **shareId** by calling the /v2/shared_templates/shared_with_you endpoint and using the `shareId` included in the response.'
      parameters:
      - name: shareId
        schema:
          type: string
        in: path
        required: true
      operationId: deleteExternalShare
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - shared Templates
  /v2/shared_templates/accept:
    post:
      summary: Accept a pending template share
      description: 'If a workbook template has been shared with your organization but not yet accepted, accept the template share.


        ### Usage notes

        - Retrieve pending template shares by calling the /v2/shared_templates/shared_with_you endpoint and specifying `pending` as `true`.

        - Retrieve the **shareId** by calling the /v2/shared_templates/shared_with_you endpoint and using the `shareId` included in the response.

        - Retrieve the **connectionId** by calling the /v2/connections endpoint.

        - Retrieve the **inodeId** for a table by calling the /v2/connections/{connectionId}/lookup endpoint.


        - The key of the **sourceSwaps** object is the original id of the table, dataset, or connection in the organization that shared the template'
      parameters: []
      operationId: acceptTemplateShare
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - shareId
                properties:
                  shareId:
                    type: string
              - type: object
                properties:
                  sourceSwaps:
                    type: object
                    additionalProperties:
                      oneOf:
                      - type: object
                        required:
                        - type
                        - newInodeId
                        - columns
                        - metrics
                        properties:
                          type:
                            type: string
                            enum:
                            - table
                          newInodeId:
                            type: string
                          columns:
                            type: object
                            additionalProperties:
                              type: string
                            description: Mapping from old column names to new column names. Leave blank to keep the same column names.
                          metrics:
                            type: object
                            additionalProperties:
                              type: string
                            description: Mapping from old metric names to new metric names. Leave blank to keep the same metric names.
                        description: ''
                        title: Table swap
                      - allOf:
                        - type: object
                          required:
                          - type
                          properties:
                            type:
                              type: string
                              enum:
                              - connection
                        - oneOf:
                          - type: object
                            required:
                            - newConnectionId
                            properties:
                              newConnectionId:
                                type: string
                          - type: object
                            required:
                            - newConnectionName
                            properties:
                              newConnectionName:
                                type: string
                        description: ''
                        title: Connection swap
                      description: ''
                      title: Old source id
                      type: object
                    description: ''
                    title: Source swaps
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - shared Templates
  /v2/shared_templates/shared_with_you:
    get:
      summary: List templates shared with your organization
      description: 'Lists all workbook templates shared with your organization.


        ### Usage notes

        - Use the `pending` parameter to identify templates that have been shared but not yet accepted.'
      parameters:
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      - name: pending
        schema:
          type: boolean
        in: query
      operationId: listTemplatesSharedWithYou
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - providerOrganizationId
                          - name
                          - shareId
                          - createdAt
                          properties:
                            providerOrganizationId:
                              type: string
                            name:
                              type: string
                            shareId:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                              description: When the template was shared with your organization.
                        - type: object
                          properties:
                            description:
                              type: string
                            pending:
                              type: boolean
                    nextPage:
                      type:
                      - string
                      - 'null'
                - type: object
                  properties:
                    total:
                      type: number
                    hasMore:
                      type: boolean
                      description: '**[Deprecated]** Indicates whether more results are available.'
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - shared Templates
components:
  responses:
    ApiError:
      description: Sigma API Error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              code:
                type: string
              requestId:
                type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /v2/auth/token
          refreshUrl: /v2/auth/token
          scopes: {}
    OAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 authentication
  schemas:
    V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps1:
      oneOf:
      - $ref: '#/components/schemas/V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps10'
      - $ref: '#/components/schemas/V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps11'
      title: V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps1
    V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwapsOneOf0Type:
      type: string
      enum:
      - table
      title: V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwapsOneOf0Type
    V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps11:
      type: object
      properties:
        newConnectionName:
          type: string
        type:
          $ref: '#/components/schemas/V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwapsOneOf1OneOf1Type'
      required:
      - newConnectionName
      - type
      title: V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps11
    V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps10:
      type: object
      properties:
        newConnectionId:
          type: string
        type:
          $ref: '#/components/schemas/V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwapsOneOf1OneOf0Type'
      required:
      - newConnectionId
      - type
      title: V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps10
    V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps:
      oneOf:
      - $ref: '#/components/schemas/V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps0'
      - $ref: '#/components/schemas/V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps1'
      title: V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps
    V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps0:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwapsOneOf0Type'
        newInodeId:
          type: string
        columns:
          type: object
          additionalProperties:
            type: string
          description: Mapping from old column names to new column names. Leave blank to keep the same column names.
        metrics:
          type: object
          additionalProperties:
            type: string
          description: Mapping from old metric names to new metric names. Leave blank to keep the same metric names.
      required:
      - type
      - newInodeId
      - columns
      - metrics
      title: V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwaps0
    V2SharedTemplatesSharedWithYouGetResponsesContentApplicationJsonSchemaEntriesItems:
      type: object
      properties:
        providerOrganizationId:
          type: string
        name:
          type: string
        shareId:
          type: string
        createdAt:
          type: string
          format: date-time
          description: When the template was shared with your organization.
        description:
          type: string
        pending:
          type: boolean
      required:
      - providerOrganizationId
      - name
      - shareId
      - createdAt
      title: V2SharedTemplatesSharedWithYouGetResponsesContentApplicationJsonSchemaEntriesItems
    V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwapsOneOf1OneOf1Type:
      type: string
      enum:
      - connection
      title: V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwapsOneOf1OneOf1Type
    sharedTemplates_listTemplatesSharedWithYou_Response_200:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/V2SharedTemplatesSharedWithYouGetResponsesContentApplicationJsonSchemaEntriesItems'
        nextPage:
          type:
          - string
          - 'null'
        total:
          type: number
          format: double
        hasMore:
          type: boolean
          description: '**[Deprecated]** Indicates whether more results are available.'
      required:
      - entries
      - nextPage
      title: sharedTemplates_listTemplatesSharedWithYou_Response_200
    sharedTemplates_deleteExternalShare_Response_200:
      type: object
      properties: {}
      title: sharedTemplates_deleteExternalShare_Response_200
    V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwapsOneOf1OneOf0Type:
      type: string
      enum:
      - connection
      title: V2SharedTemplatesAcceptPostRequestBodyContentApplicationJsonSchemaSourceSwapsOneOf1OneOf0Type
    sharedTemplates_acceptTemplateShare_Response_200:
      type: object
      properties: {}
      title: sharedTemplates_acceptTemplateShare_Response_200
