openapi: 3.2.0
info:
  title: Sigma Computing Members API
  version: '1.0'
  description: 'Operations tagged members across 2 of this provider''s published API definitions: sigma-computing-public-rest-api-openapi.json, sigma-computing-rest-api-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sigmacomputing.com
  description: Server for GCP (US) hosted organizations
- url: https://api.sa.gcp.sigmacomputing.com
  description: Server for GCP (KSA) hosted organizations
- url: https://aws-api.sigmacomputing.com
  description: Server for AWS US (West) hosted organizations
- url: https://api.us-a.aws.sigmacomputing.com
  description: Server for AWS US (East) hosted organizations
- url: https://api.ca.aws.sigmacomputing.com
  description: Server for AWS Canada hosted organizations
- url: https://api.eu.aws.sigmacomputing.com
  description: Server for AWS Europe hosted organizations
- url: https://api.au.aws.sigmacomputing.com
  description: Server for AWS Australia and APAC hosted organizations
- url: https://api.uk.aws.sigmacomputing.com
  description: Server for AWS UK hosted organizations
- url: https://api.us.azure.sigmacomputing.com
  description: Server for Azure US hosted organizations
- url: https://api.eu.azure.sigmacomputing.com
  description: Server for Azure Europe hosted organizations
- url: https://api.ca.azure.sigmacomputing.com
  description: Server for Azure Canada hosted organizations
- url: https://api.uk.azure.sigmacomputing.com
  description: Server for Azure United Kingdom hosted organizations
- url: https://api.au.azure.sigmacomputing.com
  description: Server for Azure Australia hosted organizations
tags:
- name: members
paths:
  /v2/members:
    get:
      summary: List members
      description: "\n  **Attention**: This endpoint will return only paginated responses starting June 2, 2026. To start returning paginated responses before that date, include the query parameter `limit` in your request.\n\n  List all users in Sigma.\n\n  ### Usage notes\n  - Filter your results using the `email` query parameter.\n  - If using `email` to filter by email address, you must URL encode the \"@\" character as `%40`.\n  - **[Deprecated]** Using the `search` parameter is deprecated. If using `search` to filter by email address, you must URL encode the \"@\" character as `%40`.\n  - Using `email` and `search` together is not supported.\n  "
      parameters:
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      - name: search
        schema:
          type: string
          description: '**[Deprecated]** Use the `email` query parameter instead.'
        in: query
      - name: email
        schema:
          type: string
          description: Filter by email address. You must URL encode the "@" character as `%40`.
        in: query
      - name: includeArchived
        schema:
          type: boolean
        in: query
      - name: includeInactive
        schema:
          type: boolean
        in: query
      operationId: listMembers
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                oneOf:
                - type: array
                  items:
                    allOf:
                    - type: object
                      required:
                      - organizationId
                      - memberId
                      - memberType
                      - firstName
                      - lastName
                      - email
                      - profileImgUrl
                      - createdBy
                      - updatedBy
                      - createdAt
                      - updatedAt
                      - homeFolderId
                      - userKind
                      properties:
                        organizationId:
                          type: string
                        memberId:
                          type: string
                        memberType:
                          type: string
                        firstName:
                          type: string
                        lastName:
                          type: string
                        email:
                          type: string
                        profileImgUrl:
                          type:
                          - string
                          - 'null'
                        createdBy:
                          type: string
                        updatedBy:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        homeFolderId:
                          type: string
                          description: ID of the My Documents folder for the user
                        userKind:
                          type: string
                    - type: object
                      properties:
                        isArchived:
                          type: boolean
                          description: Whether a user is deactivated in Sigma.
                        isInactive:
                          type: boolean
                          description: Whether a user is archived by SCIM.
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - organizationId
                          - memberId
                          - memberType
                          - firstName
                          - lastName
                          - email
                          - profileImgUrl
                          - createdBy
                          - updatedBy
                          - createdAt
                          - updatedAt
                          - homeFolderId
                          - userKind
                          properties:
                            organizationId:
                              type: string
                            memberId:
                              type: string
                            memberType:
                              type: string
                            firstName:
                              type: string
                            lastName:
                              type: string
                            email:
                              type: string
                            profileImgUrl:
                              type:
                              - string
                              - 'null'
                            createdBy:
                              type: string
                            updatedBy:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                            homeFolderId:
                              type: string
                              description: ID of the My Documents folder for the user
                            userKind:
                              type: string
                        - type: object
                          properties:
                            isArchived:
                              type: boolean
                              description: Whether a user is deactivated in Sigma.
                            isInactive:
                              type: boolean
                              description: Whether a user is archived by SCIM.
                    nextPage:
                      type:
                      - string
                      - 'null'
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - members
      security:
      - oauth2: []
    post:
      summary: Create a member
      description: "Create a user.\n\n  ### Usage notes\n  - Creating a user with this endpoint sends an email invitation to the user. Embed users are not sent email invitations.\n  - Review the account types returned by the [/v2/members](https://help.sigmacomputing.com/reference/list-members) endpoint to understand the format of the **memberType** string.\n  - If **memberType** is omitted, the organization's Invitation default account type (configured in Admin > Account types) is used. If no Invitation default is configured, a built-in default account type is used.\n  - Retrieve the **teamId**(s) by calling the [/v2/teams](https://help.sigmacomputing.com/reference/list-teams) endpoints.\n    "
      parameters:
      - name: sendInvite
        schema:
          type: boolean
          description: Whether to send an email invitation for non-embed users. If not included, an email is sent
          title: Send Invite
        in: query
      operationId: createMember
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - email
                - firstName
                - lastName
                properties:
                  email:
                    type: string
                    format: email
                  firstName:
                    type: string
                  lastName:
                    type: string
              - type: object
                properties:
                  memberType:
                    type: string
                    description: Account type
                  isGuest:
                    type: boolean
                  userKind:
                    type: string
                    enum:
                    - internal
                    - guest
                    - embed
                  addToTeams:
                    type: array
                    items:
                      allOf:
                      - type: object
                        required:
                        - teamId
                        properties:
                          teamId:
                            type: string
                      - type: object
                        properties:
                          isTeamAdmin:
                            type: boolean
                        description: Whether to set the user as an admin for this team.
                    description: Add user to one or more teams.
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - organizationId
                  - memberId
                  - memberType
                  - firstName
                  - lastName
                  - email
                  - profileImgUrl
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  - homeFolderId
                  - userKind
                  properties:
                    organizationId:
                      type: string
                    memberId:
                      type: string
                    memberType:
                      type: string
                    firstName:
                      type: string
                    lastName:
                      type: string
                    email:
                      type: string
                    profileImgUrl:
                      type:
                      - string
                      - 'null'
                    createdBy:
                      type: string
                    updatedBy:
                      type: string
                    createdAt:
                      type: string
                      format: date-time
                    updatedAt:
                      type: string
                      format: date-time
                    homeFolderId:
                      type: string
                      description: ID of the My Documents folder for the user
                    userKind:
                      type: string
                - type: object
                  properties:
                    isArchived:
                      type: boolean
                      description: Whether a user is deactivated in Sigma.
                    isInactive:
                      type: boolean
                      description: Whether a user is archived by SCIM.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - members
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/members/{memberId}:
    get:
      summary: Get member
      description: "Returns a specific user by member ID.\n\n### Usage notes\n- Retrieve the **memberId** by calling the [/v2/members](https://help.sigmacomputing.com/reference/list-members) endpoint.\n  "
      parameters:
      - name: memberId
        schema:
          type: string
        in: path
        required: true
      operationId: getMember
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - organizationId
                  - memberId
                  - memberType
                  - firstName
                  - lastName
                  - email
                  - profileImgUrl
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  - homeFolderId
                  - userKind
                  properties:
                    organizationId:
                      type: string
                    memberId:
                      type: string
                    memberType:
                      type: string
                    firstName:
                      type: string
                    lastName:
                      type: string
                    email:
                      type: string
                    profileImgUrl:
                      type:
                      - string
                      - 'null'
                    createdBy:
                      type: string
                    updatedBy:
                      type: string
                    createdAt:
                      type: string
                      format: date-time
                    updatedAt:
                      type: string
                      format: date-time
                    homeFolderId:
                      type: string
                      description: ID of the My Documents folder for the user
                    userKind:
                      type: string
                - type: object
                  properties:
                    isArchived:
                      type: boolean
                      description: Whether a user is deactivated in Sigma.
                    isInactive:
                      type: boolean
                      description: Whether a user is archived by SCIM.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - members
      security:
      - oauth2: []
    patch:
      summary: Update member
      description: "Update a specific user by memberId.\n\n  ### Usage notes\n  - Retrieve the **memberId** by calling the [/v2/members](https://help.sigmacomputing.com/reference/list-members) endpoint.\n  - Review the account types returned by the same endpoint to understand the format of the **memberType** string.\n  - To deactivate a user and reassign their documents to a specific user, set  `newOwnerId`to the user ID of the desired document owner, and `isArchived` to `True`. For more details, see [Deactivate a user](/docs/deactivate-users).\n    "
      parameters:
      - name: memberId
        schema:
          type: string
        in: path
        required: true
      operationId: updateMember
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              properties:
                memberType:
                  type: string
                  description: Account type
                firstName:
                  type: string
                lastName:
                  type: string
                profileImgUrl:
                  type:
                  - string
                  - 'null'
                email:
                  type: string
                isArchived:
                  type: boolean
                  description: Whether to deactivate a user in Sigma.
                isInactive:
                  type: boolean
                  description: Whether to archive a user with SCIM.
                userKind:
                  type: string
                  enum:
                  - internal
                  - guest
                  - embed
                newOwnerId:
                  type: string
                archiveDocuments:
                  type: boolean
                  description: Archive a user's documents instead of transferring them. Can only be used if either `isArchived` or `isInactive` is set to `true`. Also archives scheduled exports.
                archiveScheduledExports:
                  type: boolean
                  description: Archive a user's scheduled exports instead of transferring them. Can only be used if either `isArchived` or `isInactive` is set to `true`
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - organizationId
                  - memberId
                  - memberType
                  - firstName
                  - lastName
                  - email
                  - profileImgUrl
                  - createdBy
                  - updatedBy
                  - createdAt
                  - updatedAt
                  - homeFolderId
                  - userKind
                  properties:
                    organizationId:
                      type: string
                    memberId:
                      type: string
                    memberType:
                      type: string
                    firstName:
                      type: string
                    lastName:
                      type: string
                    email:
                      type: string
                    profileImgUrl:
                      type:
                      - string
                      - 'null'
                    createdBy:
                      type: string
                    updatedBy:
                      type: string
                    createdAt:
                      type: string
                      format: date-time
                    updatedAt:
                      type: string
                      format: date-time
                    homeFolderId:
                      type: string
                      description: ID of the My Documents folder for the user
                    userKind:
                      type: string
                - type: object
                  properties:
                    isArchived:
                      type: boolean
                      description: Whether a user is deactivated in Sigma.
                    isInactive:
                      type: boolean
                      description: Whether a user is archived by SCIM.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - members
      security:
      - oauth2: []
    delete:
      summary: Deactivate member
      description: "Deactivate a specific user by memberId. Users cannot be fully deleted, only deactivated. The deactivated user's documents are reassigned to the user associated with the API client credentials. For more information, see [Deactivate users](/docs/deactivate-users).\n\n### Usage notes\n- Retrieve the **memberId** by calling the [/v2/members](https://help.sigmacomputing.com/reference/list-members) endpoint.\n- The user is directly marked **archived** by this API. See [Deactivate users](/docs/deactivate-users) for more details on deactivation.\n\n### Usage scenarios\n- **User offboarding**: Manage your user base by efficiently offboarding users after they leave your organization.\n\n### Best practices\n- **Confirm memberId**: Before deactivating a user, make sure the memberId is correct.\n- Do **not** use this for members provisioned through SCIM.\n  "
      parameters:
      - name: memberId
        schema:
          type: string
        in: path
        required: true
      operationId: deleteMember
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - members
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/members/{memberId}/files:
    get:
      summary: List member files
      description: "List all documents and folders accessible to a specific user.\n\n  ### Usage notes\n  - Retrieve the **memberId** by calling the [/v2/members](https://help.sigmacomputing.com/reference/list-members) endpoint.\n  - Filter to documents with specific permissions granted on them, or to specific types of documents like workbooks, workbook templates, data models, datasets (deprecated), reports, workspaces, database tables, and others.\n    "
      parameters:
      - name: memberId
        schema:
          type: string
        in: path
        required: true
      - name: name
        schema:
          type: string
        in: query
      - name: permissionFilter
        schema:
          oneOf:
          - type: string
            enum:
            - view
            - explore
            - edit
            description: ''
            title: Workbook Permission
          - type: string
            enum:
            - view
            - explore
            - organize
            - edit
            description: Choose **organize** for Can Contribute permissions or **edit** for Can Manage permissions.
            title: Folder Permission
        in: query
      - name: typeFilters
        schema:
          oneOf:
          - type: array
            items:
              type: string
              enum:
              - workspace
              - folder
              - workbook
              - dataset
              - data-model
              - sql
              - worksheet
              - dashboard
              - template
              - table
              - symlink
              - report
            description: '**Note**: Workspaces are not returned as part of the response. To retrieve a workspace, use the **Single Document Type**.'
            title: Multiple Document Types
          - type: string
            enum:
            - workspace
            - folder
            - workbook
            - dataset
            - data-model
            - sql
            - worksheet
            - dashboard
            - template
            - table
            - symlink
            - report
            description: ''
            title: Single Document Type
        in: query
      - name: page
        schema:
          type: string
        in: query
      - name: limit
        schema:
          type: number
        in: query
      - name: parentId
        schema:
          type: string
          description: Parent folder
        in: query
      - name: directChildFilter
        schema:
          type: boolean
        in: query
      operationId: listAccessibleInodes
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - id
                          - urlId
                          - name
                          - type
                          - parentId
                          - parentUrlId
                          - permission
                          - path
                          - badge
                          - isArchived
                          properties:
                            id:
                              type: string
                            urlId:
                              type: string
                            name:
                              type: string
                            type:
                              type: string
                              enum:
                              - workspace
                              - folder
                              - workbook
                              - dataset
                              - data-model
                              - sql
                              - worksheet
                              - dashboard
                              - template
                              - table
                              - symlink
                              - report
                            parentId:
                              type: string
                            parentUrlId:
                              type: string
                            permission:
                              type: string
                              enum:
                              - create
                              - annotate
                              - organize
                              - explore
                              - view
                              - edit
                              - apply
                            path:
                              type: string
                            badge:
                              type:
                              - string
                              - 'null'
                            isArchived:
                              type: boolean
                        - type: object
                          properties:
                            description:
                              type: string
                            ownerId:
                              type:
                              - string
                              - 'null'
                            parentSourceUrlId:
                              type: string
                              description: For a document deployed to a tenant organization, the `urlId` of the source document in the parent organization. Only present when the document was deployed from a parent organization. The source document can be a workbook, template, data model, dataset, or report.
                              title: Parent Source URL ID
                        - type: object
                          required:
                          - createdBy
                          - updatedBy
                          - createdAt
                          - updatedAt
                          properties:
                            createdBy:
                              type: string
                              description: The identifier of the user who created this object.
                            updatedBy:
                              type: string
                              description: The identifier of the user or process that last updated this object.
                            createdAt:
                              type: string
                              format: date-time
                              description: When the object was created.
                            updatedAt:
                              type: string
                              format: date-time
                              description: When the object was last updated.
                      description: Array of results returned by the endpoint
                    nextPage:
                      type:
                      - string
                      - 'null'
                      description: Returns a string that can be used as the `page` parameter in the next request to fetch the next page of results. The last page of results returns `null`.
                - type: object
                  properties:
                    total:
                      type: number
                      description: Total number of results. Useful to determine if there is a need to paginate.
                    hasMore:
                      type: boolean
                      description: '**[Deprecated]** Indicates whether more results are available.'
              examples:
                Response Example:
                  value:
                    entries:
                    - id: 00000000-0000-0000-0000-000000000000
                      urlId: 57a96EMo3GVJG73179MV2l
                      name: Examples
                      description: Examples description
                      type: folder
                      parentId: 00000000-0000-0000-0000-000000000001
                      parentUrlId: 57a96EMo3GVJG73179MV2G
                      permission: edit
                      path: My Documents/Examples
                      badge: Endorsed
                      ownerId: <memberId>
                      createdBy: <memberId>
                      updatedBy: <memberId>
                      createdAt: '2022-11-22T22:33:47.323Z'
                      updatedAt: '2022-11-22T22:33:47.323Z'
                      isArchived: false
                    hasMore: false
                    total: 1
                    nextPage: null
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - members
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/members/{memberId}/files/favorites:
    get:
      summary: List all favorite documents of a member
      description: "List the favorite documents for a specific user.\n\n  ### Usage notes\n  - Retrieve the **memberId** by calling the [/v2/members](https://help.sigmacomputing.com/reference/list-members) endpoint.\n    "
      parameters:
      - name: memberId
        schema:
          type: string
        in: path
        required: true
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      operationId: listFavoriteInodes
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - type: object
                          required:
                          - id
                          - urlId
                          - name
                          - type
                          - parentId
                          - parentUrlId
                          - permission
                          - path
                          - badge
                          - isArchived
                          properties:
                            id:
                              type: string
                            urlId:
                              type: string
                            name:
                              type: string
                            type:
                              type: string
                              enum:
                              - workspace
                              - folder
                              - workbook
                              - dataset
                              - data-model
                              - sql
                              - worksheet
                              - dashboard
                              - template
                              - table
                              - symlink
                              - report
                            parentId:
                              type: string
                            parentUrlId:
                              type: string
                            permission:
                              type: string
                              enum:
                              - create
                              - annotate
                              - organize
                              - explore
                              - view
                              - edit
                              - apply
                            path:
                              type: string
                            badge:
                              type:
                              - string
                              - 'null'
                            isArchived:
                              type: boolean
                        - type: object
                          properties:
                            description:
                              type: string
                            ownerId:
                              type:
                              - string
                              - 'null'
                            parentSourceUrlId:
                              type: string
                              description: For a document deployed to a tenant organization, the `urlId` of the source document in the parent organization. Only present when the document was deployed from a parent organization. The source document can be a workbook, template, data model, dataset, or report.
                              title: Parent Source URL ID
                        - type: object
                          required:
                          - createdBy
                          - updatedBy
                          - createdAt
                          - updatedAt
                          properties:
                            createdBy:
                              type: string
                              description: The identifier of the user who created this object.
                            updatedBy:
                              type: string
                              description: The identifier of the user or process that last updated this object.
                            createdAt:
                              type: string
                              format: date-time
                              description: When the object was created.
                            updatedAt:
                              type: string
                              format: date-time
                              description: When the object was last updated.
                      description: Array of results returned by the endpoint
                    nextPage:
                      type:
                      - string
                      - 'null'
                      description: Returns a string that can be used as the `page` parameter in the next request to fetch the next page of results. The last page of results returns `null`.
                - type: object
                  properties:
                    total:
                      type: number
                      description: Total number of results. Useful to determine if there is a need to paginate.
                    hasMore:
                      type: boolean
                      description: '**[Deprecated]** Indicates whether more results are available.'
              examples:
                Response Example:
                  value:
                    entries:
                    - id: 00000000-0000-0000-0000-000000000000
                      urlId: 57a96EMo3GVJG73179MV2l
                      name: Examples
                      description: Examples description
                      type: folder
                      parentId: 00000000-0000-0000-0000-000000000001
                      parentUrlId: 57a96EMo3GVJG73179MV2G
                      permission: edit
                      path: My Documents/Examples
                      badge: Endorsed
                      ownerId: <memberId>
                      createdBy: <memberId>
                      updatedBy: <memberId>
                      createdAt: '2022-11-22T22:33:47.323Z'
                      updatedAt: '2022-11-22T22:33:47.323Z'
                      isArchived: false
                    hasMore: false
                    total: 1
                    nextPage: null
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - members
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/members/{memberId}/files/recents:
    get:
      summary: List recent files for a member
      description: "List all recent documents and folders accessible to a specific user. By default, ignores explorations in the returned list.\n\n  ### Usage notes\n  - Retrieve the **memberId** by calling the [/v2/members](https://help.sigmacomputing.com/reference/list-members) endpoint.\n    "
      parameters:
      - name: memberId
        schema:
          type: string
        in: path
        required: true
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      - name: includeExplorations
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          description: Include explorations in the response.
          title: Include Explorations
        in: query
      operationId: listRecentInodes
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        allOf:
                        - allOf:
                          - type: object
                            required:
                            - id
                            - urlId
                            - name
                            - type
                            - parentId
                            - parentUrlId
                            - permission
                            - path
                            - badge
                            - isArchived
                            properties:
                              id:
                                type: string
                              urlId:
                                type: string
                              name:
                                type: string
                              type:
                                type: string
                                enum:
                                - workspace
                                - folder
                                - workbook
                                - dataset
                                - data-model
                                - sql
                                - worksheet
                                - dashboard
                                - template
                                - table
                                - symlink
                                - report
                              parentId:
                                type: string
                              parentUrlId:
                                type: string
                              permission:
                                type: string
                                enum:
                                - create
                                - annotate
                                - organize
                                - explore
                                - view
                                - edit
                                - apply
                              path:
                                type: string
                              badge:
                                type:
                                - string
                                - 'null'
                              isArchived:
                                type: boolean
                          - type: object
                            properties:
                              description:
                                type: string
                              ownerId:
                                type:
                                - string
                                - 'null'
                              parentSourceUrlId:
                                type: string
                                description: For a document deployed to a tenant organization, the `urlId` of the source document in the parent organization. Only present when the document was deployed from a parent organization. The source document can be a workbook, template, data model, dataset, or report.
                                title: Parent Source URL ID
                          - type: object
                            required:
                            - createdBy
                            - updatedBy
                            - createdAt
                            - updatedAt
                            properties:
                              createdBy:
                                type: string
                                description: The identifier of the user who created this object.
                              updatedBy:
                                type: string
                                description: The identifier of the user or process that last updated this object.
                              createdAt:
                                type: string
                                format: date-time
                                description: When the object was created.
                              updatedAt:
                                type: string
                                format: date-time
                                description: When the object was last updated.
                        - type: object
                          properties:
                            lastInteractionAt:
                              type: string
                              format: date-time
                      description: Array of results returned by the endpoint
                    nextPage:
                      type:
                      - string
                      - 'null'
                      description: Returns a string that can be used as the `page` parameter in the next request to fetch the next page of results. The last page of results returns `null`.
                - type: object
                  properties:
                    total:
                      type: number
                      description: Total number of results. Useful to determine if there is a need to paginate.
                    hasMore:
                      type: boolean
                      description: '**[Deprecated]** Indicates whether more results are available.'
              examples:
                Response Example:
                  value:
                    entries:
                    - id: 00000000-0000-0000-0000-000000000000
                      urlId: 57a96EMo3GVJG73179MV2l
                      name: Examples
                      description: Examples description
                      type: folder
                      parentId: 00000000-0000-0000-0000-000000000001
                      parentUrlId: 57a96EMo3GVJG73179MV2G
                      permission: edit
                      path: My Documents/Examples
                      badge: Endorsed
                      ownerId: <memberId>
                      createdBy: <memberId>
                      updatedBy: <memberId>
                      createdAt: '2022-11-22T22:33:47.323Z'
                      updatedAt: '2022-11-22T22:33:47.323Z'
                      isArchived: false
                      lastInteractionAt: '2023-11-22T22:33:47.323Z'
                    hasMore: false
                    total: 1
                    nextPage: null
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - members
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/members/{memberId}/revoke:
    post:
      summary: Revoke a user's OAuth tokens
      description: "Revoke a user's OAuth refresh tokens used for OIDC single sign-on and warehouse connections, so Sigma can no longer issue new access tokens on the user's behalf.\n\nAfter making a request to this endpoint, refresh tokens are revoked immediately. However, a user's existing session is not interrupted. Already-issued access tokens lapse at their normal TTL.\n\n### Usage notes\n- Retrieve the **memberId** by calling the [/v2/members](https://help.sigmacomputing.com/reference/list-members) endpoint.\n- You must use API credentials owned by a user assigned the Admin account type.\n  "
      parameters:
      - name: memberId
        schema:
          type: string
        in: path
        required: true
      operationId: revokeMemberTokens
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                type: object
                required:
                - memberId
                - results
                properties:
                  memberId:
                    type: string
                    description: Unique identifier of the user whose tokens were revoked.
                  results:
                    type: object
                    required:
                    - oauth
                    properties:
                      oauth:
                        type: object
                        required:
                        - tokensRevoked
                        properties:
                          tokensRevoked:
                            type: number
                            description: Number of refresh tokens revoked.
                    description: Revocation result per token type.
        default:
          $ref: '#/components/responses/ApiError'
      externalDocs:
        url: ''
        description: 'Sigma API documentation:'
      tags:
      - members
      security:
      - oauth2: []
    servers:
    - url: https://api.sigmacomputing.com
      description: Server for GCP (US) hosted organizations
    - url: https://api.sa.gcp.sigmacomputing.com
      description: Server for GCP (KSA) hosted organizations
    - url: https://aws-api.sigmacomputing.com
      description: Server for AWS US (West) hosted organizations
    - url: https://api.us-a.aws.sigmacomputing.com
      description: Server for AWS US (East) hosted organizations
    - url: https://api.ca.aws.sigmacomputing.com
      description: Server for AWS Canada hosted organizations
    - url: https://api.eu.aws.sigmacomputing.com
      description: Server for AWS Europe hosted organizations
    - url: https://api.au.aws.sigmacomputing.com
      description: Server for AWS Australia and APAC hosted organizations
    - url: https://api.uk.aws.sigmacomputing.com
      description: Server for AWS UK hosted organizations
    - url: https://api.us.azure.sigmacomputing.com
      description: Server for Azure US hosted organizations
    - url: https://api.eu.azure.sigmacomputing.com
      description: Server for Azure Europe hosted organizations
    - url: https://api.ca.azure.sigmacomputing.com
      description: Server for Azure Canada hosted organizations
    - url: https://api.uk.azure.sigmacomputing.com
      description: Server for Azure United Kingdom hosted organizations
    - url: https://api.au.azure.sigmacomputing.com
      description: Server for Azure Australia hosted organizations
  /v2/members/{memberId}/schedules:
    get:
      summary: List scheduled exports for a user
      description: "Retrieve all scheduled exports owned by a specific user across all workbooks and reports that they have access to.\n\n### Usage notes\n- Retrieve the **memberId** by calling the [/v2/members](https://help.sigmacomputing.com/reference/list-members) endpoint.\n- To perform this operation for another user, you must use API credentials owned by a user assigned the Admin account type.\n- Non-admin users can only retrieve their own schedules.\n- To retrieve scheduled exports for a specific workbook, call the [/v2/workbooks/{workbookId}/schedules](https://help.sigmacomputing.com/reference/list-workbook-schedules) endpoint.\n\n### Usage scenarios\n- **User dashboard:** Display all scheduled exports owned by a user in a centralized dashboard.\n- **Scheduled export management:** Allow users to view and manage all their scheduled exports across different workbooks and reports.\n- **Audit and compliance:** Review all scheduled exports created by a specific user for governance purposes.\n- **Cross-user management:** Admins can view and manage schedules on behalf of other users.\n  "
      parameters:
      - name: memberId
        schema:
          type: string
        in: path
        required: true
      - name: page
        schema:
          type: string
          description: Use to specify further pages using the string returned in the nextPage portion of the response.
          title: Page
        in: query
      - name: limit
        schema:
          type: number
          description: Number of results to return per page, with a maximum of 1,000 per request. Use the `page` option in subsequent requests to retrieve the next set of results.
          title: Limit
        in: query
      operationId: listMemberSchedules
      responses:
        '200':
          description: The response body.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - entries
                  - nextPage
                  properties:
                    entries:
                      type: array
                      items:
                        oneOf:
                        - allOf:
                          - type: object
                            required:
                            - scheduledNotificationId
                            - workbookId
                            - schedule
                            - configV2
                            - isSuspended
                            - ownerId
                            - lastUpdatedByUser
                            - disabledAt
                            - disabledBy
                            properties:
                              scheduledNotificationId:
                                type: string
                                description: Unique identifier of the scheduled export.
                                title: Schedule ID
                              workbookId:
                                type: string
                                description: Unique identifier of the workbook.
                                title: Workbook ID
                              schedule:
                                type: object
                                required:
                                - cronSpec
                                - timezone
                                properties:
                                  cronSpec:
                                    type: string
                                    description: A [cron expression](https://en.wikipedia.org/wiki/Cron). For example, `0 0 * * *`.
                                  timezone:
                                    type: string
                                    description: An [IANA timezone name](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For example, `America/Los_Angeles`.
                              configV2:
                                allOf:
                                - type: object
                                  required:
                                  - title
                                  - messageBody
                                  - notificationAttachments
                                  properties:
                                    title:
                                      type: string
                                    messageBody:
                                      type: string
                                    notificationAttachments:
                                      type: array
                                      items:
                                        allOf:
                                        - type: object
                                          required:
                                          - formatOptions
                                          properties:
                                            formatOptions:
                                              oneOf:
                                              - type: object
                                                required:
                                                - type
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - CSV
                                              - type: object
                                                required:
                                                - type
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - JSON
                                              - type: object
                                                required:
                                                - type
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - JSONL
                                              - type: object
                                                required:
                                                - type
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - EXCEL
                                              - allOf:
                                                - type: object
                                                  required:
                                                  - type
                                                  properties:
                                                    type:
                                                      type: string
                                                      enum:
                                                      - PDF
                                                - type: object
                                                  properties:
                                                    layout:
                                                      type: string
                                                      enum:
                                                      - portrait
                                                      - landscape
                                                    scaleFactor:
                                                      type: number
                                              - allOf:
                                                - type: object
                                                  required:
                                                  - type
                                                  properties:
                                                    type:
                                                      type: string
                                                      enum:
                                                      - PNG
                                                - type: object
                                                  properties:
                                                    pixelWidth:
                                                      type:
                                                      - number
                                                      - 'null'
                                                    pixelHeight:
                                                      type:
                                                      - number
                                                      - 'null'
                                              - type: object
                                                required:
                                                - type
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - NONE
                                        - type: object
                                          properties:
                                            chartId:
                                              type: string
                                            workbookExportSource:
                                              oneOf:
                                              - type: object
                                                required:
                                                - type
                                                - elementId
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - element
                                                  elementId:
                                                    type: string
                                                description: Export one element
                                                title: One element
                                              - type: object
                                                required:
                                                - type
                                                - pageId
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - page
                                                  pageId:
                                                    type: string
                                                description: Export one page
                                                title: One page
                                              - type: object
                                                required:
                                                - type
                                                - nodeIds
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - element
                                                  nodeIds:
                                                    type: array
                                                    items:
                                                      type: string
                                                description: Export multiple elements
                                                title: Multiple elements
                                              - type: object
                                                required:
                                                - type
                                                - nodeIds
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - page
                                                  nodeIds:
                                                    type: array
                                                    items:
                                                      type: string
                                                description: Export multiple pages
                                                title: Multiple pages
                                              - type: object
                                                required:
                                                - type
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - all
                                                description: Export all pages and elements in a workbook
                                                title: Entire workbook
                                - type: object
                                  properties:
                                    includeLink:
                                      type: boolean
                                    runAsRecipient:
                                      type: boolean
                                    attachmentSettings:
                                      type: object
                                      properties:
                                        mergePdfAttachments:
                                          type: boolean
                                        zipAttachments:
                                          type: boolean
                                    conditionOptions:
                                      oneOf:
                                      - type: object
                                        required:
                                        - type
                                        properties:
                                          type:
                                            type: string
                                            enum:
                                            - always
                                      - type: object
                                        required:
                                        - type
                                        - conditions
                                        properties:
                                          type:
                                            type: string
                                            enum:
                                            - workbook
                                          conditions:
                                            type: array
                                            items:
                                              oneOf:
                                              - type: object
                                                required:
                                                - type
                                                - sheetId
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - isEmpty
                                                  sheetId:
                                                    type: string
                                              - type: object
                                                required:
                                                - type
                                                - sheetId
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - isNotEmpty
                                                  sheetId:
                                                    type: string
                                              - allOf:
                                                - type: object
                                                  required:
                                                  - type
                                                  - sheetId
                                                  - mode
                                                  - columnId
                                                  - op
                                                  properties:
                                                    type:
                                                      type: string
                                                      enum:
                                                      - sheetColumn
                                                    sheetId:
                                                      type: string
                                                    mode:
                                                      oneOf:
                                                      - type: string
                                                        enum:
                                                        - any
                                                      - type: string
                                                        enum:
                                                        - all
                                                    columnId:
                                                      type: string
                                                    op:
                                                      type: string
                                                      enum:
                                                      - Equals
                                                      - GreaterThan
                                                      - GreaterThanEq
                                                      - LessThan
                                                      - LessThanEq
                                                      - NotEquals
                                                      - IsNotNull
                                                      - IsNull
                                                      - Contains
                                                      - StartsWith
                                                      - EndsWith
                                                - type: object
                                                  properties:
                                                    value:
                                                      oneOf:
                                                      - type: object
                                                        required:
                                                        - type
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - 'null'
                                                      - type: object
                                                        required:
                                                        - type
                                                        - val
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - bool
                                                          val:
                                                            type: boolean
                                                      - type: object
                                                        required:
                                                        - type
                                                        - val
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - number
                                                          val:
                                                            type: number
                                                      - type: object
                                                        required:
                                                        - type
                                                        - val
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - integer
                                                          val:
                                                            type: string
                                                      - type: object
                                                        required:
                                                        - type
                                                        - val
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - string
                                                          val:
                                                            type: string
                                                      - type: object
                                                        required:
                                                        - type
                                                        - val
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - datetime
                                                          val:
                                                            type: string
                                                      - type: object
                                                        required:
                                                        - type
                                                        - val
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - error
                                                          val:
                                                            type: string
                                                      - type: object
                                                        required:
                                                        - type
                                                        - val
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - record
                                                          val:
                                                            type: object
                                                            additionalProperties: {}
                                                      - type: object
                                                        required:
                                                        - type
                                                        - val
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - array
                                                          val:
                                                            oneOf:
                                                            - type: object
                                                              required:
                                                              - type
                                                              - data
                                                              properties:
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                  - boolArr
                                                                data:
                                                                  type: array
                                                                  items:
                                                                    type:
                                                                    - boolean
                                                                    - 'null'
                                                            - type: object
                                                              required:
                                                              - type
                                                              - data
                                                              properties:
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                  - numberArr
                                                                data:
                                                                  type: array
                                                                  items:
                                                                    type:
                                                                    - number
                                                                    - 'null'
                                                            - type: object
                                                              required:
                                                              - type
                                                              - data
                                                              properties:
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                  - bigintArr
                                                                data:
                                                                  type: array
                                                                  items:
                                                                    type:
                                                                    - string
                                                                    - 'null'
                                                            - type: object
                                                              required:
                                                              - type
                                                              - data
                                                              properties:
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                  - stringArr
                                                                data:
                                                                  type: array
                                                                  items:
                                                                    type:
                                                                    - string
                                                                    - 'null'
                                                            - type: object
                                                              required:
                                                              - type
                                                              - data
                                                              properties:
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                  - datetimeArr
                                                                data:
                                                                  type: array
                                                                  items:
                                                                    type:
                                                                    - number
                                                                    - 'null'
                                                            - type: object
                                                              required:
                                                              - type
                                                              - data
                                                              properties:
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                  - bytesArr
                                                                data:
                                                                  type: array
                                                                  items:
                                                                    type:
                                                                    - string
                                                                    - 'null'
                                                            - type: object
                                                              required:
                                                              - type
                                                              - data
                                                              properties:
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                  - variantArr
                                                                data:
                                                                  type: array
                                                                  items:
                                                                    type:
                                                                    - string
                                                                    - 'null'
                                                      - type: object
                                                        required:
                                                        - type
                                                        - val
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - variant
                                                          val:
                                                            type: string
                                                      type: 'null'
                                      - type: object
                                        required:
                                        - type
                                        - conditions
                                        properties:
                                          type:
                                            type: string
                                            enum:
                                            - worksheet
                                          conditions:
                                            type: array
                                            items:
                                              oneOf:
                                              - type: object
                                                required:
                                                - type
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - isEmpty
                                              - type: object
                                                required:
                                                - type
                                                properties:
                                                  type:
                                                    type: string
                                                    enum:
                                                    - isNotEmpty
                                              - allOf:
                                                - type: object
                                                  required:
                                                  - type
                                                  - mode
                                                  - columnId
                                                  - op
                                                  properties:
                                                    type:
                                                      type: string
                                                      enum:
                                                      - queryColumn
                                                    mode:
                                                      oneOf:
                                                      - type: string
                                                        enum:
                                                        - any
                                                      - type: string
                                                        enum:
                                                        - all
                                                    columnId:
                                                      type: string
                                                    op:
                                                      type: string
                                                      enum:
                                                      - Equals
                                                      - GreaterThan
                                                      - GreaterThanEq
                                                      - LessThan
                                                      - LessThanEq
                                                      - NotEquals
                                                      - IsNotNull
                                                      - IsNull
                                                      - Contains
                                                      - StartsWith
                                                      - EndsWith
                                                - type: object
                                                  properties:
                                                    value:
                                                      oneOf:
                                                      - type: object
                                                        required:
                                                        - type
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - 'null'
                                                      - type: object
                                                        required:
                                                        - type
                                                        - val
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - bool
                                                          val:
                                                            type: boolean
                                                      - type: object
                                                        required:
                                                        - type
                                                        - val
                                                        properties:
                                                          type:
                                                            type: string
                                                            enum:
                                                            - number
                                                          val:
                                                            type: number
                                                      - type: object
                                                        required:
                                                        - type
                                                        - val
                                                        properties:
[...]
